.accordion__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    background: $white;
    padding: 2rem 2rem 2rem 4rem;
    transition: 0.5s border-radius ease-in;
    cursor: pointer;

    @include small-tablet {
        padding: 1.6rem 1.6rem 1.6rem 4rem;
        border-radius: 4rem;
        gap: 1.8rem;
    }

    &-title {
        color: $black;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1.8rem;
        font-family: 'Philosopher';

        @include small-tablet {
            font-size: 4rem;
            line-height: 120%;
        }

        span {
            color: $grey;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            font-family: 'Philosopher';
        }
    }

    &-icon {
        width: 100%;
        max-width: 6rem;
        height: 6rem;
        transition: 0.3s transform ease-in-out;

        @include small-tablet {
            max-width: 8.4rem;
            height: 8.4rem;
        }
    }
}
