.btn-primary {
    @extend %flexCenter;
    border-radius: 1.8rem;
    background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
    width: fit-content;
    padding: 1.9rem 4rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    position: relative;

    @include small-tablet {
        padding: 2.7rem 4rem;
        border-radius: 2.8rem;
    }

    span {
        position: relative;
        z-index: 4;
    }

    &:hover {
        &::after {
            opacity: 0.4;
        }
    }

    &::after {
        @include pseudo {
            border-radius: 1.8rem;
            opacity: 0;
            background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
            filter: blur(0.5rem);
            z-index: 2;
            inset: -0.4rem;
            transition: 0.3s opacity ease-out;
        }
    }

    span {
        @extend %regularCaps18;
        color: $white;

        @include small-tablet {
            font-family: Gilroy;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
}

.btn-details {
    margin-top: 3.8rem;
    margin-left: auto;

    &.--desc {
        display: flex;

        @include small-tablet {
            display: none;
        }
    }

    &.--mob {
        @include small-tablet {
            display: flex;
            margin: 6.4rem auto 0;
        }
    }
}

.btn-secondary {
    @extend %flexCenter;
    width: fit-content;
    cursor: pointer;
    column-gap: 1.6rem;
    display: flex;
    align-items: center;

    @include small-tablet {
        gap: 3.2rem;
    }

    span {
        @extend %medium18Caps;
        @extend %gradientColor;

        @include small-tablet {
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    img,
    svg {
        @include sizes(4.4rem, 100%);

        @include small-tablet {
            @include sizes(8.8rem, 100%);
        }
    }
}

.button-up {
    @media (min-width: 48em) {
        display: none;
    }

    @include small-tablet {
        position: fixed;
        bottom: 10rem;
        right: 3.2rem;
        padding: 1.6rem;
        max-width: 9.6rem;
        width: 100%;
        height: 9.6rem;
        border-radius: 2.4rem;
        background: $white;
        z-index: 5;
        opacity: 0;
        transform: translateY(-5rem);
        user-select: none;
        pointer-events: none;
        visibility: hidden;
        transition: 0.3s all ease;

        &.visible {
            opacity: 1;
            transform: translateY(0);
            user-select: auto;
            pointer-events: auto;
            visibility: visible;
        }

        img {
            height: 100%;
        }
    }
}
