.contacts {
    margin-top: 20rem;
    margin-bottom: 20rem;

    &__main {
        @include small-tablet {
            width: 100%;
        }
    }

    &__title {
        @include small-tablet {
            text-align: center;
        }
    }

    &__container {
        @extend %flexCenterBetween;
        column-gap: 11.5rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 7.4rem;
        }
    }

    &__items {
        @extend %flexCenter;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: flex-start;
        }
    }

    &__item {
        display: flex;
        column-gap: 1.6rem;

        @include small-tablet {
            align-items: center;
            gap: 3.2rem;
            width: 100%;
        }

        a {
            @extend %gradientColorTxt;
        }

        &:not(:last-child) {
            margin-right: 6.8rem;

            @include small-tablet {
                margin-right: 0;
            }
        }
    }

    &__circle {
        background-color: $white;
        border-radius: 50%;
        padding: 2.3rem;

        img {
            @include sizes(5.4rem, 5.4rem);
        }
    }

    &__desc {
        margin-top: 2.2rem;
        max-width: 24.7rem;

        @include small-tablet {
            max-width: 100%;
            margin-top: 0;
        }
    }

    &__desc-title {
        @extend %semibold20;
        margin-bottom: 0.8rem;

        @include small-tablet {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }

    &__desc-txt {
        @extend %regular20;

        @include small-tablet {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }

    &__time {
        @extend %flexColumn;
        align-items: center;
        position: relative;
        padding-top: 2.4rem;

        @include small-tablet {
            width: 100%;
        }
    }

    &__time-title {
        @extend %flexCenter;
        border-radius: 1.8rem;
        background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
        padding: 1.8rem 3.8rem;
        width: fit-content;
        position: absolute;
        top: -0.2rem;
        z-index: 2;

        @include small-tablet {
            padding: 1.4rem 4rem;
            border-radius: 3.6rem;
            top: -0.8rem;
        }

        span {
            @extend %philoCaps28;
            color: $white;

            @include small-tablet {
                font-size: 4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
        }
    }

    &__time-block {
        @include sizes(54.7rem, 23.7rem);
        border-radius: 1.8rem;
        background-color: $white;
        backdrop-filter: blur(0.35rem);
        display: flex;
        justify-content: center;
        padding-top: 6rem;

        @include small-tablet {
            max-width: 100%;
            width: 100%;
            height: initial;
            padding: 7.6rem 7.6rem 4rem;
            border-radius: 2.8rem;
        }
    }

    &__time-item {
        @extend %flexColumn;
        row-gap: 1.2rem;
        align-items: center;
        justify-content: center;

        @include small-tablet {
            flex-direction: column;
            gap: 1.6rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.8rem;

            @include small-tablet {
                margin-bottom: 4rem;
            }
        }
    }

    &__time-day {
        @extend %semibold18;
        line-height: 2.16rem;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }

    &__time-desc {
        @extend %regular18;
        color: $grey;
        line-height: 2.16rem;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }
}
.body-male {
    .contacts__time-title {
        background: linear-gradient(231deg, #d659c2 0%, #a261f9 100%);
    }
}
.body-fem {
    .contacts__time-title {
        background: linear-gradient(227deg, #d65986 0%, #c668dd 100%);
    }
}