.header {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 40.67%, rgba(255, 255, 255, 0) 88.81%);
    backdrop-filter: blur(1.5rem);
    margin-bottom: 4.8rem;
    position: relative;
    z-index: 10;

    @include small-tablet {
        margin-bottom: 6.4rem;
        position: relative;
        z-index: 301;
    }

    &__nav {
        margin-right: -7rem;
        @include small-tablet {
            margin-right: 0;
        }
    }

    &__container {
        @extend %flexCenterBetween;
        padding: 2rem 0;
    }

    &__phone {
        @extend %flexCenterBetween;
        column-gap: 1.6rem;
    }

    &__phone-icon {
        @include sizes(3.6rem, 3.6rem);
    }

    &__phone-number {
        @extend %semibold20;
        @extend %gradientColorTxt;
        color: $black;
        margin-bottom: 0.4rem;
    }

    &__phone-adres {
        @extend %regular18;
        color: $grey;
        display: block;
    }

    &__menu {
        @extend %flexCenter;
        column-gap: 2.8rem;
        position: relative;
        z-index: 2;

        &-navbar {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: #f3f0ff;
            padding: 18rem 10rem 4rem;
            z-index: -1;
            transform: translateY(8rem);
            opacity: 0;
            transition:
                0.3s transform ease-out,
                0.3s opacity ease-out;
            user-select: none;
            pointer-events: none;
            min-height: 86.4rem;

            &.--active {
                transform: translateY(0);
                opacity: 1;
                user-select: auto;
                pointer-events: auto;
            }

            @include small-tablet {
                display: none;
            }

            &::after {
                @include pseudo {
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 13.5rem;
                    height: 0.1rem;
                    background: $white;
                }
            }

            &::before {
                @include pseudo {
                    top: -0.8rem;
                    inset: 0;
                    height: 5rem;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                backdrop-filter: blur(3rem);
                background: rgba(255, 255, 255, 0.5);
                border-radius: 1.8rem;
                border: 0.2rem solid $white;
                max-width: 50.7rem;
                width: 100%;
            }

            &-item {
                transition: 0.3s background ease-out;

                &:hover,
                &.--active {
                    > .header__menu-navbar-item-content {
                        display: block;
                    }

                    > .header__menu-navbar-item-wrapper {
                        background: rgba(255, 255, 255, 0.5);

                        .header__menu-navbar-item-title {
                            background-position: top left 100%;
                        }

                        .header__menu-navbar-item-icon-arrow {
                            opacity: 1;
                        }
                    }
                }

                &-wrapper {
                    padding: 1rem 0rem 1rem 2rem;
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    cursor: pointer;

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);

                        .header__menu-navbar-item-title {
                            background-position: top left 100%;
                        }

                        .header__menu-navbar-item-icon-arrow {
                            opacity: 1;
                        }
                    }
                }

                &-icon {
                    max-width: 5rem;
                    width: 100%;
                    height: 5rem;
                    border-radius: 1rem;

                    img {
                        height: 100%;
                        border-radius: inherit;
                    }

                    &-arrow {
                        display: block;
                        margin-left: auto;
                        max-width: 2.4rem;
                        width: 100%;
                        height: 2.4rem;
                        margin-right: 2rem;
                        opacity: 0;
                        transition: 0.3s opacity ease-out;
                    }
                }

                &-title {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 140%;
                    color: #282828;
                    background-image: linear-gradient(
                        to right,
                        $black,
                        $black 50%,
                        #d65986 -15.39%,
                        #a261f9 112.18%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 300% 100%;
                    background-position: top left;
                    transition: background-position 0.5s ease-out;
                }

                &-content {
                    position: absolute;
                    max-width: 111.3rem;
                    width: 100%;
                    left: 58.5rem;
                    top: 2rem;
                    display: none;

                    &-title {
                        font-weight: 400;
                        font-size: 2.8rem;
                        line-height: 120%;
                        text-transform: uppercase;
                        color: #282828;
                        font-family: 'Philosopher';
                        margin-bottom: 4.8rem;
                        display: block;
                    }

                    &-catalog {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .header__menu-navbar-item {
                            &:hover {
                                .header__menu-navbar-item-content {
                                    display: block;
                                }
                            }
                        }

                        .header__menu-navbar-item-content {
                            left: 58.5rem;
                        }
                    }

                    &-list {
                        max-width: 50.4rem;
                        width: 100%;
                        background: rgba(255, 255, 255, 0.5);
                        border: 0.2rem solid $white;
                        border-radius: 1.8rem;
                        padding: 1rem 0;
                    }

                    &-categories {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding-right: 12.7rem;
                        overflow: hidden scroll;
                        max-height: 55rem;
                        margin-top: 5rem;
                        width: 55rem;
                        overscroll-behavior: contain;

                        &::-webkit-scrollbar {
                            border-radius: 50%;
                            width: 0.6rem;
                        }

                        &::-webkit-scrollbar-track {
                            background: rgba(255, 255, 255, 0.3);
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #d5cfed;
                        }
                    }

                    &-category {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 3rem;

                            figure {
                                max-width: 5rem;
                                width: 100%;
                                height: 5rem;
                                border-radius: 1rem;

                                img {
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: inherit;
                                }
                            }

                            span {
                                font-weight: 400;
                                font-size: 1.8rem;
                                line-height: 140%;
                                color: #282828;
                            }
                        }
                    }
                }
            }
        }

        &-about-navbar {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: #f3f0ff;
            padding: 15.5rem 10rem 2rem;
            z-index: -1;
            transform: translateY(8rem);
            opacity: 0;
            transition:
                0.3s transform ease-out,
                0.3s opacity ease-out;
            user-select: none;
            pointer-events: none;
            min-height: 45rem;
            display: flex;
            gap: 4rem;

            &.--active {
                transform: translateY(0);
                opacity: 1;
                user-select: auto;
                pointer-events: auto;
            }

            @include small-tablet {
                display: none;
            }

            &::after {
                @include pseudo {
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 13.5rem;
                    height: 0.1rem;
                    background: $white;
                }
            }

            &::before {
                @include pseudo {
                    top: -0.8rem;
                    inset: 0;
                    height: 5rem;
                }
            }

            // .header__menu-about-navbar-list

            &-list {
                display: flex;
                flex-direction: column;
                background: white;
                border-radius: 1.8rem;
                border: 0.2rem solid $white;
                width: 84rem;
                padding: 1rem;
                gap: 1rem;
                position: relative;
            }

            // .header__menu-about-navbar-item

            &-item {
                transition: 0.3s background ease-out;
                &:hover {
                    > .header__menu-about-navbar-item-wrapper {
                        background: #f3f0ff;
                        .header__menu-about-navbar-item-title {
                            background-position: top left 100%;
                        }
                    }
                }
            }

            // .header__menu-about-navbar-item-wrapper

            &-item-wrapper {
                padding: 1rem;
                border-radius: 1.8rem;
                display: flex;
                align-items: center;
                gap: 3rem;
                cursor: pointer;
                transition: background 0.3s;
                &:hover {
                    .header__menu-navbar-item-title {
                        background-position: top left 100%;
                    }
                }
            }

            // .header__menu-about-navbar-item-img

            &-item-img {
                border-radius: 1rem;
                width: 5rem;
                height: 5rem;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            // .header__menu-about-navbar-item-title

            &-item-title {
                font-weight: 600;
                font-size: 2rem;
                line-height: 120%;
                color: $black;
                background-image: linear-gradient(
                    to right,
                    $black,
                    $black 50%,
                    #d65986 -15.39%,
                    #a261f9 112.18%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 300% 100%;
                background-position: top left;
                transition: background-position 0.5s ease-out;
            }

            // .header__menu-about-navbar-item-content

            &-item-content {
                width: 84rem;
                border-radius: 1.8rem;
                background: rgba(255, 255, 255, 0.5);
                border: 0.2rem solid $white;
                backdrop-filter: blur(30px);
                height: auto;
                padding: 2.6rem 3.2rem;
                display: flex;
                flex-direction: column;
                gap: 2.3rem;
            }

            // .header__menu-about-navbar-item-content-title-box

            &-item-content-title-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            // .header__menu-about-navbar-item-content-title

            &-item-content-title {
                font-weight: 400;
                font-size: 2.8rem;
                line-height: 120%;
                text-transform: uppercase;
                width: 46.6rem;
                font-family: 'Philosopher';
            }

            // .header__menu-about-navbar-item-content-price-box

            &-item-content-price-box {
                padding: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.2rem;
                border-radius: 1.8rem;
                background-color: $white;
            }

            // .header__menu-about-navbar-item-content-price

            &-item-content-price {
                font-family: 'Philosopher';
                font-weight: 400;
                font-size: 3.2rem;
                line-height: 120%;
                text-transform: uppercase;
                & span {
                    font-size: 2.8rem;
                }
            }

            // .header__menu-about-navbar-item-content-price-text

            &-item-content-price-text {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 120%;
            }

            // .header__menu-about-navbar-item-content-swiper-box

            &-item-content-swiper-box {
                background-color: $white;
                padding: 0.8rem 0;
                width: 84rem;
                margin: 0 -3.2rem;
            }

            // .header__menu-about-navbar-item-content-swiper

            &-item-content-swiper {
            width: 100%;
            }

            // .header__menu-about-navbar-item-content-swiper-wrapper

            &-item-content-swiper-wrapper {
                transition-timing-function: linear;
            }

            // .header__menu-about-navbar-item-content-swiper-slide

            &-item-content-swiper-slide {
                width: fit-content !important;
            }

            // .header__menu-about-navbar-item-content-slide-text

            &-item-content-slide-text {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 120%;
                text-transform: uppercase;
                text-align: center;
                background: linear-gradient(244deg, #d65986 0%, #a261f9 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            // .header__menu-about-navbar-item-content-sale-box

            &-item-content-sale-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            // .header__menu-about-navbar-item-content-sale-text

            &-item-content-sale-text {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 140%;
                width: 34.9rem;
            }

            // .header__menu-about-navbar-item-content-sale-link

            &-item-content-sale-link {
            }
        }
    }

    &__item {
        a {
            @extend %regularCaps18;
            @extend %gradientColorTxt;
        }
    }

    &__btns {
        @extend %flexCenter;
        column-gap: 2.8rem;
    }

    &__gender {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &-conscious {
            border-radius: 1.2rem;
            background: $white;
            padding: 0.5rem;
            display: flex;
            align-items: center;

            a {
                @include sizes(5rem, 5rem);
                @extend %flexCenter;
                border-radius: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    @include pseudo {
                        inset: 0;
                        z-index: 1;
                        transition: 0.3s opacity ease-in;
                        border-radius: 0.8rem;
                        background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                        opacity: 0;
                    }
                }

                &:hover {
                    svg path {
                        stroke: $white;
                    }

                    &::after {
                        opacity: 1;
                    }
                }

                svg {
                    @include sizes(2.4rem, 2.4rem);
                    position: relative;
                    z-index: 2;

                    path {
                        transition: 0.3s stroke ease-in;
                    }
                }

                &.--active {
                    svg path {
                        stroke: $white;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &-neutral {
            width: 100%;
            height: 0.8rem;
            border-radius: 0.8rem;
            position: relative;
            background: #fff;

            &.--active {
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                @include pseudo {
                    inset: 0;
                    z-index: 1;
                    transition: 0.3s opacity ease-in;
                    border-radius: 0.8rem;
                    background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                    opacity: 0;
                }
            }

            &:hover {
                &::after {
                    opacity: 1;
                }

                background-position: top left 100%;
            }
        }
    }

    &__burger-menu {
        display: none;

        @include small-tablet {
            display: block;
            position: fixed;
            z-index: 300;
            top: 0;
            left: 0;
            width: 100%;
            height: 100dvh;
            transition: 0.8s transform ease;
            transform: translateX(-100%);

            &.--active {
                transform: translateX(0);

                .header__menu-close {
                    opacity: 1;
                }
            }
        }
    }

    &__menu {
        &-button {
            margin-bottom: 4rem;
        }

        &-close {
            position: absolute;
            right: 3.2rem;
            top: 4.8rem;
            max-width: 4.8rem;
            width: 100%;
            height: 4.8rem;
            transition: 0.3s opacity ease;
            opacity: 0;

            img {
                height: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            min-height: inherit;
            border-radius: 0rem 2.8rem 2.8rem 0rem;
            height: 100%;
            padding: 8rem 3.2rem 8.8rem;
            background: radial-gradient(
                    31.12% 17.8% at 30.31% 46.13%,
                    rgba(255, 255, 255, 0.5) 0%,
                    rgba(255, 255, 255, 0) 100%
                ),
                linear-gradient(193deg, rgba(238, 234, 255, 0.3) 23.28%, rgba(238, 234, 255, 0) 41.01%),
                linear-gradient(115deg, #efe6ff 33.58%, rgba(239, 230, 255, 0) 53.79%),
                linear-gradient(124deg, rgba(231, 221, 255, 0.8) 41.5%, rgba(231, 221, 255, 0) 61.87%),
                linear-gradient(248deg, #e0dafd 13.09%, rgba(224, 218, 253, 0) 34.9%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), #cfc3ec;
            max-width: 59rem;
            width: 100%;

            &-wrapper {
                max-height: 110rem;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        }

        &-logo {
            margin: 0 auto 6.4rem;
            max-width: 9.3rem;
            width: 100%;
            height: 12rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 3.8rem;
            margin-bottom: 4.8rem;
        }

        &-item {
            width: 100%;
            padding-bottom: 4rem;
            position: relative;

            &:has(.header__menu-item-heading-icon) {
                border-bottom: 0.1rem solid $white;
            }

            &::after {
                @include pseudo {
                    top: 1.6rem;
                    left: 0;
                    max-width: 1.6rem;
                    width: 100%;
                    height: 1.6rem;
                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    border-radius: 50%;
                }
            }

            &-heading {
                padding-left: 4.8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.--active {
                    .header__menu-item-heading-icon {
                        transform: rotate(-180deg);
                    }
                }

                &-title {
                    color: $black;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                &-icon {
                    max-width: 4.8rem;
                    width: 100%;
                    height: 4.8rem;
                    transition: 0.3s transform ease;

                    img {
                        height: 100%;
                    }
                }
            }

            &-dropdown {
                padding-left: 4.8rem;
                margin-top: 0;
                transition:
                    0.3s margin ease,
                    0.5s grid-template-rows ease;
                display: grid;
                grid-template-rows: 0fr;

                &.--active {
                    margin-top: 4rem;
                    grid-template-rows: 1fr;
                }

                &-wrapper {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 3.2rem;
                }

                &-item {
                    a {
                        display: inline-block;
                        color: $black;
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }

        &-contacts {
            padding-top: 4.8rem;
            width: 100%;
            border-top: 0.1rem solid $white;
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
            margin-top: auto;
        }

        &-contact {
            a {
                display: flex;
                align-items: center;
                gap: 2.4rem;
                max-width: 90%;
            }

            &-icon {
                max-width: 4.8rem;
                width: 100%;
                height: 4.8rem;

                img {
                    height: 100%;
                }
            }

            span {
                color: $black;
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .header {
        background: none;

        &__container {
            padding: 0.8rem 0;
        }

        &__phone {
            display: none;
        }

        &__phone-icon {
            @include sizes(3.6rem, 3.6rem);
        }

        &__phone-number {
            @extend %semibold20;
            color: $black;
            margin-bottom: 0.4rem;
        }

        &__phone-adres {
            @extend %regular18;
            color: $grey;
            display: block;
        }

        &__menu {
            .header__item {
                display: none;
            }
            .logo-santefam {
                display: block;
            }
        }

        &__item {
            a {
                @extend %regularCaps18;
            }
        }

        &__btns {
            display: none;
        }

        &__tel,
        &__burger {
            @include sizes(4.8rem, 4.8rem);
        }
    }
}

.main-body-bg {
    display: none;
    position: absolute;
    z-index: -1;
    img {
        width: 100%;
    }
    .main-body-bg--netral {
        display: block;
    }
    .main-body-bg--man {
        display: none;
    }
    .main-body-bg--fem {
        display: none;
    }
    .mobile {
        display: none;
    }
}

body {
    background: #e9e5fd url('./assets/images/body/body--netral.webp') no-repeat top/cover;

    &.body-male {
        background: #e9e5fd url('./assets/images/body/body--man.webp') no-repeat top/cover;
    }
    &.body-fem {
        background: #e9e5fd url('./assets/images/body/body--fem.webp') no-repeat top/cover;
    }
}

.body-male {
    .header__gender-neutral::after {
        background: linear-gradient(231deg, #d659c2 0%, #a261f9 100%);
    }
    .header__gender-conscious a::after {
        background: linear-gradient(231deg, #d659c2 0%, #a261f9 100%);
    }
    .main-body-bg {
        .main-body-bg--netral {
            display: none;
        }
        .main-body-bg--man {
            display: block;
        }
        .main-body-bg--fem {
            display: none;
        }
    }
}
.body-fem {
    .header__gender-neutral::after {
        background: linear-gradient(227deg, #d65986 0%, #c668dd 100%);
    }
    .header__gender-conscious a::after {
        background: linear-gradient(227deg, #d65986 0%, #c668dd 100%);
    }
    .main-body-bg {
        .main-body-bg--netral {
            display: none;
        }
        .main-body-bg--man {
            display: none;
        }
        .main-body-bg--fem {
            display: block;
        }
    }
}

@media screen and (max-width: 48em) {
    .main-body-bg {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
    }

    body {
        background-image: url('./assets/images/body/body--netral-mob.webp');

        &.body-male {
            background-image: url('./assets/images/body/body--man-mob.webp');
        }
        &.body-fem {
            background-image: url('./assets/images/body/body--fem-mob.webp');
        }
    }
}
