.header {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 40.67%, rgba(255, 255, 255, 0) 88.81%);
    backdrop-filter: blur(1.5rem);
    margin-bottom: 4.8rem;

    @include small-tablet {
        margin-bottom: 6.4rem;
    }

    &__container {
        @extend %flexCenterBetween;
        padding: 2rem 0;
    }

    &__phone {
        @extend %flexCenterBetween;
        column-gap: 1.6rem;
    }

    &__phone-icon {
        @include sizes(3.6rem, 3.6rem);
    }

    &__phone-number {
        @extend %semibold20;
        @extend %gradientColorTxt;
        color: $black;
        margin-bottom: 0.4rem;
    }

    &__phone-adres {
        @extend %regular18;
        color: $grey;
        display: block;
    }

    &__menu {
        @extend %flexCenter;
        column-gap: 2.8rem;
        margin-right: -7rem;
    }

    &__item {
        a {
            @extend %regularCaps18;
            @extend %gradientColorTxt;
        }
    }

    &__btns {
        @extend %flexCenter;
        column-gap: 2.8rem;
    }

    &__gender {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &-conscious {
            border-radius: 1.2rem;
            background: $white;
            padding: 0.5rem;
            display: flex;
            align-items: center;

            a {
                @include sizes(5rem, 5rem);
                @extend %flexCenter;
                border-radius: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    @include pseudo {
                        inset: 0;
                        z-index: 1;
                        transition: 0.3s opacity ease-in;
                        border-radius: 0.8rem;
                        background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                        opacity: 0;
                    }
                }

                &:hover {
                    svg path {
                        stroke: $white;
                    }

                    &::after {
                        opacity: 1;
                    }
                }

                svg {
                    @include sizes(2.4rem, 2.4rem);
                    position: relative;
                    z-index: 2;

                    path {
                        transition: 0.3s stroke ease-in;
                    }
                }

                &.--active {
                    svg path {
                        stroke: $white;
                    }
                }
            }
        }

        &-neutral {
            width: 100%;
            height: 0.8rem;
            border-radius: 0.8rem;
            position: relative;
            background: #fff;

            &.--active {
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                @include pseudo {
                    inset: 0;
                    z-index: 1;
                    transition: 0.3s opacity ease-in;
                    border-radius: 0.8rem;
                    background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                    opacity: 0;
                }
            }

            &:hover {
                &::after {
                    opacity: 1;
                }

                background-position: top left 100%;
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .header {
        background: none;

        &__container {
            padding: 0.8rem 0;
        }

        &__phone {
            display: none;
        }

        &__phone-icon {
            @include sizes(3.6rem, 3.6rem);
        }

        &__phone-number {
            @extend %semibold20;
            color: $black;
            margin-bottom: 0.4rem;
        }

        &__phone-adres {
            @extend %regular18;
            color: $grey;
            display: block;
        }

        &__menu {
            .header__item {
                display: none;
            }
            .logo-santefam {
                display: block;
            }
        }

        &__item {
            a {
                @extend %regularCaps18;
            }
        }

        &__btns {
            display: none;
        }

        //&__gender {
        //    padding: 0.5rem;
        //    background-color: $white;
        //    border-radius: 1.2rem;
        //    display: flex;
        //    column-gap: 0.2rem;
        //
        //    button {
        //        @include sizes(5rem, 5rem);
        //        @extend %flexCenter;
        //        border-radius: 0.8rem;
        //
        //        svg {
        //            @include sizes(2.4rem, 2.4rem);
        //        }
        //
        //        &.--active {
        //            background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
        //
        //            svg path {
        //                stroke: $white;
        //            }
        //        }
        //    }
        //}

        &__tel,
        &__burger {
            @include sizes(4.8rem, 4.8rem);
        }
    }
}
