.header {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 40.67%, rgba(255, 255, 255, 0) 88.81%);
    backdrop-filter: blur(1.5rem);
    margin-bottom: 4.8rem;

    @include small-tablet {
        margin-bottom: 6.4rem;
        position: relative;
        z-index: 200;
    }

    &__container {
        @extend %flexCenterBetween;
        padding: 2rem 0;
    }

    &__phone {
        @extend %flexCenterBetween;
        column-gap: 1.6rem;
    }

    &__phone-icon {
        @include sizes(3.6rem, 3.6rem);
    }

    &__phone-number {
        @extend %semibold20;
        @extend %gradientColorTxt;
        color: $black;
        margin-bottom: 0.4rem;
    }

    &__phone-adres {
        @extend %regular18;
        color: $grey;
        display: block;
    }

    &__menu {
        @extend %flexCenter;
        column-gap: 2.8rem;
        margin-right: -7rem;
    }

    &__item {
        a {
            @extend %regularCaps18;
            @extend %gradientColorTxt;
        }
    }

    &__btns {
        @extend %flexCenter;
        column-gap: 2.8rem;
    }

    &__gender {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &-conscious {
            border-radius: 1.2rem;
            background: $white;
            padding: 0.5rem;
            display: flex;
            align-items: center;

            a {
                @include sizes(5rem, 5rem);
                @extend %flexCenter;
                border-radius: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    @include pseudo {
                        inset: 0;
                        z-index: 1;
                        transition: 0.3s opacity ease-in;
                        border-radius: 0.8rem;
                        background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                        opacity: 0;
                    }
                }

                &:hover {
                    svg path {
                        stroke: $white;
                    }

                    &::after {
                        opacity: 1;
                    }
                }

                svg {
                    @include sizes(2.4rem, 2.4rem);
                    position: relative;
                    z-index: 2;

                    path {
                        transition: 0.3s stroke ease-in;
                    }
                }

                &.--active {
                    svg path {
                        stroke: $white;
                    }
                }
            }
        }

        &-neutral {
            width: 100%;
            height: 0.8rem;
            border-radius: 0.8rem;
            position: relative;
            background: #fff;

            &.--active {
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                @include pseudo {
                    inset: 0;
                    z-index: 1;
                    transition: 0.3s opacity ease-in;
                    border-radius: 0.8rem;
                    background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                    opacity: 0;
                }
            }

            &:hover {
                &::after {
                    opacity: 1;
                }

                background-position: top left 100%;
            }
        }
    }

    &__burger-menu {
        position: fixed;
        z-index: 300;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        transition: 0.8s transform ease 0.1s;
        transform: translateX(-100%);

        &.--active {
            transform: translateX(0);

            .header__menu-close {
                opacity: 1;
            }
        }
    }

    &__menu {
        &-button {
            margin-bottom: 4rem;
        }

        &-close {
            position: absolute;
            right: 3.2rem;
            top: 4.8rem;
            max-width: 4.8rem;
            width: 100%;
            height: 4.8rem;
            transition: 0.3s opacity ease 0.8s;
            opacity: 0;

            img {
                height: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            min-height: inherit;
            border-radius: 0rem 2.8rem 2.8rem 0rem;
            height: 100%;
            padding: 8rem 3.2rem 8.8rem;
            background: radial-gradient(
                    31.12% 17.8% at 30.31% 46.13%,
                    rgba(255, 255, 255, 0.5) 0%,
                    rgba(255, 255, 255, 0) 100%
                ),
                linear-gradient(193deg, rgba(238, 234, 255, 0.3) 23.28%, rgba(238, 234, 255, 0) 41.01%),
                linear-gradient(115deg, #efe6ff 33.58%, rgba(239, 230, 255, 0) 53.79%),
                linear-gradient(124deg, rgba(231, 221, 255, 0.8) 41.5%, rgba(231, 221, 255, 0) 61.87%),
                linear-gradient(248deg, #e0dafd 13.09%, rgba(224, 218, 253, 0) 34.9%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), #cfc3ec;
            max-width: 59rem;
            width: 100%;

            &-wrapper {
                max-height: 110rem;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        }

        &-logo {
            margin: 0 auto 6.4rem;
            max-width: 9.3rem;
            width: 100%;
            height: 12rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 3.8rem;
            margin-bottom: 4.8rem;
        }

        &-item {
            width: 100%;
            padding-bottom: 4rem;
            position: relative;

            &:has(.header__menu-item-heading-icon) {
                border-bottom: 0.1rem solid $white;
            }

            &::after {
                @include pseudo {
                    top: 1.6rem;
                    left: 0;
                    max-width: 1.6rem;
                    width: 100%;
                    height: 1.6rem;
                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    border-radius: 50%;
                }
            }

            &-heading {
                padding-left: 4.8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.--active {
                    .header__menu-item-heading-icon {
                        transform: rotate(-180deg);
                    }
                }

                &-title {
                    color: $black;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                &-icon {
                    max-width: 4.8rem;
                    width: 100%;
                    height: 4.8rem;
                    transition: .3s transform ease;

                    img {
                        height: 100%;
                    }
                }
            }

            &-dropdown {
                padding-left: 4.8rem;
                margin-top: 0;
                transition:
                    0.3s margin ease,
                    0.5s grid-template-rows ease;
                display: grid;
                grid-template-rows: 0fr;

                &.--active {
                    margin-top: 4rem;
                    grid-template-rows: 1fr;
                }

                &-wrapper {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 3.2rem;
                }

                &-item {
                    a {
                        display: inline-block;
                        color: $black;
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }

        &-contacts {
            padding-top: 4.8rem;
            width: 100%;
            border-top: 0.1rem solid $white;
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
            margin-top: auto;
        }

        &-contact {
            a {
                display: flex;
                align-items: center;
                gap: 2.4rem;
                max-width: 90%;
            }

            &-icon {
                max-width: 4.8rem;
                width: 100%;
                height: 4.8rem;

                img {
                    height: 100%;
                }
            }

            span {
                color: $black;
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .header {
        background: none;

        &__container {
            padding: 0.8rem 0;
        }

        &__phone {
            display: none;
        }

        &__phone-icon {
            @include sizes(3.6rem, 3.6rem);
        }

        &__phone-number {
            @extend %semibold20;
            color: $black;
            margin-bottom: 0.4rem;
        }

        &__phone-adres {
            @extend %regular18;
            color: $grey;
            display: block;
        }

        &__menu {
            .header__item {
                display: none;
            }
            .logo-santefam {
                display: block;
            }
        }

        &__item {
            a {
                @extend %regularCaps18;
            }
        }

        &__btns {
            display: none;
        }

        &__tel,
        &__burger {
            @include sizes(4.8rem, 4.8rem);
        }
    }
}
