.modal__wrapper {
    position: fixed;
    inset: 0;
    background: radial-gradient(
            31.12% 17.8% at 30.31% 46.13%,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(193deg, rgba(238, 234, 255, 0.3) 23.28%, rgba(238, 234, 255, 0) 41.01%),
        linear-gradient(115deg, #efe6ff 33.58%, rgba(239, 230, 255, 0) 53.79%),
        linear-gradient(124deg, rgba(231, 221, 255, 0.8) 41.5%, rgba(231, 221, 255, 0) 61.87%),
        linear-gradient(248deg, #e0dafd 13.09%, rgba(224, 218, 253, 0) 34.9%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), #cfc3ec;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    display: flex;
    transition: 0.3s opacity ease-in;

    &::after {
        @include pseudo {
            background: linear-gradient(261deg, #f8f8f8 8.92%, #ff3641 43.11%, rgba(252, 216, 208, 0) 43.11%),
                #ead3d4;
            opacity: 0.2;
            filter: blur(10rem);
            inset: 0;
            z-index: -1;
        }
    }

    &.--active {
        opacity: 1;
        pointer-events: auto;
    }

    .modal {
        position: relative;
        padding: 6rem;
        border-radius: 3rem;
        background: $white;
        max-width: 115.1rem;
        width: 100%;
        min-height: 63.4rem;

        transform: scale(1.15);
        will-change: transform;
        transition: 0.2s transform ease-in;

        &.--active {
            transform: scale(1);
        }

        &__close {
            cursor: pointer;
            position: absolute;
            right: 2.4rem;
            top: 2.4rem;
        }
    }
}

#request-modal,
#service-appointment-modal {
    .modal__logo {
        @include sizes(7.3rem, 9.3rem);
        margin-bottom: 2.5rem;
    }

    .modal__content {
        display: flex;
        gap: 10rem;

        &-info {
            max-width: 37.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            &-title {
                font-size: 2.7rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
                margin-bottom: 3.2rem;
                color: $black;
            }

            &-description {
                color: $black;
                font-family: Gilroy;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0;
            }

            &-phone {
                margin-top: auto;
                display: flex;
                align-items: center;
                gap: 1.2rem;

                img {
                    @include sizes(2.4rem, 2.4rem);
                }

                span {
                    color: $grey;
                    font-family: Gilroy;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    display: block;
                    letter-spacing: 0;
                    @extend %gradientColorTxt;
                }
            }
        }

        &-form {
            &-field {
                display: flex;
                flex-direction: column;
                height: 8.6rem;

                &:not(:first-child) {
                    margin-top: 1.6rem;
                }

                label {
                    color: $grey;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }

                input {
                    border-bottom: 0.1rem solid $grey;
                }
            }

            &-submit {
                margin-top: 3rem;
                display: flex;
                gap: 3.4rem;

                > button {
                    padding: 1.9rem 4rem;
                    width: fit-content;
                    height: 6rem;

                    span {
                        @extend %regular18;
                        color: $white;
                    }
                }

                &-agreement {
                    display: flex;
                    gap: 2.1rem;

                    input {
                        max-width: 1.8rem;
                        width: 100%;
                        height: 1.8rem;
                    }

                    label {
                        color: $grey;
                        font-family: Gilroy;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.92rem;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}

#service-appointment-modal {
    .modal__content-subtitle {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color: $black;
        font-family: Gilroy;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 1.6rem;

        span {
            color: $black;
            font-family: Gilroy;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }
}
