.news-card {
  @include sizes(54.7rem, 53.4rem);
  background: url('./assets/images/bg/news-card.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4rem 3.2rem;
  position: relative;

  &__title {
    @extend %philoCaps28;
    margin-bottom: 2rem;
    line-height: 95%;
  }

  &__desc {
    @extend %regular18;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $grey;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }

  &__img {
    border-radius: 2rem;

    img {
      @include sizes(48.3rem, 28.7rem);
      border-radius: 2rem;
    }
  }

  &__link {
    background: url('./assets/images/bg/substract-news.svg') no-repeat center;
    @include sizes(21.5rem, 10rem);
    background-size: contain;
    position: absolute;
    bottom: 3.8rem;
    right: 3rem;

    .btn-primary {
      width: 17.6rem;
      top: 3.8rem;
      position: absolute;
      right: 0.2rem;
    }
  }
}
