%philoCaps70 {
    font-family: Philosopher, sans-serif;
    font-size: 7rem;
    line-height: 65.5%;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 7.2rem;
    }
}

%philoCaps32 {
    font-family: Philosopher, sans-serif;
    font-size: 3.2rem;
    line-height: 3.84rem;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 4.8rem;
    }
}

%philoCaps28 {
    font-family: Philosopher, sans-serif;
    font-size: 2.8rem;
    line-height: 65.5%;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 4rem;
    }
}

%semibold20 {
    font-family: Gilroy, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;

    @media screen and (max-width: 48em) {
        font-size: 3.2rem;
    }
}

%regular20 {
    font-family: Gilroy, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
        font-weight: 500;
    }
}

%regularCaps18 {
    font-family: Gilroy, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
        font-weight: 500;
    }
}

%regular18 {
    font-family: Gilroy, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
    }
}

%medium18Caps {
    font-family: Gilroy, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
    }
}

%semibold18 {
    font-family: Gilroy, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 120%;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
    }
}

%regularCaps16 {
    font-family: Gilroy, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (max-width: 48em) {
        font-size: 2.4rem;
    }
}

%regular16 {
    font-family: Gilroy, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 120%;
}

%gradientColorTxt {
    background-image: linear-gradient(to right, $grey, $grey 33.33333%, #d65986 -15.39%, #a261f9 112.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: top left;
    transition: background-position 0.5s ease-out;

    &:hover {
        background-position: top left 100%;
    }
}

%gradientColor {
    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
