$transitionColor: color 0.3s easy;
$transitionBg: background 0.3s easy;
$transitionBgCol: background-color 0.3s easy;
$transitionVisibility: visibility 0.3s easy;
$transitionOpacity: opacity 0.3s easy;
$transitionIndex: z-index 0.3s easy;
$transitionOverflow: overflow 0.3s easy;
$transitionTransform: transform 0.3s easy;
