.devices {
    margin-bottom: 20rem;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4.8rem;

        @include small-tablet{
            margin-bottom: 6.4rem;
            justify-content: center;
        }
    }

    &__title {
        margin-bottom: 0;

        @include small-tablet{
            font-size: 7.2rem;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    &__swiper {
        margin-bottom: 4.8rem;
    }

    &__slide {
        @media (min-width: 48em) {
            width: auto !important;
            height: unset;
        }

        &.--bigger {
            .devices__slide-wrapper {
                width: 84rem;

                @include small-tablet{
                    width: 100%;
                }
            }

            .devices__slide-title {
                text-align: left;
            }

            .devices__slide-description {
                text-align: left;
                max-width: 29.9rem;
                margin: 0;
            }
        }

        &-wrapper {
            width: 40rem;
            min-height: 51rem;
            height: 100%;
            padding: 3.2rem 4rem;
            position: relative;
            display: flex;
            flex-direction: column;

            @include small-tablet{
                width: 100%;
                min-height: 87.2rem;
                padding: 4rem;
                border-radius: 2.8rem;
            }
        }

        &-image {
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;

            img {
                border-radius: inherit;

                @include small-tablet{
                    object-fit: cover;
                }
            }
        }

        &-title {
            display: block;
            margin-top: auto;
            text-align: center;
            color: $black;
            font-family: Philosopher;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;

            @include small-tablet{
                font-size: 4.8rem;
                line-height: 120%;
                margin-bottom: 2.4rem;
            }
        }

        &-description {
            color: $black;
            @extend %regular18;
            text-align: center;
            max-width: 21.9rem;
            width: 100%;
            margin: 0 auto;

            @include small-tablet{
                font-size: 2.8rem;
                line-height: 120%;
                max-width: 44rem;
            }
        }
    }

    &__link {
        @media (min-width: 48em) {
            margin-left: auto;
            display: flex;
        }
    }
}
