.specialists {
    margin-bottom: 20rem;

    @include small-tablet {
        overflow: hidden;
    }

    &__swiper {
        margin-bottom: 4.8rem;

        @include small-tablet {
            overflow: visible;
            margin-bottom: 6.4rem;
        }
    }

    &__title {
        @include small-tablet {
            text-align: center;
            margin-bottom: 6.4rem;
        }
    }

    &__slide {
        width: fit-content;
        cursor: pointer;

        &:hover {
            .specialists__slide-category {
                background: $white;
            }
        }

        &.--active {
            .specialists__slide-category {
                background: $white;

                span {
                    font-weight: 600;
                }
            }
        }

        &-category {
            padding: 1.75rem 2rem;
            backdrop-filter: blur(1.5rem);
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4rem;
            border: 0.2rem solid $white;
            transition: 0.3s background ease-in;

            @include small-tablet {
                padding: 2.4rem 4rem;
                border-radius: 20rem;
            }

            span {
                display: block;
                @extend %regular18;
                @extend %gradientColor;
                transition: 0.3s font-weight ease-in;

                @include small-tablet {
                    font-family: Gilroy;
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__list {
        display: none;
        grid-template-columns: repeat(2, minmax(84rem, 1fr));
        gap: 4rem;
        margin-bottom: 4.8rem;

        &.--active {
            display: grid;
            animation: fade-bounce 0.8s both;

            @include small-tablet {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
            }
        }
    }

    &__show-more {
        @extend %gradientColor;
        @extend %regularCaps18;
        display: flex;
        justify-content: center;

        @include small-tablet {
            justify-content: flex-start;
            font-family: Gilroy;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    &__swiper {
        &-block {
            position: relative;
        }
    }

    &-button {
        &-prev,
        &-next {
            position: absolute;
            top: 50%;

            @include small-tablet {
                display: none;
            }
        }

        &-prev {
            left: -2rem;
        }

        &-next {
            right: -2rem;
        }
    }
}
