.prices-categories {
    @include small-tablet {
        margin-bottom: 16rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4rem;
        border: 0.1rem solid $white;
        background:
            linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
            lightgray 50% / cover no-repeat;
        backdrop-filter: blur(3rem);
        min-height: 20rem;
        width: 100%;

        &-title {
            color: $white;
            text-align: center;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }

        &-image {
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }
}
