.services {
    margin-bottom: 20rem;

    .title {
        @include small-tablet {
            text-align: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(172, 1rem);

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            width: 100%;
        }
    }

    &__item {
        border-radius: 5rem;
        border: 0.2rem solid $white;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1.5rem);
        padding: 3rem 4rem 4rem 4rem;
        display: flex;
        position: relative;
        cursor: pointer;

        @include small-tablet {
            padding: 4rem;
            align-items: center;
            justify-content: space-between;
            border-radius: 3.6rem;
            gap: 2rem;
            width: 100%;
            margin: 0 !important;
            min-height: 20rem;
        }

        &:hover {
            .services__item-tit {
                background-position: top left 100%;
            }
        }
    }

    &__item-tit {
        @extend %philoCaps32;
        @extend %gradientColorTxt;
        text-transform: uppercase;
        word-break: break-word;

        @include small-tablet {
            font-family: Philosopher;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    &__item-img {
        position: absolute;

        @include small-tablet {
            position: initial;
            max-width: 18.6rem;
            width: 100%;
            height: 10.2rem;
            border-radius: 10rem;

            img {
                border-radius: inherit;
            }
        }
    }

    &__items--five {
        grid-template-rows: repeat(65, 1rem);

        .services__item {
            &__tit {
                max-width: 26rem;
            }

            &:nth-child(1) {
                grid-column: 1 / 74;
                grid-row: 1 / 38;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(49.2rem, 32.8rem);
                    top: 3rem;
                    right: 0;
                }
            }

            &:nth-child(2) {
                grid-column: 74/175;
                grid-row: 1/32;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(3) {
                grid-column: 1/70;
                grid-row: 38/66;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(4) {
                grid-column: 74/118;
                grid-row: 32/66;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(5) {
                grid-column: 118/173;
                grid-row: 32/66;

                .services__item-img {
                    @include sizes(28.6rem, 37.5rem);
                    right: 3rem;
                    bottom: 0;
                }
            }
        }
    }

    &__items--six {
        grid-template-rows: repeat(65, 1rem);

        .services__item {
            &__tit {
                max-width: 26rem;
            }

            &:nth-child(1) {
                grid-column: 1 / 60;
                grid-row: 1 / 38;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(49.2rem, 32.8rem);
                    top: 3rem;
                    right: 0;
                }
            }

            &:nth-child(2) {
                grid-column: 60/119;
                grid-row: 1/32;
                margin-bottom: 4rem;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(3) {
                grid-column: 119/175;
                grid-row: 1/32;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(4) {
                grid-column: 1/60;
                grid-row: 38/66;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(5) {
                grid-column: 60/104;
                grid-row: 32/66;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(6) {
                grid-column: 104/173;
                grid-row: 32/66;

                .services__item-img {
                    @include sizes(28.6rem, 37.5rem);
                    right: 3rem;
                    bottom: 0;
                }
            }
        }
    }

    &__items--seven {
        grid-template-rows: repeat(68, 1rem);

        .services__item {
            &__tit {
                max-width: 26rem;
            }

            &:nth-child(1) {
                grid-column: 1 / 60;
                grid-row: 1 / 38;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(49.2rem, 32.8rem);
                    top: 3rem;
                    right: -5rem;
                }
            }

            &:nth-child(2) {
                grid-column: 60/119;
                grid-row: 1/26;
                margin-bottom: 4rem;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(3) {
                grid-column: 119/175;
                grid-row: 1/26;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(4) {
                grid-column: 60/175;
                grid-row: 26/48;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(5) {
                grid-column: 1/60;
                grid-row: 38/69;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(6) {
                grid-column: 60/119;
                grid-row: 48/69;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(7) {
                grid-column: 119/173;
                grid-row: 48/69;

                .services__item-img {
                    @include sizes(18.8rem, 24.6rem);
                    right: 6rem;
                    bottom: 0;
                }
            }
        }
    }

    &__items--eight {
        grid-template-rows: repeat(90, 1rem);

        .services__item {
            &__tit {
                max-width: 26rem;
            }

            &:nth-child(1) {
                grid-column: 1 / 60;
                grid-row: 1 / 48;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(49.2rem, 32.8rem);
                    top: 12.7rem;
                    left: 10.8rem;
                }
            }

            &:nth-child(2) {
                grid-column: 60/119;
                grid-row: 1/26;
                margin-bottom: 4rem;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(3) {
                grid-column: 119/175;
                grid-row: 1/26;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(4) {
                grid-column: 60/175;
                grid-row: 26/48;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(5) {
                grid-column: 1/60;
                grid-row: 48/73;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(6) {
                grid-column: 60/119;
                grid-row: 48/73;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(18.8rem, 24.6rem);
                    right: 6rem;
                    bottom: 0;
                }
            }

            &:nth-child(7) {
                grid-column: 119/173;
                grid-row: 48/91;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }

            &:nth-child(8) {
                grid-column: 1/115;
                grid-row: 73/91;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;
                }
            }
        }
    }

    &__items--nine {
        grid-template-rows: repeat(90, 1rem);

        .services__item {
            &__tit {
                max-width: 26rem;

                @include small-tablet {
                    max-width: 100%;
                }
            }

            &:nth-child(1) {
                grid-column: 1 / 60;
                grid-row: 1 / 38;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @media (min-width: 48em) {
                        @include sizes(49.2rem, 32.8rem);
                        bottom: -3rem;
                        left: 10.8rem;
                    }
                }
            }

            &:nth-child(2) {
                grid-column: 60/119;
                grid-row: 1/26;
                margin-bottom: 4rem;
                margin-right: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;

                    @include small-tablet {
                        right: 0;
                        bottom: -2rem;
                        position: absolute;
                        max-width: 29.4rem;
                        width: 100%;
                        height: 20rem;
                    }
                }
            }

            &:nth-child(3) {
                grid-column: 119/175;
                grid-row: 1/26;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;

                    @include small-tablet {
                        width: 18.2rem;
                        height: 9.9rem;
                    }
                }

                .services__item-tit {
                    @include small-tablet {
                        max-width: 60%;
                    }
                }
            }

            &:nth-child(4) {
                grid-column: 60/175;
                grid-row: 26/48;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;

                    @include small-tablet {
                        position: absolute;
                        right: 2.8rem;
                        top: 0;
                        bottom: 0;
                        max-width: 21rem;
                        width: 100%;
                        transform: scale(-1, 1);
                        height: 100%;
                    }
                }
            }

            &:nth-child(5) {
                grid-column: 1/60;
                grid-row: 38/70;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;

                    @include small-tablet {
                        width: 18.2rem;
                        height: 9.9rem;
                    }
                }
            }

            &:nth-child(6) {
                grid-column: 60/119;
                grid-row: 48/73;
                margin-right: 4rem;
                margin-bottom: 4rem;

                .services__item-img {
                    @include sizes(15.8rem, 8.6rem);
                    right: 5rem;
                    bottom: 4rem;

                    @include small-tablet {
                        position: absolute;
                        right: 4rem;
                        top: 1rem;
                        max-width: 20.6rem;
                        width: 100%;
                        height: 19rem;
                    }
                }
            }

            &:nth-child(7) {
                grid-column: 119/173;
                grid-row: 48/69;

                .services__item-img {
                    @include sizes(18.2rem, 24.9rem);
                    right: 6rem;
                    bottom: 0rem;

                    @include small-tablet {
                        width: 27.2rem;
                        height: 9.9rem;
                    }
                }
            }

            &:nth-child(8) {
                grid-column: 1/56;
                grid-row: 70/91;

                .services__item-img {
                    width: 22.2rem;
                    height: 24.9rem;
                    right: 3rem;
                    top: auto;
                    bottom: 0;

                    @include small-tablet {
                        width: 18.2rem;
                        height: 9.9rem;
                    }
                }
            }

            &:nth-child(9) {
                grid-column: 60/173;
                grid-row: 74/91;

                .services__item-img {
                    @include sizes(16.2rem, 8.9rem);
                    right: 4rem;
                    bottom: 4rem;

                    @include small-tablet {
                        width: 27.2rem;
                        height: 9.9rem;
                    }
                }
            }
        }
    }
}
