.service-before-after {
    margin-bottom: 20rem;

    @include small-tablet{
        margin-bottom: 18rem;
    }

    &__titles {
        display: flex;
        justify-content: space-between;

        @include small-tablet{
            justify-content: center;
        }
    }
}
