.service-description {
    margin-bottom: 20rem;

    @include small-tablet {
        overflow: hidden;
    }

    &__title {
        @include small-tablet {
            &.title {
                font-family: Philosopher;
                font-size: 7.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
                margin-bottom: 4.4rem;
                text-align: center;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            gap: 5.4rem;
        }
    }
    &__tabs {
        margin: 0;

        &.swiper {
            @include small-tablet {
                overflow: visible;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;

            .swiper-slide {
                height: auto;

                @include small-tablet {
                    width: max-content;
                }
            }

            @include small-tablet {
                flex-direction: row;
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4.2rem;
            cursor: pointer;

            min-width: 54.5rem;
            max-width: 54.5rem;
            padding: 1rem 1rem 1rem 4rem;

            border-radius: 20rem;
            border: 0.2rem solid $white;
            background-color: transparent;

            transition: 0.3s background-color ease-in;

            @include small-tablet {
                min-width: initial;
                max-width: initial;
                padding: 2.4rem 4rem;
                border-radius: 40rem;
                background: rgba(255, 255, 255, 0.3);
                gap: 0;
            }

            &:not(:first-child) {
                margin-top: -0.2rem;
            }

            &:hover {
                background-color: $bgCards;

                .service-description__tabs-title {
                    background-position: top left 100%;
                }
            }

            &.--active {
                background-color: $bgCards;

                @include small-tablet {
                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    border-color: transparent;
                }

                .service-description__tabs-title {
                    background-position: top left 100%;

                    @include small-tablet {
                        background: transparent;
                        background-clip: unset;
                        -webkit-background-clip: unset;
                        -webkit-text-fill-color: $white;
                        color: $white;
                    }
                }
                .service-description__tabs-icon {
                    background-color: $white;
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            max-width: 13.7rem;
            width: 100%;
            max-height: 6rem;
            padding: 1.9rem;

            background-color: transparent;
            border-radius: 20rem;

            transition: 0.3s background-color ease-in;

            @include small-tablet {
                display: none;
            }

            img {
                @include sizes(3rem, 2.2rem);
            }
        }
        &-title {
            background-image: linear-gradient(to right, $black, $black 50%, #d65986 -15.39%, #a261f9 112.18%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 300% 100%;
            background-position: top left;
            transition: background-position 0.5s ease-out;

            @extend %semibold18;

            @include small-tablet {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                text-transform: uppercase;
                background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;

        display: none;
        visibility: hidden;
        flex-direction: column;
        gap: 2.4rem;

        @include small-tablet {
            position: static;
            gap: 3.2rem;
        }

        &-container {
            position: relative;
            width: 102.7rem;

            @include small-tablet {
                width: 100%;
            }
        }

        &.--active {
            position: relative;
            visibility: visible;
            animation: fade-bounce 0.8s both;
            display: flex;
        }

        &-titles {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            @extend %philoCaps32;

            @include small-tablet {
                font-size: 4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
        }
        &-text {
            @extend %regular18;

            @include small-tablet {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @include small-tablet {
                gap: 2.4rem;
            }

            &-item {
                display: flex;
                flex-direction: row;
                gap: 1.6rem;

                &-marker {
                    min-width: 2.4rem;
                    @include sizes(2.4rem, 2.4rem);

                    @include small-tablet {
                        max-width: 4rem;
                        width: 100%;
                        height: 4rem;
                        min-width: initial;
                    }
                }
                &-text {
                    @extend %regular18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
        &-tags {
            display: flex;
            gap: 1.6rem;
            flex-wrap: wrap;

            @include small-tablet {
                gap: 3.2rem;
            }
        }
        &-tag {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1.2rem 2rem;

            border-radius: 20rem;
            background-color: $lightPurple;

            @include small-tablet {
                padding: 1.6rem 3.2rem;
                border-radius: 40rem;
            }

            &-text {
                @extend %regularCaps16;
                @extend %gradientColor;

                @include small-tablet {
                    font-size: 2.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: uppercase;
                }
            }
        }
        &-colums {
            display: flex;
            gap: 4rem;

            @include small-tablet {
                flex-direction: column;
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                &-description {
                    color: $grey;
                    @extend %regular18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
            &-img {
                width: 44rem;

                @include small-tablet {
                    width: 100%;
                    height: 55.6rem;
                }
            }
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;

            @include small-tablet {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
            }

            &-item {
                display: flex;
                flex-direction: column;

                @include small-tablet {
                    gap: 1.6rem;
                }

                &-number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include sizes(4.6rem, 4.6rem);
                    margin-bottom: 1.6rem;

                    border-radius: 50%;
                    color: $white;
                    background-image: $gradientPurple;

                    @include small-tablet {
                        @include sizes(5.6rem, 5.6rem);
                    }

                    p {
                        @extend %philoCaps28;

                        @include small-tablet {
                            font-size: 4rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            text-transform: uppercase;
                        }
                    }
                }
                &-title {
                    @extend %semibold18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                    }
                }
                &-description {
                    @extend %regular18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
        &-accordion {
            .accordion__content {
                display: grid;
                will-change: grid-template-rows;
                grid-template-rows: 0fr;
                transition: 0.5s grid-template-rows ease-in;
            }
            &.--active {
                .accordion__content {
                    grid-template-rows: 1fr;
                }
                .accordion__heading-icon {
                    transform: rotate(180deg);
                }
            }

            &-title {
                @extend %semibold18;
            }
            &-content {
                overflow: hidden;

                border-radius: 3rem;
                background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, #fff 100%);

                p {
                    padding: 2rem 10.7rem 2rem 4rem;

                    @include small-tablet {
                        padding: 4.8rem;
                        font-size: 3.2rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
    }
    &__swiper {
        width: 100%;
        height: 100%;

        &-container {
            width: 100%;
            height: 100%;
        }
    }
}
