.pages-info {
    @include small-tablet {
        overflow: hidden;
    }

    &__title {
        @include small-tablet {
            &.title {
                text-align: center;
                margin-bottom: 4.4rem;
                font-size: 7.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .swiper {
            @include small-tablet {
                overflow: visible;
            }
        }

        @include small-tablet {
            display: block;
        }
    }

    &-categories {
        &-swiper {
            @media (min-width: 48em) {
                display: none;
            }

            margin-bottom: 4.4rem;

            .swiper-slide {
                width: auto;
                padding: 2.4rem 4rem;
                border-radius: 20rem;
                border: 0.1rem solid $white;
                background: rgba(255, 255, 255, 0.3);
                transition:
                    0.3s background ease,
                    0.3s border ease;

                &-thumb {
                    &-active {
                        background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                        border-color: transparent;

                        p {
                            background-clip: unset;
                            -webkit-background-clip: unset;
                            -webkit-text-fill-color: $white;
                            color: $white;
                        }
                    }
                }

                p {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;

                    @extend %gradientColor;
                }
            }
        }
    }

    &__link {
        margin-bottom: 4.8rem;
        position: relative;
        z-index: 5;
        img {
            height: auto;
        }
        @include small-tablet {
            display: none;
          }
        &-details {
            margin-top: 6.4rem;

            img {
                height: auto;
            }
            @include small-tablet {
                display: none;
              }
        }
    }

    & .swiper {
        @media (min-width: 48em) {
            overflow: unset;
            max-width: 143rem;
        }
    }
    & .swiper-slide {
        @media (min-width: 48em) {
            display: flex;
            justify-content: space-between;
        }
    }
    & .swiper-slide-prev {
        .pages-info__info {
            opacity: 0;
        }
    }
    & .swiper-slide-active {
        @media (min-width: 48em) {
            .pages-info__info {
                animation: fade-translateX50 1.2s ease-in-out;
            }
            .pages-info__3d-img {
                animation: fade-in 1.2s ease-in-out;
            }
        }
    }
    & .swiper-slide-next {
        .pages-info__info {
            opacity: 0;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;

        margin-top: 3.7rem;
        max-width: 64.1rem;

        @include small-tablet {
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 4.8rem;
        }

        &-decription {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @include small-tablet {
                gap: 3.2rem;
                margin-bottom: 2.4rem;
            }

            &-text {
                @extend %regular18;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
        &-card {
            position: relative;
            min-width: 64.1rem;
            min-height: 30.3rem;
            border-radius: 1.8rem;
            background: $white;
            padding: 4rem 8rem;
            z-index: 2;

            display: flex;
            flex-direction: column;
            gap: 3.6rem;

            &::after {
                @include pseudo {
                    left: 0;
                    top: 0;
                    max-width: 18.4rem;
                    width: 100%;
                    height: 10.7rem;
                    z-index: -1;
                    background: url('./assets/images/icons/blockquote.svg') no-repeat center;
                    background-size: cover;
                    border-radius: 1.8rem 0 0 0;

                    @include small-tablet {
                        max-width: 24.2rem;
                        height: 14rem;
                        border-radius: 2.8rem 0 0 0;
                    }
                }
            }

            @include small-tablet {
                min-width: initial;
                min-height: initial;
                border-radius: 2.8rem;
                padding: 4rem;
                gap: 4rem;
            }

            &-decription {
                display: flex;
                flex-direction: column;

                p {
                    @extend %semibold18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                    }
                }
            }
            &-person {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                @include small-tablet {
                    gap: 3.2rem;
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                }
                &-img {
                    @include sizes(9.6rem, 9.9rem);

                    @include small-tablet {
                        max-width: 14rem;
                        width: 100%;
                        height: 14rem;
                    }
                }
                &-name {
                    @extend %semibold20;
                    @extend %gradientColor;

                    @include small-tablet {
                        font-size: 3.2rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                    }
                }
                &-post {
                    @extend %regular18;
                    @extend %gradientColor;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
            margin-top: 1.6rem;

            @include small-tablet {
                margin-bottom: 2.4rem;
                margin-top: 0.6rem;
            }

            &-item {
                display: flex;
                gap: 3.2rem;
                align-items: center;

                @include small-tablet {
                    align-items: flex-start;
                }

                &-img {
                    min-width: 15rem;
                    min-height: 15rem;
                    max-width: 15rem;
                    max-height: 15rem;

                    @include small-tablet {
                        max-width: 20rem;
                        width: 100%;
                        height: 20rem;
                        max-height: initial;
                        min-height: initial;
                    }
                }
                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    width: 100%;
                }
                &-title {
                    @extend %semibold18;
                    @extend %gradientColor;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                    }
                }
                &-description {
                    @extend %regular18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
    }
    &__ellipse {
        position: relative;
        height: 100%;
        margin: 0 0 -8rem 0;
        @include small-tablet {
            position: static;
            display: flex;
            margin-top: 4rem;
            margin-bottom: 30rem;
        }

        &-button {
            margin-top: auto;
            margin-bottom: 4rem;
            position: relative;
            z-index: 5;
            img {
                height: auto;
            }
            @include small-tablet {
                display: none;
              }
        }

        &-img {
            position: absolute;
            left: -5.1rem;
            bottom: 18.9rem;
            max-width: 29.5rem;
            width: 100%;
            height: 29.5rem;

            @include small-tablet {
                position: relative;
                max-width: 33.2rem;
                height: 33.2rem;
                bottom: -10rem;
                left: -10rem;
            }

            &::after {
                @include pseudo {
                    inset: -8.6rem;
                    border-radius: 50%;
                    border: 0.2rem solid rgba(255, 255, 255, 0.37);

                    @include small-tablet {
                        inset: -9rem;
                    }
                }
            }
        }
        &-item {
            position: absolute;
            display: flex;
            flex-direction: row;
            gap: 1.6rem;

            @include small-tablet {
                gap: 3.2rem;
                width: 100%;
            }

            &-title {
                @extend %semibold18;
                @extend %gradientColor;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
            &-description {
                @extend %regular18;
                max-width: 26.7rem;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    max-width: 41rem;
                }
            }
            &-circle {
                width: 2.4rem;
                height: 2.4rem;
                background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                border: 0.7rem solid $white;
                border-radius: 50%;

                @include small-tablet {
                    max-width: 4.8rem;
                    width: 100%;
                    height: 4.8rem;
                    border-width: 1.4rem;
                }
            }
            &:nth-child(2) {
                bottom: 49.3rem;
                left: 24.6rem;

                @include small-tablet {
                    left: 20.6rem;
                    top: 29rem;
                    bottom: auto;
                }

                .pages-info__ellipse-item-circle {
                    align-self: flex-end;
                }
            }
            &:nth-child(3) {
                bottom: 37.9rem;
                left: 29.2rem;

                @include small-tablet {
                    left: 28.2rem;
                    bottom: auto;
                    top: 48rem;
                }

                .pages-info__ellipse-item-circle {
                    align-self: flex-start;
                }
            }
            &:nth-child(4) {
                bottom: 26.5rem;
                left: 31.3rem;

                @include small-tablet {
                    left: 29.3rem;
                    top: 64rem;
                    bottom: auto;
                }

                .pages-info__ellipse-item-circle {
                    align-self: flex-start;
                }
            }
            &:nth-child(5) {
                bottom: 15.5rem;
                left: 28.3rem;

                @include small-tablet {
                    bottom: auto;
                    left: 15.3rem;
                    top: 80rem;
                }

                .pages-info__ellipse-item-circle {
                    align-self: flex-start;
                }
            }
        }
    }
    &__3d {
        position: relative;

        &-link {
            position: absolute;
            top: 0;
            right: 0;

            a {
                padding: 1.9rem 5.7rem;

                @include small-tablet {
                    padding: 2.7rem 4rem;
                }
            }
        }
        &-button {
            position: absolute;
            bottom: 2.4rem;
            right: 2.4rem;
            background: rgba(255, 255, 255, 0.48);
            backdrop-filter: blur(1.5rem);
            border-radius: 2rem;

            display: flex;
            gap: 2rem;
            max-width: 28.7rem;
            padding: 0.8rem;

            @include small-tablet {
                padding: 1.6rem;
                max-width: 39.4rem;
                border-radius: 2.8rem;
            }

            &-img {
                min-width: 11.6rem;
                min-height: 10rem;

                @include small-tablet {
                    min-height: initial;
                    min-width: initial;
                    max-width: 16.2rem;
                    height: 13.6rem;
                    width: 100%;
                }
            }
            &-text {
                display: flex;
                flex-direction: column;
                gap: 3.3rem;

                @include small-tablet {
                    justify-content: space-between;
                }

                p {
                    @extend %medium18Caps;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        text-transform: uppercase;
                    }
                }
                &-icon {
                    @include sizes(1.8rem, 1.2rem);

                    @include small-tablet {
                        max-width: 3.6rem;
                        width: 100%;
                        height: 2.4rem;
                    }
                }
            }
        }
        &-img {
            position: relative;
            max-width: 69.4rem;
            max-height: 81.9rem;
            width: 63rem;
            height: 81.9rem;

            > img {
                -webkit-mask-image: url('./assets/images/pages-info/photo.png');
                mask-image: url('./assets/images/pages-info/photo.png');
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: 100%;
                // mask-size: 100%;
                mask-size: cover;

                @include small-tablet {
                    -webkit-mask-image: url('./assets/images/pages-info/photo-mobile.webp');
                    mask-image: url('./assets/images/pages-info/photo-mobile.webp');
                }
            }

            @include small-tablet {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &__link-rotate {
        position: relative;
        border-radius: 20rem;
        border: 0.2rem solid $white;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1.5rem);
        background-clip: padding-box;

        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        max-height: 82rem;

        @include small-tablet {
            display: none;
        }

        &::after {
            transition: opacity 0.3s ease-in-out;

            @include pseudo {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 20rem;
                padding: 0.2rem;
                margin: -0.2rem;
                background: linear-gradient(267deg, #d65986 -0.51%, #a261f9 100%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                opacity: 0;
            }
        }
        &:hover {
            border-color: transparent;

            &::after {
                opacity: 1;
            }
        }

        &-icon {
            @include sizes(10.2rem, 18.4rem);
        }
        &-text {
            @extend %medium18Caps;
            @extend %gradientColor;

            position: absolute;
            top: 8rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}
