.card-review {
    position: relative;
    max-width: 54.7rem;
    width: 100%;
    margin-top: 1.4rem;
    height: 100%;

    @include small-tablet {
        max-width: 100%;
        margin-top: 0;
    }

    &__desc {
        -webkit-mask-image: url('./assets/images/bg/review-bg.svg');
        mask-image: url('./assets/images/bg/review-bg.svg');
        -webkit-mask-position: top left;
        mask-position: top left;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        background: $white;
        padding: 4rem 3.2rem 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include small-tablet {
            height: 49.4rem;
            padding: 4rem;
            margin-top: 2rem;
            -webkit-mask-image: url('./assets/images/bg/review-bg-mobile.svg');
            mask-image: url('./assets/images/bg/review-bg-mobile.svg');
        }
    }

    &__title {
        @extend %semibold18;
        max-width: 30.2rem;
        margin-bottom: 2rem;
        line-height: 2.16rem;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            max-width: 40.2rem;
            margin-bottom: 2.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__txt {
        @extend %regular18;
        color: $grey;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 2rem;
        line-height: 2.5rem;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 4rem;
        }
    }

    &__info {
        @extend %flexCenterBetween;
        margin-top: auto;

        @include small-tablet {
            align-items: center;
        }
    }

    &__name {
        @extend %semibold18;
        margin-bottom: 0.4rem;

        @include small-tablet {
            margin-bottom: 0;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }

    &__date {
        @extend %regular18;
        color: $grey;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }

    &__site {
        @extend %flexCenter;
        @include sizes(9.4rem, 9.4rem);
        background: #f3f2f7;
        backdrop-filter: blur(0.35rem);
        border-radius: 50%;

        @include small-tablet {
            @include sizes(11.2rem, 11.2rem);
        }

        img {
            @include sizes(8.1rem, 6.9rem);

            @include small-tablet {
                @include sizes(9.6rem, 7.6rem);
            }
        }
    }

    &__link {
        position: absolute;
        top: -1.4rem;
        right: 0;
        width: 17.6rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;

        @include small-tablet {
            width: 18rem;
            top: -2rem;
            height: 8.8rem;
        }
    }
}
