.reviews {
    margin: 20rem 0;

    &__titles {
        @extend %flexCenterBetween;
        margin-bottom: 4.8rem;

        @include small-tablet {
            justify-content: center;
            margin-bottom: 6.4rem;
        }
    }

    .title {
        margin-bottom: 0;
    }
}
