.akcii {
    margin-bottom: 20rem;

    &.--man {
        .akcii__item-content {
            @include small-tablet {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
        }

        .akcii__item {
            height: 14rem;

            @include small-tablet {
                height: 22.2rem;
            }
        }

        .akcii__item-tit {
            @media (min-width: 48em) {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }

        .akcii__item-txt {
            @media (min-width: 48em) {
                position: absolute;
                left: 6rem;
                transform: translateY(-50%);
                top: 50%;
            }
        }

        .akcii__man {
            @include small-tablet {
                left: auto;
                right: 0;
            }
        }

        .akcii__item-tit {
            @include small-tablet {
                text-align: start;
            }
        }
    }

    .container {
        @include small-tablet {
            padding: 0;
        }
    }

    &__title {
        @include small-tablet {
            text-align: center;
        }
    }

    &__content {
        position: relative;
    }

    &__man,
    &__women {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @include small-tablet {
            height: 67.4rem;
        }
    }

    &__women {
        @include small-tablet {
            right: 0;
        }
    }

    &__man {
        @include small-tablet {
            left: 0;
        }
    }

    &__items {
        @extend %flexColumn;
        row-gap: 0.5rem;

        @include small-tablet {
            gap: 0.4rem;
        }
    }

    &__item {
        @extend %flexColumn;
        @include sizes(100%, 17.1rem);
        border-radius: 4rem;
        background: $white;
        user-select: none;

        @include small-tablet {
            @include sizes(100%, 22.2rem);
            padding: 0 3rem;
        }
    }

    &__item-content {
        position: relative;
        z-index: 2;
        @extend %flexColumn;

        align-items: center;
        justify-content: center;
        row-gap: 0.6rem;
        user-select: text;
        height: 100%;

        @include small-tablet {
            text-align: center;
            gap: 1.6rem;
        }
        &:hover {
            & .akcii__item-tit {
                background-position: top left 100%;
            }
        }
    }

    &__item-tit {
        @extend %philoCaps32;
        background-image: linear-gradient(to right, $black, $black 50%, #d65986 -15.39%, #a261f9 112.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300% 100%;
        background-position: top left;
        transition: background-position 0.5s ease-out;
        @include small-tablet {
            font-family: Philosopher;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            max-width: 60%;
        }
    }

    &__item-txt {
        @extend %regular20;
        @extend %gradientColor;

        @include small-tablet {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;

            &:first-child {
                display: none;
            }
        }
    }

    &--one {
        .akcii__item-content {
            align-items: flex-start;
            padding-left: 51rem;
            gap: 2rem;
            @include small-tablet {
                padding-left: 0;
                align-items: center;
                flex-direction: column-reverse;
            }
        }
        & .akcii__item-txt {
            @include small-tablet {
                display: flex;
            }
        }
        & .akcii__man,
        & .akcii__women {
            @include small-tablet {
                height: 22.4rem;
            }
        }

        .akcii__item {
            height: 29.8rem;

            @include small-tablet {
                height: 22.4rem;
            }
        }

        .akcii__item-text {
            width: 70rem;
            font-weight: 400;
            font-size: 2rem;
            line-height: 120%;
            @include small-tablet {
                display: none;
            }
        }

        &.--man {
            .akcii__item-content {
                align-items: flex-start;
                padding-left: 6rem;
                gap: 2rem;
                @include small-tablet {
                    padding-left: 4.6rem;
                    flex-direction: column;
                }
            }

            .akcii__item {
                height: 29.8rem;

                @include small-tablet {
                    height: 22.4rem;
                }
            }

            .akcii__item-tit {
                @media (min-width: 48em) {
                    position: static;
                    transform: none;
                }
            }

            .akcii__item-txt {
                @media (min-width: 48em) {
                    position: static;
                    transform: none;
                }
            }
        }
    }

    &--five {
        & .akcii__item {
            @include small-tablet {
                &:nth-child(3n + 1) {
                    display: none;
                }
            }
        }
    }
}
