.akcii {
    margin-bottom: 20rem;

    .container {
        @include small-tablet {
            padding: 0;
        }
    }

    &__title {
        @include small-tablet {
            text-align: center;
        }
    }

    &__content {
        position: relative;
    }

    &__man,
    &__women {
        position: absolute;
        top: 0;

        @include small-tablet {
            height: 67.4rem;
        }
    }

    &__women {
        @include small-tablet {
            right: 0;
        }
    }

    &__man {
        @include small-tablet {
            left: 0;
        }
    }

    &__items {
        @extend %flexColumn;
        row-gap: 0.5rem;

        @include small-tablet {
            gap: 0.4rem;
        }
    }

    &__item {
        @extend %flexColumn;
        @include sizes(100%, 17.1rem);
        border-radius: 4rem;
        background: $white;
        padding: 4.5rem 0;
        user-select: none;

        @include small-tablet {
            padding: 2.8rem 0;
            @include sizes(100%, 22.2rem);
        }
    }

    &__item-content {
        position: relative;
        z-index: 2;
        @extend %flexColumn;
        align-items: center;
        justify-content: center;
        row-gap: 0.6rem;
        user-select: text;

        @include small-tablet {
            text-align: center;
            gap: 1.6rem;
        }
    }

    &__item-tit {
        @extend %philoCaps32;

        @include small-tablet {
            font-family: Philosopher;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            max-width: 40%;
        }
    }

    &__item-txt {
        @extend %regular20;
        @extend %gradientColor;

        @include small-tablet {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;

            &:first-child {
                display: none;
            }
        }
    }
}
