<section class="action">
    <div class="container">
        <div class="action__container">
            <div class="action__titles">
                <div class="action__title title">Акции</div>
            </div>

            <div class="action__list">
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
            </div>
        </div>
    </div>
</section>
