<section class="action">
    <div class="container">
        <div class="action__container">
            <h1 class="action__title title">Акции</h1>

            <div class="action__slider-block">
                <div class="swiper action__swiper">
                    <ul class="swiper-wrapper">
                        <li data-content-open="action-1" class="swiper-slide --active action__slide">
                            <p class="action__slide-title">Все</p>
                        </li>
                        <li data-content-open="action-2" class="swiper-slide action__slide">
                            <p class="action__slide-title">Гинекология</p>
                        </li>
                        <li data-content-open="action-3" class="swiper-slide action__slide">
                            <p class="action__slide-title">Косметология</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Косметология</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Коррекция фигуры</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Терапия</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Эндокринология</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Диетология</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Диетолог</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Урология</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Лабораторная диагностика</p>
                        </li>
                        <li data-content-open="action-4" class="swiper-slide action__slide">
                            <p class="action__slide-title">Лабораторная диагностика</p>
                        </li>
                    </ul>
                </div>

                <button class="action-button-prev swiper-button-prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M15.5 5.5L8.5 12.6707L15.5 19.5"
                            stroke="url(#paint0_linear_2624_1888)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1888"
                                x1="5.525"
                                y1="5.96666"
                                x2="16.455"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </button>
                <button class="action-button-next swiper-button-next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.5 5.5L15.5 12.6707L8.5 19.5"
                            stroke="url(#paint0_linear_2624_1872)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1872"
                                x1="18.475"
                                y1="5.96666"
                                x2="7.54497"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </button>
            </div>

            <div data-content-block="action-1" class="action__list --active">
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
            </div>
            <div data-content-block="action-2" class="action__list">
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
            </div>
            <div data-content-block="action-3" class="action__list">
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
            </div>
            <div data-content-block="action-4" class="action__list">
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
                <div class="action__item">
                    <include src="./components/action-card.html"></include>
                </div>
            </div>
        </div>
    </div>
</section>
