<section class="action-article">
    <div class="container">
        <div class="action-article__content">
            <h1 class="action-article__title">Программа 3d-лазерное омоложение</h1>

            <div class="action-article__image">
                <img src="./assets/images/action/item1.png" alt="" />
            </div>

            <p class="action-article__description">
                Для длительного сохранения омолаживающего эффекта необходимо пройти курс из 3-х комплексных
                программ 3D-омоложения с интервалом 1-1,5 месяца в зависимости от возраста и состояния кожи.
                <br />

                Отличный омоложивающий эффект вы увидите уже после окончания первой программы (Фотоомоложение
                лица + Термолифтинг лица + Фракционное лазерное омоложение лица (включая зону вокруг глаз).
                <br />

                График процедур внутри программы вы обсудите с врачом на индивидуальной консультации. <br />
            </p>

            <div class="action-article__card">
                <p class="action-article__card-text">
                    Стоимость услуг по программе «3D-омоложение» - 10% скидка.
                </p>
                <p class="action-article__card-text">Вы экономите 4 700 руб.</p>
            </div>

            <ul class="action-article__list">
                <li class="action-article__item">
                    <div class="action-article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>
                    <div class="action-article__item-content">
                        <span class="action-article__item-subtitle">
                            Фотоомоложение лица (Palomar – насадка MAX G)</span
                        >
                        <p class="action-article__item-price">Стоимость - 9000 рублей</p>
                        <p class="action-article__item-description">
                            В рамках процедуры, устраняются основные проявления фотостарения кожи лица:
                            гиперпигментация, мелазма и расширенное капиллярное русло (купероз). Количество
                            необходимых для достижения эффекта процедур 2—5 в зависимости от индивидуальных
                            особенностей кожи.
                        </p>
                    </div>
                </li>
                <li class="action-article__item">
                    <div class="action-article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>
                    <div class="action-article__item-content">
                        <span class="action-article__item-subtitle">
                            Фотоомоложение лица (Palomar – насадка MAX G)</span
                        >
                        <p class="action-article__item-price">Стоимость - 9000 рублей</p>
                        <p class="action-article__item-description">
                            В рамках процедуры, устраняются основные проявления фотостарения кожи лица:
                            гиперпигментация, мелазма и расширенное капиллярное русло (купероз). Количество
                            необходимых для достижения эффекта процедур 2—5 в зависимости от индивидуальных
                            особенностей кожи.
                        </p>
                    </div>
                </li>
            </ul>
            <p class="action-article__subscription">Ждем вас в нашей клинике!</p>
        </div>

        <aside class="action-article__action">
            <h2 class="action-article__action-title">другие акции</h2>

            <ul class="action-article__action-list">
                <li class="action-article__action-item">
                    <a href="" class="action-article__action-item-title">
                        Рассказываем, какие части тела стареют быстрее
                    </a>

                    <p class="action-article__action-item-description">
                        Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                        зона декольте быстрее подвергаются старению
                    </p>

                    <a href="" class="action-article__action-item-link btn-secondary">
                        <span>подробнее</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>
                </li>
                <li class="action-article__action-item">
                    <a href="" class="action-article__action-item-title">
                        Рассказываем, какие части тела стареют быстрее
                    </a>

                    <p class="action-article__action-item-description">
                        Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                        зона декольте быстрее подвергаются старению
                    </p>

                    <a href="" class="action-article__action-item-link btn-secondary">
                        <span>подробнее</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>
                </li>
                <li class="action-article__action-item">
                    <a href="" class="action-article__action-item-title">
                        Рассказываем, какие части тела стареют быстрее
                    </a>

                    <p class="action-article__action-item-description">
                        Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                        зона декольте быстрее подвергаются старению
                    </p>

                    <a href="" class="action-article__action-item-link btn-secondary">
                        <span>подробнее</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>
                </li>
                <li class="action-article__action-item">
                    <a href="" class="action-article__action-item-title">
                        Рассказываем, какие части тела стареют быстрее
                    </a>

                    <p class="action-article__action-item-description">
                        Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                        зона декольте быстрее подвергаются старению
                    </p>

                    <a href="" class="action-article__action-item-link btn-secondary">
                        <span>подробнее</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</section>
