<section class="action">
    <div class="container">
        <div class="action__container">
            <div class="action__titles">
                <div class="action__title title">Другие акции</div>
                <div class="action-other__panel swiper-panel --desc">
                    <button type="button" class="swiper-panel__btn action-other-panel__btn-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="action-other-panel__fractions"></div>
                    <button type="button" class="swiper-panel__btn action-other-panel__btn-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper action-other__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/action-card.html"></include>
                    </div>
                </div>
            </div>

            <div class="action-other__panel swiper-panel --mob">
                <button type="button" class="swiper-panel__btn action-other-panel__btn-prev">
                    <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                </button>
                <div class="action-other-panel__fractions"></div>
                <button type="button" class="swiper-panel__btn action-other-panel__btn-next">
                    <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                </button>
            </div>
        </div>
    </div>
</section>
