<section class="akcii --man">
    <div class="container">
        <div class="akcii__container">
            <div class="akcii__title title">Акции</div>
            <div class="akcii__content">
                <div class="akcii__man">
                    <img src="../assets/images/akcii/man-right.webp" alt="" class="--desc" />
                    <img src="./assets/images/akcii/man-mob.webp" alt="" class="--mob" />
                </div>
                <ul class="akcii__items">
                    <li class="akcii__item">
                        <a class="akcii__item-content">
                            <span class="akcii__item-tit --desc">Подарочные сертификаты</span>
                            <span class="akcii__item-tit --mob">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</span>
                            <p class="akcii__item-txt">Любая сумма</p>
                        </a>
                    </li>
                    <li class="akcii__item">
                        <a class="akcii__item-content">
                            <span class="akcii__item-tit --desc">Программа 3d-лазерное омоложение</span>
                            <span class="akcii__item-tit --mob">3d-лазерное омоложение</span>
                            <p class="akcii__item-txt">Скидка 10%</p>
                        </a>
                    </li>
                    <li class="akcii__item">
                        <a class="akcii__item-content">
                            <span class="akcii__item-tit --desc">Лазерное CO2 омоложение «ACUPULSE»</span>
                            <span class="akcii__item-tit --mob">Лазерное CO2 омоложение </span>
                            <p class="akcii__item-txt">Выгодное предложение</p>
                        </a>
                    </li>
                </ul>
                <a href="" class="btn-secondary btn-details --desc">
                    <span>Подробнее</span>

                    <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                </a>

                <a href="" class="btn-primary btn-details --mob">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</section>
