<section class="akcii">
    <div class="container">
        <div class="akcii__container">
            <div class="akcii__title title">Акции</div>
            <div class="akcii__content">
                <div class="akcii__man">
                    <img src="./assets/images/akcii/man-desc.png" alt="" />
                </div>
                <div class="akcii__items">
                    <div class="akcii__item">
                        <a class="akcii__item-content">
                            <div class="akcii__item-tit">Подарочные сертификаты</div>
                            <div class="akcii__item-txt">Любая сумма</div>
                        </a>
                    </div>
                    <div class="akcii__item">
                        <a class="akcii__item-content">
                            <div class="akcii__item-tit">Программа 3d-лазерное омоложение</div>
                            <div class="akcii__item-txt">Скидка 10%</div>
                        </a>
                    </div>
                    <div class="akcii__item">
                        <a class="akcii__item-content">
                            <div class="akcii__item-tit">Лазерное CO2 омоложение «ACUPULSE»</div>
                            <div class="akcii__item-txt">Выгодное предложение</div>
                        </a>
                    </div>
                </div>
                <div class="akcii__women">
                    <img src="./assets/images/akcii/women-desc.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
