<section class="advantages">
    <div class="container">
        <div class="advantages__content">
            <div class="advantages__top">
                <div class="advantages__top-text">
                    <h1 class="advantages__title">
                        составим план  лечения на основе  100% диагностики организма
                    </h1>

                    <a href="" class="advantages__link btn-primary">
                        <span>о нашей клинике</span>
                    </a>
                </div>

                <div class="advantages__top-tour">
                    <div class="advantages__top-tour-image">
                        <img src="./assets/images/advantages/image.webp" alt="" />
                    </div>

                    <div class="advantages__top-tour-3d">
                        <img src="../assets/images/advantages/3d.svg" alt="" />

                        <span>3D-тур</span>
                    </div>
                </div>
            </div>

            <ul class="benefits__list">
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-1.svg" alt="" />
                        </div>

                        <span class="benefits__item-title">
                            индивидуальный <br />
                            подход
                        </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-2.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> комфорт </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-3.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> специалисты </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-4.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> оборудование </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
            </ul>

            <div class="advantages__bottom">
                <div class="advantages__bottom-info">
                    <div class="advantages__bottom-info-heading --desc">
                        <div class="advantages__bottom-info-heading-reviews">
                            <p class="advantages__bottom-info-heading-counting">290 <span>тыс</span></p>

                            <p class="advantages__bottom-info-heading-description">
                                Довольных клиентов, которые рекомендуют нас своим близким и знакомым
                            </p>

                            <div class="advantages__bottom-info-heading-reviewers">
                                <img src="./assets/images/advantages/reviewers.webp" alt="" />
                            </div>
                        </div>

                        <div class="advantages__bottom-info-heading-poster">
                            <img src="./assets/images/advantages/poster.webp" alt="" />
                        </div>
                    </div>

                    <div class="advantages__bottom-info-heading --mob">
                        <div class="advantages__bottom-info-heading-poster">
                            <img src="./assets/images/advantages/poster.webp" alt="" />
                        </div>

                        <p class="advantages__bottom-info-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики и ваших существующих
                            анализов
                        </p>
                    </div>

                    <div class="advantages__bottom-info-heading-reviews --mob">
                        <p class="advantages__bottom-info-heading-counting">290 <span>тыс</span></p>

                        <p class="advantages__bottom-info-heading-description">
                            Довольных клиентов, которые рекомендуют нас своим близким и знакомым
                        </p>

                        <div class="advantages__bottom-info-heading-reviewers">
                            <img src="./assets/images/advantages/reviewers.webp" alt="" />
                        </div>
                    </div>

                    <p class="advantages__bottom-info-description --desc">
                        Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                        процедур для каждого клиента на основе последней диагностики и ваших существующих
                        анализов
                    </p>
                </div>

                <div class="advantages__bottom-text">
                    <p>
                        Работа клиники организована с учетом комфортного пребывания посетителей. Новейшее
                        оборудование центра помогает провести диагностику организма пациента для составления
                        плана лечения и профилактики.
                    </p>

                    <p>
                        Работа клиники организована с учетом комфортного пребывания посетителей. Новейшее
                        оборудование центра помогает провести диагностику организма пациента для составления
                        плана лечения и профилактики.
                    </p>

                    <p>
                        Также мы поможем с выбором подходящей диеты. <br />
                        В клинике занимаются проведением диагностики на новом оборудовании. У нас вы можете
                        пройти УЗИ, лабораторную диагностику, функциональное обследование.
                    </p>

                    <p>
                        Среди предлагаемых комплексов процедур можно выделить физиотерапию, лечебный массаж,
                        иглорефлексотерапию, тонизирующие процедуры.
                    </p>

                    <p>
                        Клиника имеет свою лабораторию, поэтому мы оперативно предоставляем результаты
                        анализов.
                    </p>

                    <a href="" class="advantages__info-link btn-secondary">
                        <span>Оборудование</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
