<aside class="article__news">
    <h2 class="article__news-title">другие Новости</h2>

    <ul class="article__news-list">
        <li class="article__news-item">
            <a href="" class="article__news-item-title">
                Рассказываем, какие части тела стареют быстрее
            </a>

            <p class="article__news-item-description">
                Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                зона декольте быстрее подвергаются старению
            </p>

            <a href="" class="article__news-item-link btn-secondary">
                <span>подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </li>
        <li class="article__news-item">
            <a href="" class="article__news-item-title">
                Рассказываем, какие части тела стареют быстрее
            </a>

            <p class="article__news-item-description">
                Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                зона декольте быстрее подвергаются старению
            </p>

            <a href="" class="article__news-item-link btn-secondary">
                <span>подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </li>
        <li class="article__news-item">
            <a href="" class="article__news-item-title">
                Рассказываем, какие части тела стареют быстрее
            </a>

            <p class="article__news-item-description">
                Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                зона декольте быстрее подвергаются старению
            </p>

            <a href="" class="article__news-item-link btn-secondary">
                <span>подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </li>
        <li class="article__news-item">
            <a href="" class="article__news-item-title">
                Рассказываем, какие части тела стареют быстрее
            </a>

            <p class="article__news-item-description">
                Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и
                зона декольте быстрее подвергаются старению
            </p>

            <a href="" class="article__news-item-link btn-secondary">
                <span>подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </li>
    </ul>
</aside>