<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <h2 class="benefits__title title">преимущества</h2>

            <ul class="benefits__list">
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-1.svg" alt="" />
                        </div>

                        <span class="benefits__item-title">
                            индивидуальный <br />
                            подход
                        </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-2.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> комфорт </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-3.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> специалисты </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="front">
                        <div class="benefits__item-icon">
                            <img src="./assets/images/benefits/benefits-icon-4.svg" alt="" />
                        </div>

                        <span class="benefits__item-title"> оборудование </span>
                    </div>

                    <div class="back">
                        <span class="benefits__item-subtitle"> Индивидуальный подход </span>

                        <p class="benefits__item-description">
                            Мы - многопрофильное медицинское учреждение, предлагающее индивидуальный комплекс
                            процедур для каждого клиента на основе последней диагностики
                        </p>
                    </div>
                </li>
            </ul>

            <a href="" class="benefits__link btn-secondary">
                <span>Подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </div>
    </div>
</section>
