<section class="clinic">
    <div class="container">
        <div class="clinic__content">
            <div class="clinic__info">
                <div class="clinic__logo">
                    <img src="./assets/images/icons/logo.svg" alt="logo" />
                </div>

                <span class="clinic__subtitle"> Медицинские услуги </span>

                <h1 class="clinic__title title">клиника «САНТЭФАММ»</h1>

                <p class="clinic__description">
                    Символ нашей клиники — ОРХИДЕЯ — цветок, сочетающий  в себе неувядающую красоту и нежность
                    с силой и прочностью.
                </p>
            </div>

            <div class="clinic__video">
                <span class="clinic__video-title"> Открытие медицинской клиники Сантэфамм </span>

                <div class="clinic__video-poster">
                    <img src="./assets/images/about/video-poster.webp" alt="" />
                </div>

                <a href="./assets/video/mov_bbb.mp4" data-fancybox="video" class="clinic__video-button">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                    >
                        <circle cx="60" cy="60" r="60" fill="white" />
                        <path
                            d="M73.5 56.9019C75.5 58.0566 75.5 60.9434 73.5 62.0981L56.25 72.0574C54.25 73.2121 51.75 71.7687 51.75 69.4593V49.5407C51.75 47.2313 54.25 45.7879 56.25 46.9426L73.5 56.9019Z"
                            fill="url(#paint0_linear_2535_25207)"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2535_25207"
                                x1="76.25"
                                y1="77.2905"
                                x2="74.0831"
                                y2="40.1848"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
