<section class="contacts">
  <div class="container">
    <div class="contacts__container">
      <div class="contacts__main">
        <div class="contacts__title title">Контакты</div>
        <ul class="contacts__items">
          <li class="contacts__item">
            <div class="contacts__circle">
              <img src="./assets/images/phone.svg" alt="" />
            </div>
            <div class="contacts__desc">
              <div class="contacts__desc-title">Телефон</div>
              <a href="tel:+79388792157" class="contacts__desc-txt"> +7 (938) 879-21-57 </a>
            </div>
          </li>
          <li class="contacts__item">
            <div class="contacts__circle">
              <img src="./assets/images/location.svg" alt="" />
            </div>
            <div class="contacts__desc">
              <div class="contacts__desc-title">Адрес</div>
              <div class="contacts__desc-txt">Москва, Бутырская улица, 77, этаж 3</div>
            </div>
          </li>
          <li class="contacts__item">
            <div class="contacts__circle">
              <img src="./assets/images/email.svg" alt="" />
            </div>
            <div class="contacts__desc">
              <div class="contacts__desc-title">E-mail</div>
              <a href="mailto:e-mail@yandex.ru" class="contacts__desc-txt"> e-mail@yandex.ru </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="contacts__time">
        <div class="contacts__time-title">
          <span>время работы</span>
        </div>
        <div class="contacts__time-block">
          <ul class="contact__time-items">
            <li class="contacts__time-item">
              <div class="contacts__time-day">Понедельник-суббота</div>
              <div class="contacts__time-desc">09:00 - 21:00</div>
            </li>
            <li class="contacts__time-item">
              <div class="contacts__time-day">Воскресенье</div>
              <div class="contacts__time-desc">Выходной</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
