<section class="devices">
    <div class="container">
        <div class="devices__content">
            <div class="devices__heading">
                <h2 class="devices__title title">наше оборудование</h2>

                <div data-da=".devices .panel-wrapper,768,first" class="devices__panel swiper-panel">
                    <button type="button" class="swiper-panel__btn devices__panel-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="devices__panel-fractions"></div>
                    <button type="button" class="swiper-panel__btn devices__panel-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper devices__swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide devices__slide">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-1.webp" alt="" />
                            </div>

                            <span class="devices__slide-title"> Palomar ICON </span>

                            <p class="devices__slide-description">Восстановление объема и структуры кожи</p>
                        </a>
                    </li>
                    <li class="swiper-slide devices__slide">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-2.webp" alt="" />
                            </div>

                            <span class="devices__slide-title">AcuPulse</span>

                            <p class="devices__slide-description">Омоложение кожи  с эффектом лифтинга</p>
                        </a>
                    </li>
                    <li class="swiper-slide devices__slide --bigger">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-3.webp" alt="" />
                            </div>

                            <span class="devices__slide-title">AcuPulse</span>

                            <p class="devices__slide-description">Омоложение кожи  с эффектом лифтинга</p>
                        </a>
                    </li>
                    <li class="swiper-slide devices__slide">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-1.webp" alt="" />
                            </div>

                            <span class="devices__slide-title"> Palomar ICON </span>

                            <p class="devices__slide-description">Восстановление объема и структуры кожи</p>
                        </a>
                    </li>
                    <li class="swiper-slide devices__slide">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-2.webp" alt="" />
                            </div>

                            <span class="devices__slide-title">AcuPulse</span>

                            <p class="devices__slide-description">Омоложение кожи  с эффектом лифтинга</p>
                        </a>
                    </li>
                    <li class="swiper-slide devices__slide --bigger">
                        <a href="#" class="devices__slide-wrapper">
                            <div class="devices__slide-image">
                                <img src="./assets/images/devices/slide-3.webp" alt="" />
                            </div>

                            <span class="devices__slide-title">AcuPulse</span>

                            <p class="devices__slide-description">Омоложение кожи  с эффектом лифтинга</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="panel-wrapper">
            </div>

            <a href="" class="devices__link btn-secondary --desc">
                <span>Подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="arrow-right" />
            </a>

            <a href="" class="btn-primary btn-details --mob">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
</section>
