<a href="#" class="doctor-card">
    <div class="doctor-card__img">
        <img src="./assets/images/doctor.png" alt="" />

        <div class="doctor-card__department">
            <span>Эндокринолог</span>
        </div>
    </div>
    <div class="doctor-card__desc">
        <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
        <div class="doctor-card__item">
            <span class="doctor-card__tit">Должность</span>
            <p class="doctor-card__txt">Главный врач клиники</p>
        </div>
        <div class="doctor-card__item">
            <span class="doctor-card__tit">Отделение</span>
            <p class="doctor-card__txt">Женская консультация</p>
        </div>
        <div class="doctor-card__item">
            <span class="doctor-card__tit">Стаж работы</span>
            <p class="doctor-card__txt">6 лет</p>
        </div>
    </div>
</a>
