<section class="doctors">
    <div class="container">
        <div class="doctors__container">
            <div class="doctors__titles">
                <h2 class="doctors__title title">другие Специалисты</h2>
            </div>

            <ul class="doctors__list">
                <li>
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li>
                    <include src="./components/doctor-card.html"></include>
                </li>
            </ul>
        </div>
    </div>
</section>
