<section class="doctors">
  <div class="container">
    <div class="doctors__container">
      <div class="doctors__titles">
        <div class="doctors__title title">наши Врачи</div>
        <div class="doctors__panel swiper-panel">
          <button type="button" class="swiper-panel__btn doctors-panel__btn-prev">
            <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
          </button>
          <div class="doctors-panel__fractions"></div>
          <button type="button" class="swiper-panel__btn doctors-panel__btn-next">
            <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
          </button>
        </div>
      </div>

      <div class="swiper doctors__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
          <div class="swiper-slide doctors__slide">
            <include src="./components/doctor-card.html"></include>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
