<a href="#" class="doctor-card">
  <div class="doctor-card__img">
    <img src="./assets/images/doctor.png" alt="" />
  </div>
  <div class="doctor-card__desc">
    <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
    <div class="doctor-card__item">
      <div class="doctor-card__tit">Должность</div>
      <div class="doctor-card__txt">Главный врач клиники</div>
    </div>
    <div class="doctor-card__item">
      <div class="doctor-card__tit">Отделение</div>
      <div class="doctor-card__txt">Женская консультация</div>
    </div>
    <div class="doctor-card__item">
      <div class="doctor-card__tit">Стаж работы</div>
      <div class="doctor-card__txt">6 лет</div>
    </div>
  </div>
  <div class="doctor-card__department">Эндокринолог</div>
</a>
