<section class="equipment">
    <div class="container">
        <h1 class="equipment__title title">Оборудование</h1>

        <div class="equipment__content">
            <aside class="equipment__tabs">
                <ul class="equipment__tabs-list">
                    <li data-content-open="equipment-1" class="equipment__tabs-item --active">
                        <p class="equipment__tabs-item-title">Косметологическое  оборудование</p>

                        <div class="equipment__tabs-item-icon">
                            <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="equipment-2" class="equipment__tabs-item">
                        <p class="equipment__tabs-item-title">Диагностическое  оборудование</p>

                        <div class="equipment__tabs-item-icon">
                            <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="equipment-3" class="equipment__tabs-item">
                        <p class="equipment__tabs-item-title">Ультразвуковые  устройства</p>

                        <div class="equipment__tabs-item-icon">
                            <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="equipment-4" class="equipment__tabs-item">
                        <p class="equipment__tabs-item-title">Диагностическое оборудование</p>

                        <div class="equipment__tabs-item-icon">
                            <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                </ul>

                <a href="#" class="equipment__tabs-link btn-secondary">
                    <span>О клинике</span>

                    <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                </a>
            </aside>

            <div data-content-block="equipment-1" class="equipment__card --active">
                <div class="equipment__card-info">
                    <span class="equipment__card-title"> Косметологическое оборудование </span>

                    <p class="equipment__card-description">
                        Наши ультразвуковые сканеры позволяют нам проводить детальные и точные исследования
                        органов и тканей, что помогает в диагностике.
                    </p>
                </div>

                <div class="equipment__card-image">
                    <img src="./assets/images/equipment/image.webp" alt="" />
                </div>
            </div>
            <div data-content-block="equipment-2" class="equipment__card">
                <div class="equipment__card-info">
                    <span class="equipment__card-title"> Косметологическое оборудование </span>

                    <p class="equipment__card-description">
                        Наши ультразвуковые сканеры позволяют нам проводить детальные и точные исследования
                        органов и тканей, что помогает в диагностике.
                    </p>
                </div>

                <div class="equipment__card-image">
                    <img src="./assets/images/equipment/image.webp" alt="" />
                </div>
            </div>
            <div data-content-block="equipment-3" class="equipment__card">
                <div class="equipment__card-info">
                    <span class="equipment__card-title"> Косметологическое оборудование </span>

                    <p class="equipment__card-description">
                        Наши ультразвуковые сканеры позволяют нам проводить детальные и точные исследования
                        органов и тканей, что помогает в диагностике.
                    </p>
                </div>

                <div class="equipment__card-image">
                    <img src="./assets/images/equipment/image.webp" alt="" />
                </div>
            </div>
            <div data-content-block="equipment-4" class="equipment__card">
                <div class="equipment__card-info">
                    <span class="equipment__card-title"> Косметологическое оборудование </span>

                    <p class="equipment__card-description">
                        Наши ультразвуковые сканеры позволяют нам проводить детальные и точные исследования
                        органов и тканей, что помогает в диагностике.
                    </p>
                </div>

                <div class="equipment__card-image">
                    <img src="./assets/images/equipment/image.webp" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
