<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__contacts">
                <div class="footer__logo">
                    <a href="#">
                        <img src="./assets/images/icons/logo.svg" alt="logo" />
                    </a>
                </div>

                <ul class="footer__contacts-list">
                    <li class="footer__contacts-item">
                        <div class="footer__contacts-item-icon">
                            <img src="./assets/images/icons/location.svg" alt="location" />
                        </div>

                        <address>Москва, Бутырская улица, 77, этаж 3</address>
                    </li>

                    <li class="footer__contacts-item">
                        <div class="footer__contacts-item-icon">
                            <img src="./assets/images/icons/phone.svg" alt="location" />
                        </div>

                        <a href="tel:+7 (938) 477-57-57">+7 (938) 477-57-57</a>
                    </li>
                </ul>

                <ul class="footer__contacts-links --desc">
                    <li>
                        <a href="#" class="footer__contacts-link"> Политика конфиденциальности </a>
                    </li>
                    <li>
                        <a href="#" class="footer__contacts-link"> Договор оферты </a>
                    </li>
                </ul>
            </div>

            <div class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item a">
                        <span class="footer__nav-item-title">
                            Услуги
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Гинекология </a>
                            </li>
                            <li>
                                <a href="#"> Коррекция фигуры </a>
                            </li>
                            <li>
                                <a href="#"> Терапия </a>
                            </li>
                            <li>
                                <a href="#"> Эндокринология </a>
                            </li>
                            <li>
                                <a href="#"> Диетология </a>
                            </li>
                            <li>
                                <a href="#"> Урология </a>
                            </li>
                            <li>
                                <a href="#"> Лабораторная диагностика </a>
                            </li>
                            <li>
                                <a href="#"> Ультразвуковая диагностика </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item b">
                        <span class="footer__nav-item-title">
                            Цены
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Гинекология </a>
                            </li>
                            <li>
                                <a href="#"> Коррекция фигуры </a>
                            </li>
                            <li>
                                <a href="#"> Терапия </a>
                            </li>
                            <li>
                                <a href="#"> Эндокринология </a>
                            </li>
                            <li>
                                <a href="#"> Диетология </a>
                            </li>
                            <li>
                                <a href="#"> Урология </a>
                            </li>
                            <li>
                                <a href="#"> Лабораторная диагностика </a>
                            </li>
                            <li>
                                <a href="#"> Ультразвуковая диагностика </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item c">
                        <span class="footer__nav-item-title">
                            О клинике
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Преимущества </a>
                            </li>
                            <li>
                                <a href="#">Специалисты</a>
                            </li>
                            <li>
                                <a href="#"> Оборудование </a>
                            </li>
                            <li>
                                <a href="#"> Новости </a>
                            </li>
                            <li>
                                <a href="#"> Акции </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item d">
                        <a href="#" class="footer__nav-item-title">Контакты </a>
                    </li>
                </ul>
            </div>

            <ul class="footer__contacts-links --mob">
                <li>
                    <a href="#" class="footer__contacts-link"> Политика конфиденциальности </a>
                </li>
                <li>
                    <a href="#" class="footer__contacts-link"> Договор оферты </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div class="modal__wrapper" id="request-modal">
    <div class="modal__logo --mob">
        <img src="./assets/images/icons/logo-modal.svg" alt="" />
    </div>

    <div class="modal">
        <div class="modal__close">
            <img src="./assets/images/close.svg" alt="" />
        </div>
        <div class="modal__body">
            <div class="modal__logo --desc">
                <img src="./assets/images/icons/logo.svg" alt="" />
            </div>

            <div class="modal__content">
                <div class="modal__content-info">
                    <h2 class="modal__content-info-title">получить консультацию</h2>

                    <p class="modal__content-info-description">
                        Оставьте ваше имя и номер телефона  и мы вам перезвоним в ближайшее время.
                    </p>

                    <a href="tel:79388792157" class="modal__content-info-phone --desc">
                        <img src="./assets/images/icons/phone.svg" alt="" />

                        <span>+7 (938) 879-21-57</span>
                    </a>
                </div>

                <form action="#" class="modal__content-form">
                    <div class="modal__content-form-field input">
                        <label for="name">Имя</label>
                        <input
                            id="name"
                            data-validate="name"
                            data-required=""
                            autocomplete="off"
                            type="text"
                            name="form"
                            data-error="Поле должно быть заполнено"
                            class="input__field"
                        />
                    </div>

                    <div class="modal__content-form-field input">
                        <label for="phone">Телефон</label>
                        <input
                            id="phone"
                            data-validate="phone"
                            data-required=""
                            data-phone-mask=""
                            autocomplete="off"
                            type="tel"
                            name="form[]"
                            data-error="Поле должно быть заполнено"
                            class="input__field"
                        />
                    </div>

                    <div class="modal__content-form-submit">
                        <button class="btn-primary" type="submit">
                            <span> Записаться </span>
                        </button>

                        <div class="modal__content-form-submit-agreement">
                            <label for="agree" class="checkbox">
                                <input id="agree" type="checkbox" checked />
                                <span
                                >Согласен(-а) с обработкой моих персональных данных в соответствии
                                             с политикой конфиденциальности
                                        </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal__wrapper" id="service-appointment-modal">
    <div class="modal__logo --mob">
        <img src="./assets/images/icons/logo-modal.svg" alt="" />
    </div>

    <div class="modal">
        <div class="modal__close">
            <img src="./assets/images/close.svg" alt="" />
        </div>
        <div class="modal__body">
            <div class="modal__logo --desc">
                <img src="./assets/images/icons/logo.svg" alt="" />
            </div>

            <div class="modal__content">
                <div class="modal__content-info">
                    <h2 class="modal__content-info-title">запись на услугу</h2>

                    <!-- <p class="modal__content-subtitle">Услуга: <span>Лазерная эпиляция</span></p> -->

                    <p class="modal__content-info-description">
                        Оставьте ваше имя и номер телефона  и мы вам перезвоним в ближайшее время.
                    </p>

                    <a href="tel:79388792157" class="modal__content-info-phone">
                        <img src="./assets/images/icons/phone.svg" alt="" />

                        <span>+7 (938) 879-21-57</span>
                    </a>
                </div>

                <form action="#" class="modal__content-form">
                    <div class="modal__content-form-field input">
                        <label for="name">Имя</label>
                        <input
                            id="name"
                            data-validate="name"
                            data-required=""
                            autocomplete="off"
                            type="text"
                            name="form"
                            data-error="Поле должно быть заполнено"
                            class="input__field"
                        />
                    </div>

                    <div class="modal__content-form-field input">
                        <label for="phone">Телефон</label>
                        <input
                            id="phone"
                            data-validate="phone"
                            data-required=""
                            data-phone-mask=""
                            autocomplete="off"
                            type="tel"
                            name="form[]"
                            data-error="Поле должно быть заполнено"
                            class="input__field"
                        />
                    </div>

                    <div class="modal__content-form-submit">
                        <button class="btn-primary" type="submit">
                            <span> Записаться </span>
                        </button>

                        <div class="modal__content-form-submit-agreement">
                            <label for="agree" class="checkbox">
                                <input id="agree" type="checkbox" checked />
                                <span
                                >Согласен(-а) с обработкой моих персональных данных в соответствии
                                             с политикой конфиденциальности
                                        </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal__wrapper" id="comment-modal">
    <div class="modal__logo">
        <img src="./assets/images/icons/logo.svg" alt="" />
    </div>

    <h2 class="comment__title">отзыв</h2>

    <div class="modal">
        <div class="modal__close">
            <img src="./assets/images/close.svg" alt="" />
        </div>
        <div class="modal__body">
            <div class="modal__content">
                <span class="comment__author"> Олег иванович </span>

                <time class="comment__date" datetime="2023-07-29"> 29.07.2023 </time>

                <h3 class="comment__text">
                    Я впечатлен профессионализмом и заботой, которую проявили врачи и медицинский
                    персонал.
                </h3>

                <p class="comment__description">
                    Сама процедура SMAS лифтинга была комфортной и не вызвала у меня никаких
                    болезненных ощущений. Врач использовал передовые технологии и методики, чтобы
                    подтянуть и укрепить лицевую и шейную область. Я был приятно удивлен, насколько
                    натурально и молодо выглядит мое лицо после процедуры. Мои морщины и провисание
                    кожи исчезли, а контуры лица стали более подтянутыми и определенными.
                    Восстановление после SMAS лифтинга также прошло гладко. Я получил подробные
                    инструкции от врача о том, как заботиться о коже во время заживления, и он также
                    предложил мне рекомендации по уходу за кожей после процедуры. Я не испытывал
                    больших неудобств или ограничений в повседневной жизни, и через несколько недель я
                    уже мог наслаждаться своим новым, молодым и свежим внешним видом.
                </p>

                <div class="comment__service">
                    <div class="comment__service-logo">
                        <img src="./assets/images/icons/yandex.svg" alt="" />
                    </div>

                    <a href="" class="comment__service-link btn-primary">
                        <span>источник</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
