<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__contacts">
                <div class="footer__logo">
                    <a href="#">
                        <img src="./assets/images/icons/logo.svg" alt="logo" />
                    </a>
                </div>

                <ul class="footer__contacts-list">
                    <li class="footer__contacts-item">
                        <div class="footer__contacts-item-icon">
                            <img src="./assets/images/icons/location.svg" alt="location" />
                        </div>

                        <address>Москва, Бутырская улица, 77, этаж 3</address>
                    </li>

                    <li class="footer__contacts-item">
                        <div class="footer__contacts-item-icon">
                            <img src="./assets/images/icons/phone.svg" alt="location" />
                        </div>

                        <a href="tel:+7 (938) 477-57-57">+7 (938) 477-57-57</a>
                    </li>
                </ul>

                <ul class="footer__contacts-links --desc">
                    <li>
                        <a href="#" class="footer__contacts-link"> Политика конфиденциальности </a>
                    </li>
                    <li>
                        <a href="#" class="footer__contacts-link"> Договор оферты </a>
                    </li>
                </ul>
            </div>

            <div class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item a">
                        <span class="footer__nav-item-title">
                            Услуги
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Гинекология </a>
                            </li>
                            <li>
                                <a href="#"> Коррекция фигуры </a>
                            </li>
                            <li>
                                <a href="#"> Терапия </a>
                            </li>
                            <li>
                                <a href="#"> Эндокринология </a>
                            </li>
                            <li>
                                <a href="#"> Диетология </a>
                            </li>
                            <li>
                                <a href="#"> Урология </a>
                            </li>
                            <li>
                                <a href="#"> Лабораторная диагностика </a>
                            </li>
                            <li>
                                <a href="#"> Ультразвуковая диагностика </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item b">
                        <span class="footer__nav-item-title">
                            Цены
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Гинекология </a>
                            </li>
                            <li>
                                <a href="#"> Коррекция фигуры </a>
                            </li>
                            <li>
                                <a href="#"> Терапия </a>
                            </li>
                            <li>
                                <a href="#"> Эндокринология </a>
                            </li>
                            <li>
                                <a href="#"> Диетология </a>
                            </li>
                            <li>
                                <a href="#"> Урология </a>
                            </li>
                            <li>
                                <a href="#"> Лабораторная диагностика </a>
                            </li>
                            <li>
                                <a href="#"> Ультразвуковая диагностика </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item c">
                        <span class="footer__nav-item-title">
                            О клинике
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M19 9L11.8293 16L5 9" stroke="#282828" stroke-linecap="round" />
                            </svg>
                        </span>

                        <ul>
                            <li>
                                <a href="#"> Преимущества </a>
                            </li>
                            <li>
                                <a href="#">Специалисты</a>
                            </li>
                            <li>
                                <a href="#"> Оборудование </a>
                            </li>
                            <li>
                                <a href="#"> Новости </a>
                            </li>
                            <li>
                                <a href="#"> Акции </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__nav-item d">
                        <a href="#" class="footer__nav-item-title">Контакты </a>
                    </li>
                </ul>
            </div>

            <ul class="footer__contacts-links --mob">
                <li>
                    <a href="#" class="footer__contacts-link"> Политика конфиденциальности </a>
                </li>
                <li>
                    <a href="#" class="footer__contacts-link"> Договор оферты </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
