<section class="neutral">
    <div class="container">
        <div class="neutral__content">
            <div class="neutral__info">
                <span class="neutral__subtitle"> у нас в клинике вы сможете </span>

                <h1 class="neutral__title">Сохранить свою молодость</h1>

                <a href="" class="neutral__link btn-secondary">
                    <span> О клинике </span>

                    <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                </a>

                <div class="neutral__tour">
                    <div class="neutral__tour-image">
                        <img src="./assets/images/icons/cube.svg" alt="" />
                    </div>

                    <div class="neutral__tour-text">
                        <p class="neutral__tour-title">
                            3D-тур <br />
                            по клинике
                        </p>

                        <a href="" class="neutral__tour-link btn-secondary">
                            <span> смотреть </span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </div>

                <div class="neutral__services">
                    <p class="neutral__services-title">Популярные услуги:</p>

                    <ul class="neutral__services-list">
                        <li class="neutral__services-item">
                            <a href=""> массаж </a>
                        </li>
                        <li class="neutral__services-item">
                            <a href=""> маникюр </a>
                        </li>
                        <li class="neutral__services-item">
                            <a href=""> педикюр </a>
                        </li>
                        <li class="neutral__services-item">
                            <a href=""> гинекология </a>
                        </li>
                        <li class="neutral__services-item">
                            <a href=""> лимфодренажный массаж </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="layer__content">
                <div class="layer__content-problems">
                    <div class="layer__content-problems-view">
                        <img src="./assets/images/layer/man-face-view.webp" alt="" />
                    </div>

                    <ul class="layer__content-problems-list">
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 1 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 2 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 3 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 4 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 5 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 6 </span>
                        </li>
                        <li class="layer__content-problems-item">
                            <span class="layer__content-problems-item-counter"> 7 </span>
                        </li>
                    </ul>
                </div>

                <div class="layer__content-bottom">
                    <button class="layer__content-bottom-reverse">
                        <img src="./assets/images/icons/reverse.svg" alt="" />
                    </button>

                    <ul class="layer__content-bottom-views">
                        <li class="layer__content-bottom-view">
                            <img src="./assets/images/layer/man-body-view.svg" alt="" />
                        </li>

                        <li class="layer__content-bottom-view">
                            <img src="./assets/images/layer/man-face-view.svg" alt="" />
                        </li>
                    </ul>
                </div>
            </div>

            <aside class="neutral__service">
                <h3 class="neutral__service-title">Добро пожаловать  на сайт клиники «САНТЭФАММ»</h3>

                <p class="neutral__service-description">
                    Вы можете выбрать желаемый вид услуг, мужские или женские, или узнать об услугах или
                    отдельных направлениях работы нашей клиники.
                </p>

                <a href="" class="neutral__service-block-link btn-secondary --mob">
                    <span>все услуги</span>

                    <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                </a>

                <div class="neutral__service-block">
                    <a href="" class="neutral__service-block-link btn-secondary --desc">
                        <span>все услуги</span>

                        <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                    </a>

                    <span class="neutral__service-block-counter"> >80 услуг </span>

                    <div class="neutral__service-block-image">
                        <img src="./assets/images/neutral/service-image.webp" alt="" />
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
