<section class="action">
    <div class="container">
        <div class="action__container">
            <div class="action__titles">
                <h2 class="action__title title">другие новости</h2>
                <div data-da=".action .panel-wrapper,768,first" class="action-other__panel swiper-panel">
                    <button type="button" class="swiper-panel__btn action-other-panel__btn-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="action-other-panel__fractions"></div>
                    <button type="button" class="swiper-panel__btn action-other-panel__btn-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper action-other__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide action-other__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                </div>
            </div>

            <div class="panel-wrapper"></div>
        </div>
    </div>
</section>
