<div class="news-card">
    <a href="#" class="news-card__title">рассказываем, какие части тела стареют быстрее</a>
    <div class="news-card__desc">
        Косметолог рассказала, какие части тела стареют быстрее. Косметолог Барабанова: шея и зона декольте
        быстрее подвергаются старению
    </div>
    <div class="news-card__img">
        <img src="./assets/images/news-card.png" alt="" />
    </div>
    <div class="news-card__link">
        <a href="#" class="btn-primary">
            <span>подробнее</span>
        </a>
    </div>
</div>
