<section class="news">
    <div class="container">
        <div class="news__container">
            <div class="news__titles">
                <div class="news__title title">Новости</div>
                <div class="news__panel swiper-panel">
                    <button type="button" class="swiper-panel__btn news-panel__btn-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="news-panel__fractions"></div>
                    <button type="button" class="swiper-panel__btn news-panel__btn-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper news__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                    <div class="swiper-slide news__slide">
                        <include src="./components/news-card.html"></include>
                    </div>
                </div>
            </div>

            <a href="" class="news__link btn-secondary btn-details">
                <span>Подробнее</span>

                <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
            </a>
        </div>
    </div>
</section>
