<section class="article">
    <div class="container">
        <div class="article__content">
            <time class="article__date" datetime="2023-03-17"> 17.03.2023 </time>

            <h1 class="article__title">
                гинекологи "SANTEFEMME" прошли курс тематического усовершенствования
            </h1>

            <div class="article__image">
                <img src="./assets/images/news-detailed/image.webp" alt="" />
            </div>

            <p class="article__description">
                Врачи гинекологи медицинской клиники САНТЭФАММ прошли курс тематического усовершенствования по
                направлениям: <br />
                Современные методы коррекции в урогинекологии и их сочетание в практике врача и Практическая
                гинекология: эстетика нижних отделов полового тракта <br />
                Курс предназначен для специалистов нового превентивного и anti-age направления в гинекологии.
                <br />
                Современная тактика по сочетанному применению новейших технологий, сертифицированных в РФ для
                работы в интимной зоне (аппаратные методики- лазерный фототермолиз, интимная контурная
                пластика, нитевой лифтинг промежности и малоинвазивная хирургия). Обучение по авторским
                методикам.
            </p>

            <span class="article__subtitle"> Практическое обучение по методам: </span>

            <ul class="article__list">
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Лазерное интравагинальное фракционное воздействие.</p>
                </li>
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Нитевой перинеовагинальный лифтинг.</p>
                </li>
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Парауретральные инъекции различными объем-образующими агентами.</p>
                </li>
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Лазерное интравагинальное фракционное воздействие.</p>
                </li>
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Нитевой перинеовагинальный лифтинг.</p>
                </li>
                <li class="article__item">
                    <div class="article__item-marker">
                        <img src="./assets/images/marker.svg" alt="" />
                    </div>

                    <p>Парауретральные инъекции различными объем-образующими агентами.</p>
                </li>
            </ul>
        </div>

        <include src="./components/article-news.html"></include>
    </div>
</section>
<include src="./components/news-slider.html"></include>