<section class="novelty">
    <div class="container">
        <div class="novelty__content">
            <h1 class="novelty__title title">Новости</h1>

            <div class="novelty__articles">
                <include src="./components/news-card.html"></include>
                <include src="./components/news-card.html"></include>
                <include src="./components/news-card.html"></include>
                <include src="./components/news-card.html"></include>
                <include src="./components/news-card.html"></include>
                <include src="./components/news-card.html"></include>
            </div>

            <a href="" class="novelty__show-more"> Показать еще </a>

            <button class="button-up">
                <img src="./assets/images/icons/arrow-up.svg" alt="">
            </button>
        </div>
    </div>
</section>
