<section class="pages-info">
    <div class="container">
        <div class="pages-info__container">
            <div class="swiper pages-info__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="pages-info__info">
                            <div class="pages-info__titles">
                                <h2 class="pages-info__title title">О клинике</h2>
                            </div>
                            <div class="pages-info__info-decription">
                                <p class="pages-info__info-decription-text">
                                    Медицинская клиника Сантэфамм — это многопрофильное медицинское
                                    учреждение, предлагающее индивидуальный комплекс процедур для каждого
                                    клиента.
                                </p>
                                <p class="pages-info__info-decription-text">
                                    Среди предлагаемых комплексов процедур можно выделить физиотерапию,
                                    лечебный массаж, иглорефлексотерапию, тонизирующие процедуры. После
                                    лабораторных изысканий мы сможем оперативно предоставить бумаги с
                                    результатами, поскольку клиника имеет свою лабораторию.
                                </p>
                                <p class="pages-info__info-decription-text">
                                    Новейшее оборудование центра помогает провести диагностику организма
                                    пациента для составления плана лечения и профилактики.
                                </p>
                            </div>
                            <div class="pages-info__info-card">
                                <div class="pages-info__info-card-decription">
                                    <p>Наши специалисты внимательно отнесутся к каждой вашей просьбе.</p>
                                    <p>
                                        Доверяя свое здоровье нам, вы можете не&nbsp;сомневаться в
                                        положительном результате.
                                    </p>
                                </div>
                                <div class="pages-info__info-card-person">
                                    <div class="pages-info__info-card-person-img">
                                        <img src="./assets/images/doctor-circle.png" alt="" />
                                    </div>
                                    <div class="pages-info__info-card-person-text">
                                        <p class="pages-info__info-card-person-name">Залина Назаренко</p>
                                        <p class="pages-info__info-card-person-post">Главврач</p>
                                    </div>
                                </div>
                                <div class="pages-info__info-card-lines">
                                    <img src="./assets/images/icons/lines.svg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="pages-info__3d">
                            <div class="pages-info__3d-img">
                                <img src="./assets/images/pages-info/photo.png" alt="" />
                                <button class="pages-info__3d-button">
                                    <div class="pages-info__3d-button-img">
                                        <img src="./assets/images/icons/cube.svg" alt="" />
                                    </div>
                                    <a class="pages-info__3d-button-text">
                                        <p>3D-тур по клинике</p>
                                        <div class="pages-info__3d-button-text-icon">
                                            <img src="./assets/images/icons/arrow-black.svg" alt="" />
                                        </div>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pages-info__info">
                            <div class="pages-info__titles">
                                <h2 class="pages-info__title title">Преимущества</h2>
                            </div>
                            <div class="pages-info__info-decription">
                                <p class="pages-info__info-decription-text">
                                    Мы редлагаем индивидуальный комплекс процедур для каждого клиента. Работа
                                    клиники организована с учетом комфортного пребывания посетителей.
                                </p>
                                <p class="pages-info__info-decription-text">
                                    Новейшее оборудование центра помогает провести диагностику организма
                                    пациента для составления плана лечения и профилактики.
                                </p>
                            </div>
                            <div class="pages-info__ellipse">
                                <div class="pages-info__ellipse-img">
                                    <img src="./assets/images/pages-info/ellipse.png" alt="" />
                                </div>
                                <div class="pages-info__ellipse-item --item1">
                                    <div class="pages-info__ellipse-item-circle"></div>
                                    <div class="pages-info__ellipse-item-text">
                                        <p class="pages-info__ellipse-item-title">Индивидуальный подход</p>
                                        <p class="pages-info__ellipse-item-description">
                                            Индивидуальный комплекс процедур для каждого клиента
                                        </p>
                                    </div>
                                </div>
                                <div class="pages-info__ellipse-item --item2">
                                    <div class="pages-info__ellipse-item-circle"></div>
                                    <div class="pages-info__ellipse-item-text">
                                        <p class="pages-info__ellipse-item-title">Комфорт</p>
                                        <p class="pages-info__ellipse-item-description">
                                            Продумано комфортное пребывание посетителей
                                        </p>
                                    </div>
                                </div>
                                <div class="pages-info__ellipse-item --item3">
                                    <div class="pages-info__ellipse-item-circle"></div>
                                    <div class="pages-info__ellipse-item-text">
                                        <p class="pages-info__ellipse-item-title">Оборудование</p>
                                        <p class="pages-info__ellipse-item-description">
                                            Новейшее оборудование центра
                                        </p>
                                    </div>
                                </div>
                                <div class="pages-info__ellipse-item --item4">
                                    <div class="pages-info__ellipse-item-circle"></div>
                                    <div class="pages-info__ellipse-item-text">
                                        <p class="pages-info__ellipse-item-title">Своя лаборатория</p>
                                        <p class="pages-info__ellipse-item-description">
                                            Оперативность в предоставлении результатов
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pages-info__3d">
                            <div class="pages-info__3d-img">
                                <img src="./assets/images/pages-info/photo2.png" alt="" />
                                <button class="pages-info__3d-button">
                                    <div class="pages-info__3d-button-img">
                                        <img src="./assets/images/icons/certificate.svg" alt="" />
                                    </div>
                                    <a class="pages-info__3d-button-text">
                                        <p>Наши сертификаты</p>
                                        <div class="pages-info__3d-button-text-icon">
                                            <img src="./assets/images/icons/arrow-black.svg" alt="" />
                                        </div>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pages-info__info">
                            <div class="pages-info__titles">
                                <h2 class="pages-info__title title">оборудование</h2>
                            </div>
                            <ul class="pages-info__info-list">
                                <li class="pages-info__info-list-item">
                                    <div class="pages-info__info-list-item-img">
                                        <img src="./assets/images/pages-info/equipment1.png" alt="" />
                                    </div>
                                    <div class="pages-info__info-list-item-text">
                                        <p class="pages-info__info-list-item-title">
                                            Диагностическое оборудование
                                        </p>
                                        <p class="pages-info__info-list-item-description">
                                            Мы оснащены современными приборами для проведения лабораторных
                                            исследований, включая анализы крови, мочи, биопсии и другие.
                                        </p>
                                    </div>
                                </li>
                                <li class="pages-info__info-list-item">
                                    <div class="pages-info__info-list-item-img">
                                        <img src="./assets/images/pages-info/equipment2.png" alt="" />
                                    </div>
                                    <div class="pages-info__info-list-item-text">
                                        <p class="pages-info__info-list-item-title">
                                            Ультразвуковые устройства
                                        </p>
                                        <p class="pages-info__info-list-item-description">
                                            Наши ультразвуковые сканеры позволяют нам проводить детальные и
                                            точные исследования органов и тканей, что помогает в диагностике.
                                        </p>
                                    </div>
                                </li>
                                <li class="pages-info__info-list-item">
                                    <div class="pages-info__info-list-item-img">
                                        <img src="./assets/images/pages-info/equipment1.png" alt="" />
                                    </div>
                                    <div class="pages-info__info-list-item-text">
                                        <p class="pages-info__info-list-item-title">
                                            Диагностическое оборудование
                                        </p>
                                        <p class="pages-info__info-list-item-description">
                                            Мы оснащены современными приборами для проведения лабораторных
                                            исследований, включая анализы крови, мочи, биопсии и другие.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="pages-info__3d">
                            <div class="pages-info__3d-img">
                                <img src="./assets/images/pages-info/photo3.png" alt="" />
                                <button class="pages-info__3d-button">
                                    <div class="pages-info__3d-button-img">
                                        <img src="./assets/images/icons/cube.svg" alt="" />
                                    </div>
                                    <a class="pages-info__3d-button-text">
                                        <p>3D-тур по клинике</p>
                                        <div class="pages-info__3d-button-text-icon">
                                            <img src="./assets/images/icons/arrow-black.svg" alt="" />
                                        </div>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pages-info__3d-link">
                    <a href="#" class="btn-primary">
                        <span>Запись на прием</span>
                    </a>
                </div>
            </div>

            <button href="#" class="pages-info__link-rotate pages-info__link-rotate-next">
                <p class="pages-info__link-rotate-text">Преимущества</p>
                <div class="pages-info__link-rotate-icon">
                    <img src="./assets/images/icons/arrow-white.svg" alt="" />
                </div>
            </button>
            <button href="#" class="pages-info__link-rotate pages-info__link-rotate-prev">
                <p class="pages-info__link-rotate-text">Оборудование</p>
                <div class="pages-info__link-rotate-icon">
                    <img src="./assets/images/icons/arrow-white.svg" alt="" />
                </div>
            </button>
        </div>
    </div>
</section>
