<section class="palomar">
    <div class="container">
        <div class="palomar__content">
            <div class="palomar__slider-block">
                <div class="swiper palomar__swiper">
                    <ul class="swiper-wrapper">
                        <li data-content-open="palomar-1" class="swiper-slide --active palomar__slide">
                            <div class="palomar__slide-wrapper">
                                <div class="palomar__slide-image">
                                    <img src="./assets/images/palomar/palomar-image-1.webp" alt="" />
                                </div>

                                <p class="palomar__slide-title"><span>Palomar ICON</span></p>
                            </div>
                        </li>
                        <li data-content-open="palomar-2" class="swiper-slide palomar__slide">
                            <div class="palomar__slide-wrapper">
                                <div class="palomar__slide-image">
                                    <img src="./assets/images/palomar/palomar-image-2.webp" alt="" />
                                </div>

                                <p class="palomar__slide-title"><span>AcuPulse</span></p>
                            </div>
                        </li>
                        <li data-content-open="palomar-3" class="swiper-slide palomar__slide">
                            <div class="palomar__slide-wrapper">
                                <div class="palomar__slide-image">
                                    <img src="./assets/images/palomar/palomar-image-3.webp" alt="" />
                                </div>

                                <p class="palomar__slide-title"><span>Ulthera System</span></p>
                            </div>
                        </li>
                        <li data-content-open="palomar-4" class="swiper-slide palomar__slide">
                            <div class="palomar__slide-wrapper">
                                <div class="palomar__slide-image">
                                    <img src="./assets/images/palomar/palomar-image-3.webp" alt="" />
                                </div>

                                <p class="palomar__slide-title"><span>Ulthera System</span></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="swiper-button-prev palomar-button-prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M15.5 5.5L8.5 12.6707L15.5 19.5"
                            stroke="url(#paint0_linear_2624_1888)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1888"
                                x1="5.525"
                                y1="5.96666"
                                x2="16.455"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="swiper-button-next palomar-button-next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.5 5.5L15.5 12.6707L8.5 19.5"
                            stroke="url(#paint0_linear_2624_1872)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1872"
                                x1="18.475"
                                y1="5.96666"
                                x2="7.54497"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>

            <div data-content-block="palomar-1" class="palomar__block --active">
                <h2 class="palomar__title title">PALOMAR ICON</h2>

                <div class="palomar__info">
                    <div class="palomar__info-image">
                        <img src="./assets/images/palomar/palomar-info-image.webp" alt="" />
                    </div>

                    <div class="palomar__info-text-block">
                        <p class="palomar__info-description">
                            Диапазон применения системы невероятно широк и включает исследование брюшной
                            полости, сосудов, репродуктивных органов, скелетно-мышечного аппарата, малых
                            органов, сердца, сосудов и транскраниальных исследований, мочевыделительной
                            системы, в том числе у новорожденных и детей. Новая технология XDclear 2.0
                            обеспечивает высокое разрешение и более глубокое проникновение, а также платформа
                            имеет усовершенствованную акустическую архитектуру, дисплей и систему
                            постобработки. Благодаря мощному процессу формирования изображений, вы сможете:
                            Чётко различать мелкие детали – на 22% повышение контрастности. Точно
                            фокусироваться на близких и удаленных объектах – на 99% улучшенное
                            пространственное разрешение. Охватывать больше информации одним взглядом – на 170%
                            больше информации.
                        </p>

                        <span class="palomar__info-subtitle"> Преимущества: </span>

                        <ul class="palomar__info-benefits-list">
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                    последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Акцент на центральную зону (от верхнего края лопатки до нижней пары
                                    ребер). В области между лопатками мастер применяет щадящие техники.
                                    Особенное внимание удаляют позвоночнику
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование воротниковой зоны (с основания черепа до лопаток).
                                    Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-content-block="palomar-2" class="palomar__block">
                <h2 class="palomar__title title">PALOMAR ICON</h2>

                <div class="palomar__info">
                    <div class="palomar__info-image">
                        <img src="./assets/images/palomar/palomar-info-image.webp" alt="" />
                    </div>

                    <div class="palomar__info-text-block">
                        <p class="palomar__info-description">
                            Диапазон применения системы невероятно широк и включает исследование брюшной
                            полости, сосудов, репродуктивных органов, скелетно-мышечного аппарата, малых
                            органов, сердца, сосудов и транскраниальных исследований, мочевыделительной
                            системы, в том числе у новорожденных и детей. Новая технология XDclear 2.0
                            обеспечивает высокое разрешение и более глубокое проникновение, а также платформа
                            имеет усовершенствованную акустическую архитектуру, дисплей и систему
                            постобработки. Благодаря мощному процессу формирования изображений, вы сможете:
                            Чётко различать мелкие детали – на 22% повышение контрастности. Точно
                            фокусироваться на близких и удаленных объектах – на 99% улучшенное
                            пространственное разрешение. Охватывать больше информации одним взглядом – на 170%
                            больше информации.
                        </p>

                        <span class="palomar__info-subtitle"> Преимущества: </span>

                        <ul class="palomar__info-benefits-list">
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                    последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Акцент на центральную зону (от верхнего края лопатки до нижней пары
                                    ребер). В области между лопатками мастер применяет щадящие техники.
                                    Особенное внимание удаляют позвоночнику
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование воротниковой зоны (с основания черепа до лопаток).
                                    Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-content-block="palomar-3" class="palomar__block">
                <h2 class="palomar__title title">PALOMAR ICON</h2>

                <div class="palomar__info">
                    <div class="palomar__info-image">
                        <img src="./assets/images/palomar/palomar-info-image.webp" alt="" />
                    </div>

                    <div class="palomar__info-text-block">
                        <p class="palomar__info-description">
                            Диапазон применения системы невероятно широк и включает исследование брюшной
                            полости, сосудов, репродуктивных органов, скелетно-мышечного аппарата, малых
                            органов, сердца, сосудов и транскраниальных исследований, мочевыделительной
                            системы, в том числе у новорожденных и детей. Новая технология XDclear 2.0
                            обеспечивает высокое разрешение и более глубокое проникновение, а также платформа
                            имеет усовершенствованную акустическую архитектуру, дисплей и систему
                            постобработки. Благодаря мощному процессу формирования изображений, вы сможете:
                            Чётко различать мелкие детали – на 22% повышение контрастности. Точно
                            фокусироваться на близких и удаленных объектах – на 99% улучшенное
                            пространственное разрешение. Охватывать больше информации одним взглядом – на 170%
                            больше информации.
                        </p>

                        <span class="palomar__info-subtitle"> Преимущества: </span>

                        <ul class="palomar__info-benefits-list">
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                    последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Акцент на центральную зону (от верхнего края лопатки до нижней пары
                                    ребер). В области между лопатками мастер применяет щадящие техники.
                                    Особенное внимание удаляют позвоночнику
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование воротниковой зоны (с основания черепа до лопаток).
                                    Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-content-block="palomar-4" class="palomar__block">
                <h2 class="palomar__title title">PALOMAR ICON</h2>

                <div class="palomar__info">
                    <div class="palomar__info-image">
                        <img src="./assets/images/palomar/palomar-info-image.webp" alt="" />
                    </div>

                    <div class="palomar__info-text-block">
                        <p class="palomar__info-description">
                            Диапазон применения системы невероятно широк и включает исследование брюшной
                            полости, сосудов, репродуктивных органов, скелетно-мышечного аппарата, малых
                            органов, сердца, сосудов и транскраниальных исследований, мочевыделительной
                            системы, в том числе у новорожденных и детей. Новая технология XDclear 2.0
                            обеспечивает высокое разрешение и более глубокое проникновение, а также платформа
                            имеет усовершенствованную акустическую архитектуру, дисплей и систему
                            постобработки. Благодаря мощному процессу формирования изображений, вы сможете:
                            Чётко различать мелкие детали – на 22% повышение контрастности. Точно
                            фокусироваться на близких и удаленных объектах – на 99% улучшенное
                            пространственное разрешение. Охватывать больше информации одним взглядом – на 170%
                            больше информации.
                        </p>

                        <span class="palomar__info-subtitle"> Преимущества: </span>

                        <ul class="palomar__info-benefits-list">
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                    последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Акцент на центральную зону (от верхнего края лопатки до нижней пары
                                    ребер). В области между лопатками мастер применяет щадящие техники.
                                    Особенное внимание удаляют позвоночнику
                                </p>
                            </li>
                            <li class="palomar__info-benefits-item">
                                <div class="palomar__info-benefits-item-marker">
                                    <img src="./assets/images/marker.svg" alt="" />
                                </div>

                                <p>
                                    Массирование воротниковой зоны (с основания черепа до лопаток).
                                    Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="palomar__bottom">
                <div class="palomar__panel swiper-panel --desc">
                    <button type="button" class="swiper-panel__btn palomar__result-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="palomar__panel-fractions"></div>
                    <button type="button" class="swiper-panel__btn palomar__result-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>

                <div class="palomar__bottom-wrapper">
                    <div class="swiper palomar__swiper-result">
                        <div class="swiper-wrapper">
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-1.webp" alt="" />
                                </div>

                                <span class="palomar__result-title"> До процедуры </span>
                            </a>
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-2.webp" alt="" />
                                </div>

                                <span class="palomar__result-title">После процедуры</span>
                            </a>
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-1.webp" alt="" />
                                </div>

                                <span class="palomar__result-title"> До процедуры </span>
                            </a>
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-2.webp" alt="" />
                                </div>

                                <span class="palomar__result-title">После процедуры</span>
                            </a>
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-2.webp" alt="" />
                                </div>

                                <span class="palomar__result-title">После процедуры</span>
                            </a>
                            <a class="swiper-slide palomar__bottom-slide">
                                <div class="palomar__result-image">
                                    <img src="./assets/images/palomar/result-2.webp" alt="" />
                                </div>

                                <span class="palomar__result-title">После процедуры</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="palomar__panel swiper-panel --mob">
                    <button type="button" class="swiper-panel__btn palomar__result-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="palomar__panel-fractions"></div>
                    <button type="button" class="swiper-panel__btn palomar__result-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
