<section class="prices-list">
    <div class="container">
        <div class="prices-list__title title">Цены</div>
        <div class="prices-list__content">
            <ul class="prices-list__table">
                <li class="prices-list__table-row">
                    <div class="prices-list__table-cell">
                        <div class="prices-list__table-cell-title">
                            <div class="prices-list__table-cell-title-number">1</div>
                            Лимфодренажный массаж. Общий массаж тела
                        </div>
                    </div>
                    <div class="prices-list__table-cell">
                        <ul class="prices-list__table-cell-list">
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="prices-list__table-row">
                    <div class="prices-list__table-cell">
                        <div class="prices-list__table-cell-title">
                            <div class="prices-list__table-cell-title-number">1</div>
                            Лимфодренажный массаж. Общий массаж тела
                        </div>
                    </div>
                    <div class="prices-list__table-cell">
                        <ul class="prices-list__table-cell-list">
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                            <li class="prices-list__table-cell-list-item">
                                <ul>
                                    <li class="prices-list__table-cell-list-item-text">
                                        Продолжительность: 60 минут
                                    </li>
                                    <li class="prices-list__table-cell-list-item-text">Цена: 3 500 руб.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="prices-list__link">
                <a href="#" class="btn-secondary">
                    <span>смотреть еще</span>
                    <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>
