<section class="prices">
    <div class="container">
        <h1 class="prices__heading-title">косметология</h1>

        <div class="prices__content">
            <div class="prices__categories-info">
                <div class="swiper prices__categories-swiper">
                    <ul class="swiper-wrapper prices__categories-info-subcategories">
                        <li class="swiper-slide prices__categories-slide">
                            <div
                                data-content-open="category-1"
                                class="prices__categories-info-subcategory --active"
                            >
                                <button><span>Эстетическая медицина</span></button>
                            </div>
                        </li>
                        <li class="swiper-slide prices__categories-slide">
                            <div
                                data-content-open="category-2"
                                class="prices__categories-info-subcategory"
                            >
                                <button><span>уходовая косметика</span></button>
                            </div>
                        </li>
                        <li class="swiper-slide prices__categories-slide">
                            <div
                                data-content-open="category-3"
                                class="prices__categories-info-subcategory"
                            >
                                <button><span>уходовая косметика</span></button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div
                    data-content-block="category-1"
                    class="prices__categories-info-articles --active"
                >
                    <article class="prices__categories-info-article accordion__item --active">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">мезотерапия</p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="prices__categories-info-article accordion__item">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">
                                общие услуги
                            </p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>

                <div data-content-block="category-2" class="prices__categories-info-articles">
                    <article class="prices__categories-info-article accordion__item --active">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">мезотерапия</p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="prices__categories-info-article accordion__item">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">
                                общие услуги
                            </p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>

                <div data-content-block="category-3" class="prices__categories-info-articles">
                    <article class="prices__categories-info-article accordion__item --active">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">мезотерапия</p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="prices__categories-info-article accordion__item">
                        <div class="accordion__heading">
                            <p class="accordion__heading-title">
                                общие услуги
                            </p>

                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>

                        <div class="accordion__content">
                            <ul class="prices__categories-info-list">
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li class="prices__categories-info-item">
                                    <p class="prices__categories-info-item-title">
                                        Прием врача акушер- гинеколога, к.м.н., первичный
                                    </p>

                                    <span class="prices__categories-info-item-price">
                                                    3 500 ₽
                                                </span>

                                    <button
                                        class="prices__categories-info-item-button btn-secondary"
                                    >
                                        <span>записаться</span>

                                        <img
                                            src="./assets/images/icons/gradient-arrow-v2.svg"
                                            alt=""
                                        />
                                    </button>
                                </li>
                                <li>
                                    <button class="prices__categories-info-button btn-secondary">
                                        <span>скрыть</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>