<div class="card-review">
    <div class="card-review__desc">
        <div class="card-review__title">
            Я впечатлен профессионализмом и заботой, которую проявили врачи и медицинский персонал.
        </div>
        <div class="card-review__txt">
            Сама процедура SMAS лифтинга была комфортной и не вызвала у меня никаких болезненных ощущений.
            Врач использовал передовые технологии и методики, чтобы подтянуть и укрепить лицевую и шейную
            область. Я был приятно удивлен, насколько натурально и молодо выглядит мое лицо после процедуры.
            Мои морщины и провисание кожи исчезли, а контуры лица стали более подтянутыми и определенными.
            Восстановление после SMAS лифтинга также прошло гладко. Я получил подробные инструкции от врача о
            том, как заботиться о коже во время заживления, и он также предложил мне рекомендации по уходу за
            кожей после процедуры. Я не испытывал больших неудобств или ограничений в повседневной жизни, и
            через несколько недель я уже мог наслаждаться своим новым, молодым и свежим внешним видом.
        </div>
        <div class="card-review__info">
            <div class="card-review__author">
                <div class="card-review__name">Олег</div>
                <div class="card-review__date">29.07.2023</div>
            </div>
            <div class="card-review__site">
                <img src="./assets/images/icons/yandex.svg" alt="yandex" />
            </div>
        </div>
    </div>
    <a href="#" class="btn-primary card-review__link">
        <span>Читать</span>
    </a>
</div>
