<section class="service-article">
    <div class="container">
        <div class="service-article__title title">лимфодренажный массаж</div>

        <div class="service-article__content">
            <div class="service-article__img --desc">
                <img src="./assets/images/services/massage1.png" alt="" />
                <div class="service-article__img-link">
                    <button class="btn-primary appointment-button">
                        <span>Запись на прием</span>
                    </button>
                </div>
            </div>
            <div class="service-article__description">
                <div class="service-article__description-top">
                    <p class="service-article__description-top-text">
                        Лимфодренажный массаж — это методика аппаратного (механического) или мануального
                        (ручного) воздействия на организм, оказывающая влияние на движение лимфы по телу.
                    </p>
                    <div class="service-article__description-top-img --desc">
                        <img src="./assets/images/services/massage2.png" alt="" />
                    </div>

                    <div class="service-article__img --mob">
                        <img src="./assets/images/services/massage1.png" alt="" />
                        <div class="service-article__img-link">
                            <button class="btn-primary appointment-button">
                                <span>Запись на прием</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="service-article__description-bottom --desc">
                    <p class="service-article__description-bottom-text">
                        Лимфодренажный массаж — это методика аппаратного (механического) или мануального
                        (ручного) воздействия на организм, оказывающая влияние на движение лимфы по телу.
                        Такой вид массажа оказывает не только косметический, но и оздоровительный эффект.
                    </p>
                    <p class="service-article__description-bottom-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект. Лимфодренажный массаж — это методика аппаратного
                        (механического) или мануального (ручного) воздействия на организм, оказывающая влияние
                        на движение лимфы по телу.
                    </p>
                </div>

                <div data-showmore class="--mob">
                    <div class="service-article__description-bottom" data-showmore-content="120">
                        <p class="service-article__description-bottom-text">
                            Лимфодренажный массаж — это методика аппаратного (механического) или мануального
                            (ручного) воздействия на организм, оказывающая влияние на движение лимфы по телу.
                            Такой вид массажа оказывает не только косметический, но и оздоровительный эффект.
                        </p>
                        <p class="service-article__description-bottom-text">
                            Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                            тела, а не просто разминка определенных мышц. Массажные движения выполняются
                            специалистом строго вдоль линий лимфотока, что способствует активизации движения
                            жидкости в организме.Лимфодренажный массаж — это методика аппаратного
                            (механического) или мануального (ручного) воздействия на организм, оказывающая
                            влияние на движение лимфы по телу. Такой вид массажа оказывает не только
                            косметический, но и оздоровительный эффект. Лимфодренажный массаж — это методика
                            аппаратного (механического) или мануального (ручного) воздействия на организм,
                            оказывающая влияние на движение лимфы по телу.
                        </p>
                    </div>
                    <button hidden data-showmore-button type="button" class="showmore-button mobile">
                        <span>читать все</span>
                        <span>Скрыть </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-description">
    <div class="container">
        <div class="service-description__title title">Описание</div>

        <div class="service-description__content">
            <aside class="service-description__tabs swiper services-description-swiper">
                <ul class="swiper-wrapper service-description__tabs-list">
                    <li class="swiper-slide">
                        <div
                            data-content-open="service-description-1"
                            class="service-description__tabs-item --active"
                        >
                            <p class="service-description__tabs-title">Об услуге</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div data-content-open="service-description-2" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Показания</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div data-content-open="service-description-3" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Обрудование</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div data-content-open="service-description-4" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Этапы проведения</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div data-content-open="service-description-5" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Процесс</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div data-content-open="service-description-6" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Противопоказания</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>

                    <li class="swiper-slide">
                        <div data-content-open="service-description-7" class="service-description__tabs-item">
                            <p class="service-description__tabs-title">Вопрос/Ответ</p>
                            <div class="service-description__tabs-icon">
                                <img src="./assets/images/icons/gradient-arrow.svg" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>
            </aside>
            <div class="service-description__info-container">
                <div data-content-block="service-description-1" class="service-description__info --active">
                    <div class="service-description__info-title">об услуге</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-2" class="service-description__info">
                    <div class="service-description__info-title">Показания</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-3" class="service-description__info">
                    <div class="service-description__info-titles">
                        <div class="service-description__info-title">оборудование</div>
                        <div
                            data-da=".service-description__swiper-container,768,last"
                            class="service-description__panel swiper-panel"
                        >
                            <button
                                type="button"
                                class="swiper-panel__btn service-description-panel__btn-prev"
                            >
                                <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                            </button>
                            <div class="service-description-panel__fractions"></div>
                            <button
                                type="button"
                                class="swiper-panel__btn service-description-panel__btn-next"
                            >
                                <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                            </button>
                        </div>
                    </div>
                    <div class="service-description__swiper-container">
                        <div class="swiper service-description__swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide service-description__info-colums">
                                    <p class="service-description__info-text">
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                        Массажные движения выполняются специалистом строго вдоль линий
                                        лимфотока, что способствует активизации движения жидкости в
                                        организме.Лимфодренажный массаж — это методика аппаратного
                                        (механического) или мануального (ручного) воздействия на организм,
                                        оказывающая влияние на движение лимфы по телу. Такой вид массажа
                                        оказывает не только косметический, но и оздоровительный эффект.
                                        <br />
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                    </p>
                                    <div class="service-description__info-colums-bottom">
                                        <div class="service-description__info-colums-img">
                                            <img src="./assets/images/services/equipment1.png" alt="" />
                                        </div>
                                        <p class="service-description__info-colums-bottom-description">
                                            Palomar ICON
                                        </p>
                                    </div>
                                </li>

                                <li class="swiper-slide service-description__info-colums">
                                    <p class="service-description__info-text">
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                        Массажные движения выполняются специалистом строго вдоль линий
                                        лимфотока, что способствует активизации движения жидкости в организме.
                                    </p>
                                    <div class="service-description__info-colums-bottom">
                                        <div class="service-description__info-colums-img">
                                            <img src="./assets/images/services/equipment1.png" alt="" />
                                        </div>
                                        <p class="service-description__info-colums-bottom-description">
                                            Palomar ICON
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-4" class="service-description__info">
                    <div class="service-description__info-titles">
                        <div class="service-description__info-title">Этапы проведения</div>
                    </div>
                    <ul class="service-description__info-grid">
                        <li class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>1</p></div>
                            <div class="service-description__info-grid-item-title">Релаксация</div>
                            <p class="service-description__info-grid-item-description">
                                Продолжительность этапа – 2-3 минуты. Специалист легкими массажными движениями
                                поглаживает и растирает кожу.
                            </p>
                        </li>

                        <li class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>2</p></div>
                            <div class="service-description__info-grid-item-title">Массирование поясницы</div>
                            <p class="service-description__info-grid-item-description">
                                Массажист последовательно применяет приемы, начиная и заканчивая
                                поглаживаниями.
                            </p>
                        </li>

                        <li class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>3</p></div>
                            <div class="service-description__info-grid-item-title">
                                Акцент на центральную зону
                            </div>
                            <p class="service-description__info-grid-item-description">
                                В области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>

                        <li class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>4</p></div>
                            <div class="service-description__info-grid-item-title">
                                Массирование воротниковой зоны
                            </div>
                            <p class="service-description__info-grid-item-description">
                                Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>

                        <li class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>5</p></div>
                            <div class="service-description__info-grid-item-title">Релаксация</div>
                            <p class="service-description__info-grid-item-description">
                                Продолжительность этапа – 2-3 минуты. Специалист легкими массажными движениями
                                поглаживает и растирает кожу.
                            </p>
                        </li>
                    </ul>
                </div>

                <div data-content-block="service-description-5" class="service-description__info">
                    <div class="service-description__info-title">Процесс</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-6" class="service-description__info">
                    <div class="service-description__info-title">Противопоказания</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="./assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-7" class="service-description__info">
                    <div class="service-description__info-title">Вопрос/Ответ</div>

                    <div class="service-description__info-accordion --active">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                С какого возраста можно начинать лимфодренажный массаж?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service-description__info-accordion">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                Как быстро становятся видны результаты от лимфодренажного массажа?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service-description__info-accordion">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                От чего зависят цены на лимфодренажный массаж?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-benefits">
    <div class="container">
        <div class="service-benefits__content">
            <div class="service-benefits__titles">
                <div class="service-benefits__title title">преимущества</div>
            </div>

            <div class="service-benefits__swiper-container">
                <div class="swiper service-benefits__swiper">
                    <ul class="swiper-wrapper service-benefits__cards">
                        <li class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>1</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </li>

                        <li class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>2</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </li>

                        <li class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>3</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </li>

                        <li class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>4</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="service-benefits__panel swiper-panel --mob">
                    <button type="button" class="swiper-panel__btn service-benefits__btn-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="service-benefits__fractions"></div>
                    <button type="button" class="swiper-panel__btn service-benefits__btn-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-before-after">
    <div class="container">
        <div class="service-before-after__content">
            <div class="service-before-after__titles">
                <h2 class="service-before-after__title title">до/после</h2>
                <div
                    data-da=".service-before-after .panel-wrapper,768,first"
                    class="palomar__panel swiper-panel"
                >
                    <button type="button" class="swiper-panel__btn palomar__result-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="palomar__panel-fractions"></div>
                    <button type="button" class="swiper-panel__btn palomar__result-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper palomar__swiper-result">
                <div class="swiper-wrapper">
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-1.webp" alt="" />
                        </div>

                        <span class="palomar__result-title"> До процедуры </span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-1.webp" alt="" />
                        </div>

                        <span class="palomar__result-title"> До процедуры </span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="./assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                </div>
            </div>

            <div class="panel-wrapper"></div>
        </div>
    </div>
</section>

<section class="promotion">
    <div class="container">
        <div class="promotion__content">
            <div class="promotion__text">
                <span class="promotion__text-subtitle"> акция </span>

                <h2 class="promotion__text-title">Программа 3d-лазерное омоложение</h2>

                <p class="promotion__text-price">
                    <span> 900 <small> ₽ </small> </span>

                    за процедуру
                </p>

                <a href="#" class="promotion__text-logo">
                    <img src="./assets/images/icons/logo.svg" alt="" />
                </a>
            </div>

            <div class="promotion__info">
                <svg
                    preserveAspectRatio="none"
                    width="987"
                    height="289"
                    viewBox="0 0 987 289"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <clipPath clipPathUnits="objectBoundingBox" id="promotion__info-background">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.001,0.062 V0.938 C0.001,0.972,0.009,1,0.019,1 H0.776 C0.787,1,0.795,0.972,0.795,0.938 V0.82 C0.795,0.786,0.803,0.758,0.813,0.758 H0.982 C0.992,0.758,1,0.73,1,0.696 V0.062 C1,0.028,0.992,0,0.982,0 H0.019 C0.009,0,0.001,0.028,0.001,0.062"
                            fill="white"
                            fill-opacity="0.3"
                        />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.002,0.063 V0.944 C0.002,0.977,0.009,1,0.019,1 H0.778 C0.788,1,0.795,0.977,0.795,0.944 V0.826 C0.795,0.789,0.804,0.76,0.815,0.76 H0.984 C0.994,0.76,1,0.733,1,0.7 V0.063 C1,0.03,0.994,0.003,0.984,0.003 H0.019 C0.009,0.003,0.002,0.03,0.002,0.063"
                            stroke="white"
                            stroke-width="2"
                        />
                    </clipPath>
                    <defs>
                        <filter
                            id="filter0_b_2902_16637"
                            x="-29.5"
                            y="-30"
                            width="1046.5"
                            height="349"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                        >
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
                            <feComposite
                                in2="SourceAlpha"
                                operator="in"
                                result="effect1_backgroundBlur_2902_16637"
                            />
                            <feBlend
                                mode="normal"
                                in="SourceGraphic"
                                in2="effect1_backgroundBlur_2902_16637"
                                result="shape"
                            />
                        </filter>
                    </defs>
                </svg>

                <svg
                    preserveAspectRatio="none"
                    width="987"
                    height="289"
                    viewBox="0 0 987 289"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <clipPath clipPathUnits="objectBoundingBox" id="promotion__info-background-mobile">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0,0.073 V0.927 C0,0.967,0.023,1,0.052,1 H0.539 C0.568,1,0.592,0.967,0.592,0.927 V0.824 C0.592,0.784,0.615,0.751,0.644,0.751 L0.948,0.751 C0.977,0.751,1,0.718,1,0.678 V0.073 C1,0.033,0.977,-0.006 e-05,325,-1.52588, e-05, H0.052 C0.023,-0.006 e-05,0,8.05885,0,18,"
                            fill="white"
                            fill-opacity="0.3"
                        />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.001,0.073 V0.931 C0.001,0.97,0.024,1,0.053,1 H0.541 C0.569,1,0.592,0.97,0.592,0.931 V0.827 C0.592,0.786,0.616,0.752,0.646,0.752 L0.95,0.752 C0.979,0.752,1,0.72,1,0.681 V0.073 C1,0.034,0.979,0.002,0.95,0.002 H0.053 C0.024,0.002,0.001,0.034,0.001,0.073"
                            stroke="white"
                            stroke-width="2"
                        />
                    </clipPath>
                    <defs>
                        <filter
                            id="filter0_b_2902_16637"
                            x="-29.5"
                            y="-30"
                            width="1046.5"
                            height="349"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                        >
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="15" />
                            <feComposite
                                in2="SourceAlpha"
                                operator="in"
                                result="effect1_backgroundBlur_2902_16637"
                            />
                            <feBlend
                                mode="normal"
                                in="SourceGraphic"
                                in2="effect1_backgroundBlur_2902_16637"
                                result="shape"
                            />
                        </filter>
                    </defs>
                </svg>

                <div class="promotion__info-wrapper">
                    <div class="promotion__info-heading">
                        <p class="promotion__heading-title">
                            Получите персональную скидку до 50% на процедуры лазерного омоложения
                        </p>

                        <span class="promotion__heading-subtitle --desc"> Лучшее предложение </span>
                    </div>

                    <figure class="promotion__info-reviews-icon">
                        <img src="./assets/images/promotion/promotion-reviews-icon.svg" alt="" />
                    </figure>

                    <span class="promotion__heading-subtitle --mob"> Лучшее предложение </span>
                </div>

                <a href="#" class="promotion__info-link btn-primary">
                    <span>подробнее</span>
                </a>
            </div>
        </div>
    </div>
</section>


