<section class="service-article">
    <div class="container">
        <div class="service-article__title title">лимфодренажный массаж</div>

        <div class="service-article__content">
            <div class="service-article__img">
                <img src="./assets/images/services/massage1.png" alt="" />
                <div class="service-article__img-link">
                    <a href="#" class="btn-primary">
                        <span>Запись на прием</span>
                    </a>
                </div>
            </div>
            <div class="service-article__description">
                <div class="service-article__description-top">
                    <p class="service-article__description-top-text">
                        Лимфодренажный массаж — это методика аппаратного (механического) или мануального
                        (ручного) воздействия на организм, оказывающая влияние на движение лимфы по телу.
                    </p>
                    <div class="service-article__description-top-img">
                        <img src="./assets/images/services/massage2.png" alt="" />
                    </div>
                </div>
                <div class="service-article__description-bottom">
                    <p class="service-article__description-bottom-text">
                        Лимфодренажный массаж — это методика аппаратного (механического) или мануального
                        (ручного) воздействия на организм, оказывающая влияние на движение лимфы по телу.
                        Такой вид массажа оказывает не только косметический, но и оздоровительный эффект.
                    </p>
                    <p class="service-article__description-bottom-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект. Лимфодренажный массаж — это методика аппаратного
                        (механического) или мануального (ручного) воздействия на организм, оказывающая влияние
                        на движение лимфы по телу.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-description">
    <div class="container">
        <div class="service-description__title title">Описание</div>

        <div class="service-description__content">
            <aside class="service-description__tabs">
                <ul class="service-description__tabs-list">
                    <li
                        data-content-open="service-description-1"
                        class="service-description__tabs-item --active"
                    >
                        <p class="service-description__tabs-title">Об услуге</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-2" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Показания</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-3" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Обрудование</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-4" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Этапы проведения</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-5" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Процесс</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-6" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Противопоказания</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                    <li data-content-open="service-description-7" class="service-description__tabs-item">
                        <p class="service-description__tabs-title">Вопрос/Ответ</p>
                        <div class="service-description__tabs-icon">
                            <img src="../assets/images/icons/gradient-arrow.svg" alt="" />
                        </div>
                    </li>
                </ul>
            </aside>
            <div class="service-description__info-container">
                <div data-content-block="service-description-1" class="service-description__info --active">
                    <div class="service-description__info-title">об услуге</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-2" class="service-description__info">
                    <div class="service-description__info-title">Показания</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-3" class="service-description__info">
                    <div class="service-description__info-titles">
                        <div class="service-description__info-title">оборудование</div>
                        <div class="service-description__panel swiper-panel">
                            <button
                                type="button"
                                class="swiper-panel__btn service-description-panel__btn-prev"
                            >
                                <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                            </button>
                            <div class="service-description-panel__fractions"></div>
                            <button
                                type="button"
                                class="swiper-panel__btn service-description-panel__btn-next"
                            >
                                <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                            </button>
                        </div>
                    </div>
                    <div class="service-description__swiper-container">
                        <div class="swiper service-description__swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide service-description__info-colums">
                                    <p class="service-description__info-text">
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                        Массажные движения выполняются специалистом строго вдоль линий
                                        лимфотока, что способствует активизации движения жидкости в
                                        организме.Лимфодренажный массаж — это методика аппаратного
                                        (механического) или мануального (ручного) воздействия на организм,
                                        оказывающая влияние на движение лимфы по телу. Такой вид массажа
                                        оказывает не только косметический, но и оздоровительный эффект.
                                        <br />
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                    </p>
                                    <div class="service-description__info-colums-bottom">
                                        <div class="service-description__info-colums-img">
                                            <img src="./assets/images/services/equipment1.png" alt="" />
                                        </div>
                                        <p class="service-description__info-colums-bottom-description">
                                            Palomar ICON
                                        </p>
                                    </div>
                                </div>

                                <div class="swiper-slide service-description__info-colums">
                                    <p class="service-description__info-text">
                                        Ключевой особенностью является воздействие массажиста на выбранные
                                        заранее участки тела, а не просто разминка определенных мышц.
                                        Массажные движения выполняются специалистом строго вдоль линий
                                        лимфотока, что способствует активизации движения жидкости в организме.
                                    </p>
                                    <div class="service-description__info-colums-bottom">
                                        <div class="service-description__info-colums-img">
                                            <img src="./assets/images/services/equipment1.png" alt="" />
                                        </div>
                                        <p class="service-description__info-colums-bottom-description">
                                            Palomar ICON
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-4" class="service-description__info">
                    <div class="service-description__info-titles">
                        <div class="service-description__info-title">Этапы проведения</div>
                    </div>
                    <div class="service-description__info-grid">
                        <div class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>1</p></div>
                            <div class="service-description__info-grid-item-title">Релаксация</div>
                            <p class="service-description__info-grid-item-description">
                                Продолжительность этапа – 2-3 минуты. Специалист легкими массажными движениями
                                поглаживает и растирает кожу.
                            </p>
                        </div>

                        <div class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>2</p></div>
                            <div class="service-description__info-grid-item-title">Массирование поясницы</div>
                            <p class="service-description__info-grid-item-description">
                                Массажист последовательно применяет приемы, начиная и заканчивая
                                поглаживаниями.
                            </p>
                        </div>

                        <div class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>3</p></div>
                            <div class="service-description__info-grid-item-title">
                                Акцент на центральную зону
                            </div>
                            <p class="service-description__info-grid-item-description">
                                В области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </div>

                        <div class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>4</p></div>
                            <div class="service-description__info-grid-item-title">
                                Массирование воротниковой зоны
                            </div>
                            <p class="service-description__info-grid-item-description">
                                Предпочтение обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </div>

                        <div class="service-description__info-grid-item">
                            <div class="service-description__info-grid-item-number"><p>5</p></div>
                            <div class="service-description__info-grid-item-title">Релаксация</div>
                            <p class="service-description__info-grid-item-description">
                                Продолжительность этапа – 2-3 минуты. Специалист легкими массажными движениями
                                поглаживает и растирает кожу.
                            </p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-5" class="service-description__info">
                    <div class="service-description__info-title">Процесс</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-6" class="service-description__info">
                    <div class="service-description__info-title">Противопоказания</div>
                    <p class="service-description__info-text">
                        Ключевой особенностью является воздействие массажиста на выбранные заранее участки
                        тела, а не просто разминка определенных мышц. Массажные движения выполняются
                        специалистом строго вдоль линий лимфотока, что способствует активизации движения
                        жидкости в организме.Лимфодренажный массаж — это методика аппаратного (механического)
                        или мануального (ручного) воздействия на организм, оказывающая влияние на движение
                        лимфы по телу. Такой вид массажа оказывает не только косметический, но и
                        оздоровительный эффект.
                    </p>
                    <ul class="service-description__info-list">
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Релаксация. Продолжительность этапа – 2-3 минуты. Специалист легкими
                                массажными движениями поглаживает и растирает кожу.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование поясницы (отдела ниже ребер до копчика). Массажист
                                последовательно применяет приемы, начиная и заканчивая поглаживаниями.
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Акцент на центральную зону (от верхнего края лопатки до нижней пары ребер). В
                                области между лопатками мастер применяет щадящие техники. Особенное внимание
                                удаляют позвоночнику
                            </p>
                        </li>
                        <li class="service-description__info-list-item">
                            <div class="service-description__info-list-item-marker">
                                <img src="../assets/images/marker.svg" alt="" />
                            </div>
                            <p class="service-description__info-list-item-text">
                                Массирование воротниковой зоны (с основания черепа до лопаток). Предпочтение
                                обычно отдают схемам поглаживания и растирания шеи.
                            </p>
                        </li>
                    </ul>
                    <div class="service-description__info-tags">
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">массаж</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">услуги</p>
                        </div>
                        <div class="service-description__info-tag">
                            <p class="service-description__info-tag-text">оборудование</p>
                        </div>
                    </div>
                </div>

                <div data-content-block="service-description-7" class="service-description__info">
                    <div class="service-description__info-title">Вопрос/Ответ</div>

                    <div class="service-description__info-accordion --active">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                С какого возраста можно начинать лимфодренажный массаж?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service-description__info-accordion">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                Как быстро становятся видны результаты от лимфодренажного массажа?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service-description__info-accordion">
                        <div class="accordion__heading">
                            <p class="service-description__info-accordion-title">
                                От чего зависят цены на лимфодренажный массаж?
                            </p>
                            <div class="accordion__heading-icon">
                                <img src="./assets/images/icons/filled-arrow-down.svg" alt="" />
                            </div>
                        </div>
                        <div class="accordion__content">
                            <div class="service-description__info-accordion-content">
                                <p class="service-description__info-text">
                                    Оживить кожные покровы лица с помощью инъекций гиалуроновой кислоты
                                    полезно в любом возрасте, но при наличии показаний к биоревитализации.
                                    Установить их поможет врач-дерматолог или косметолог. Как правило,
                                    рекомендуется начинать эти гидратирующие процедуры в возрасте 28-35 лет, в
                                    том числе и во избежание раннего старения.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-benefits">
    <div class="container">
        <div class="service-benefits__content">
            <div class="service-benefits__titles">
                <div class="service-benefits__title title">преимущества</div>
                <div class="service-benefits__panel swiper-panel">
                    <button type="button" class="swiper-panel__btn service-benefits__btn-prev">
                        <img src="./assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="service-benefits__fractions"></div>
                    <button type="button" class="swiper-panel__btn service-benefits__btn-next">
                        <img src="./assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="service-benefits__swiper-container">
                <div class="swiper service-benefits__swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>1</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>2</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>3</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide service-benefits__card">
                            <div class="service-benefits__card-top">
                                <span class="service-benefits__card-top-title">Быстрое действие</span>
                                <div class="service-benefits__card-top-number"><p>4</p></div>
                            </div>
                            <div class="service-benefits__card-bottom">
                                <p class="service-benefits__card-bottom-description">
                                    Возможность прицельной доставки препарата в зону воздействия. Ни один
                                    крем, эмульсия или сыворотка не даст такого эффекта. Возможность
                                    прицельной доставки препарата в зону воздействия.
                                </p>
                                <p class="service-benefits__card-bottom-text">
                                    эффективность при минимальных концентрациях
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-before-after">
    <div class="container">
        <div class="service-before-after__content">
            <div class="service-before-after__titles">
                <div class="service-before-after__title title">до/после</div>
                <div class="palomar__panel swiper-panel">
                    <button type="button" class="swiper-panel__btn palomar__result-prev">
                        <img src="../assets/images/icons/swiper-prev.svg" alt="btn-prev" />
                    </button>
                    <div class="palomar__panel-fractions"></div>
                    <button type="button" class="swiper-panel__btn palomar__result-next">
                        <img src="../assets/images/icons/swiper-next.svg" alt="btn-next" />
                    </button>
                </div>
            </div>

            <div class="swiper palomar__swiper-result">
                <div class="swiper-wrapper">
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-1.webp" alt="" />
                        </div>

                        <span class="palomar__result-title"> До процедуры </span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-1.webp" alt="" />
                        </div>

                        <span class="palomar__result-title"> До процедуры </span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                    <a class="swiper-slide palomar__bottom-slide">
                        <div class="palomar__result-image">
                            <img src="../assets/images/palomar/result-2.webp" alt="" />
                        </div>

                        <span class="palomar__result-title">После процедуры</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
