<section class="accommodation">
    <div class="container">
        <div class="accommodation__content">
            <h1 class="accommodation__title title">косметология</h1>

            <div class="accommodation__description read-more js-read-more" data-rm-words="20">
                <p>
                    Отрасль науки о лице, занимающаяся диагностикой и лечением возрастных и эстетических
                    проблем лица, как полноценной системы организма на основе междисциплинарного научного
                    подхода и практических знаний о строении, функционировании и развитии лица человека. В
                    отличие от стандартной косметологии и эстетической медицины интеллектуальная косметология
                    использует высокий междисциплинарный уровень диагностики и лечения лица, требует высший
                    уровень знаний и опыта медицинского персонала и его взаимодействия. Например, косметолог
                    должен знать возможности ЛОР специалиста, стоматолога и пр., используя междисциплинарные
                    знания в таких дисциплинах как: косметология, пластическая хирургия, отоларингология,
                    стоматология, неврология, офтальмология, ортопедия, дерматология, общая медицина,
                    анатомия, физиология, биомеханика, физиогномика, психология, эстетика, антропология.
                    Отрасль науки о лице, занимающаяся диагностикой и лечением возрастных и эстетических
                    проблем лица, как полноценной системы организма на основе междисциплинарного научного
                    подхода и практических знаний о строении, функционировании и развитии лица человека. В
                    отличие от стандартной косметологии и эстетической медицины интеллектуальная косметология.
                </p>
            </div>

            <div class="swiper accommodation__swiper">
                <ul class="swiper-wrapper">
                    <li data-content-open="accommodation-1" class="swiper-slide accommodation__slide">
                        <div class="accommodation__slide-image">
                            <img src="../assets/images/services/aesthetic-medicine.png" alt="" />
                        </div>

                        <span class="accommodation__slide-title"> Эстетическая медицина </span>
                    </li>
                    <li data-content-open="accommodation-2" class="swiper-slide accommodation__slide">
                        <div class="accommodation__slide-image">
                            <img src="../assets/images/services/injection-techniques.png" alt="" />
                        </div>

                        <span class="accommodation__slide-title"> Эстетическая медицина </span>
                    </li>
                    <li data-content-open="accommodation-3" class="swiper-slide accommodation__slide">
                        <div class="accommodation__slide-image">
                            <img src="../assets/images/services/injection-techniques.png" alt="" />
                        </div>

                        <span class="accommodation__slide-title"> Эстетическая медицина </span>
                    </li>
                </ul>
            </div>

            <ul data-content-block="accommodation-1" class="accommodation__list --active">
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 02 </span>

                        <p class="accommodation__item-heading-title">
                            PRP технология реконструктивной клеточной косметологии от regenlab (швейцария)
                        </p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
            </ul>

            <ul data-content-block="accommodation-2" class="accommodation__list">
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 02 </span>

                        <p class="accommodation__item-heading-title">
                            PRP технология реконструктивной клеточной косметологии от regenlab (швейцария)
                        </p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
            </ul>

            <ul data-content-block="accommodation-3" class="accommodation__list">
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 02 </span>

                        <p class="accommodation__item-heading-title">
                            PRP технология реконструктивной клеточной косметологии от regenlab (швейцария)
                        </p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
                <li class="accommodation__item">
                    <div class="accommodation__item-heading">
                        <span class="accommodation__item-heading-counter"> 01 </span>

                        <p class="accommodation__item-heading-title">Маникюр, педикюр</p>
                    </div>

                    <div class="accommodation__item-content">
                        <p class="accommodation__item-description">
                            Гигиеническая обработка, уход за кожей рук и ногтями, работа по приданию формы  и
                            обработка краёв, украшение декором и многое другое.
                        </p>

                        <a href="" class="accommodation__item-link btn-secondary">
                            <span>Подробнее</span>

                            <img src="./assets/images/icons/gradient-arrow-v2.svg" alt="" />
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
