<section class="specialists">
    <div class="container">
        <div class="specialists__content">
            <h1 class="specialists__title title">Специалисты</h1>

            <div class="specialists__swiper-block">
                <div class="swiper specialists__swiper">
                    <ul class="swiper-wrapper">
                        <li
                            data-content-open="specialists-1"
                            class="swiper-slide specialists__slide --active"
                        >
                            <p class="specialists__slide-category"><span>Все</span></p>
                        </li>
                        <li data-content-open="specialists-2" class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Акушер</span></p>
                        </li>
                        <li data-content-open="specialists-3" class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Акушер-гинеколог</span></p>
                        </li>
                        <li data-content-open="specialists-4" class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span> Врач УЗИ </span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Гинеколог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Гинеколог-эндокринолог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Дерматолог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Диетолог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Косметолог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Онколог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Эндокринолог</span></p>
                        </li>
                        <li class="swiper-slide specialists__slide">
                            <p class="specialists__slide-category"><span>Эндокринолог</span></p>
                        </li>
                    </ul>
                </div>

                <div class="swiper-button-prev specialists-button-prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M15.5 5.5L8.5 12.6707L15.5 19.5"
                            stroke="url(#paint0_linear_2624_1888)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1888"
                                x1="5.525"
                                y1="5.96666"
                                x2="16.455"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="swiper-button-next specialists-button-next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.5 5.5L15.5 12.6707L8.5 19.5"
                            stroke="url(#paint0_linear_2624_1872)"
                            stroke-linecap="round"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2624_1872"
                                x1="18.475"
                                y1="5.96666"
                                x2="7.54497"
                                y2="4.64452"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#D65986" />
                                <stop offset="1" stop-color="#A261F9" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>

            <ul data-content-block="specialists-1" class="specialists__list --active">
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
                <li class="specialists__item">
                    <include src="./components/doctor-card.html"></include>
                </li>
            </ul>
            <ul data-content-block="specialists-2" class="specialists__list">
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul data-content-block="specialists-3" class="specialists__list">
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
                <li class="specialists__item">
                    <a href="#" class="doctor-card">
                        <div class="doctor-card__img">
                            <img src="./assets/images/doctor.png" alt="" />
                        </div>
                        <div class="doctor-card__desc">
                            <div class="doctor-card__title">Кокорина Юлия Ивановна</div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Должность</div>
                                <div class="doctor-card__txt">Главный врач клиники</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Отделение</div>
                                <div class="doctor-card__txt">Женская консультация</div>
                            </div>
                            <div class="doctor-card__item">
                                <div class="doctor-card__tit">Стаж работы</div>
                                <div class="doctor-card__txt">6 лет</div>
                            </div>
                        </div>
                        <div class="doctor-card__department">
                            <span>Эндокринолог</span>
                        </div>
                    </a>
                </li>
            </ul>

            <a href="" class="specialists__show-more">Показать еще</a>
        </div>
    </div>
</section>
