.doctors {
    margin: 20rem 0;

    &__list {
        display: flex;
        gap: 4rem;
    }

    // .title {
    //     color: $black;
    //     font-family: Philosopher;
    //     font-size: 3.2rem;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 120%;
    //     text-transform: uppercase;
    //     margin-bottom: 3.8rem;
    // }
}
