.news-card {
    display: flex;
    flex-direction: column;
    max-width: 54.7rem;
    width: 100%;
    background: $white;
    border-radius: 1.4rem;
    background-size: contain;
    padding: 4rem 3.2rem;
    position: relative;
    height: 100%;

    &:hover{
        .news-card__title {
            background-position: top left 100%;
        }
    }

    @include small-tablet {
        max-width: 100%;
        padding: 3rem 4rem;
        background: $white;
        border-radius: 3.6rem;
    }

    &__title {
        @extend %philoCaps28;
        @extend %gradientColorTxt;
        margin-bottom: 2rem;
        line-height: 95%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include small-tablet {
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            -webkit-line-clamp: 3;
        }
    }

    &__desc {
        @extend %regular18;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $grey;
        margin-bottom: 2rem;
        line-height: 2.5rem;

        @include small-tablet {
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 4rem;
            -webkit-line-clamp: 4;
        }
    }

    &__img {
        border-radius: 2rem;
        max-width: 48.3rem;
        width: 100%;
        height: 28.7rem;
        margin-top: auto;

        -webkit-mask-image: url('./assets/images/news-card/card-image.webp');
        mask-image: url('./assets/images/news-card/card-image.webp');
        -webkit-mask-position: top left;
        mask-position: top left;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;

        @include small-tablet {
            width: 100%;
            height: 36rem;

            -webkit-mask-image: url('./assets/images/news-card/card-image-mobile.webp');
            mask-image: url('./assets/images/news-card/card-image-mobile.webp');
        }

        @include small-tablet {
            max-width: 100%;
            height: 36rem;
        }

        img {
            height: 100%;
            border-radius: inherit;
        }
    }

    &__link {
        @include sizes(21.5rem, 10rem);
        position: absolute;
        bottom: 3.8rem;
        right: 3rem;

        @include small-tablet {
            width: 32.5rem;
            height: 19rem;
            bottom: 0.8rem;
        }

        .btn-primary {
            width: 17.6rem;
            top: 3.8rem;
            position: absolute;
            right: 0.2rem;

            @include small-tablet {
                width: 24.4rem;
                top: 7.8rem;
                right: 1.2rem;
            }
        }
    }
}
