.action-card {
    position: relative;

    background: url('./assets/images/bg/action-card.svg');
    background-repeat: no-repeat;
    background-size: contain;

    width: 54.7rem;
    min-height: 42rem;

    background-color: $white;
    border-radius: 2rem;
    padding: 2rem 3.2rem;

    @include small-tablet {
        padding: 4rem;
        width: 100%;
        min-height: 54rem;
    }

    &__title {
        @extend %philoCaps28;
        @extend %gradientColorTxt;
        margin-bottom: 2rem;
        line-height: 120%;
        display: block;

        @include small-tablet {
            margin-bottom: 2.4rem;
        }
    }

    &__desc {
        @extend %regular18;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $grey;
        margin-bottom: 2rem;
        line-height: 2.5rem;

        @include small-tablet {
            margin-bottom: 3.6rem;
        }
    }

    &__img {
        border-radius: 2rem;
        @include sizes(48.3rem, 19.8rem);
        -webkit-mask-image: url('./assets/images/action/item1.webp');
        mask-image: url('./assets/images/action/item1.webp');
        -webkit-mask-position: top left;
        mask-position: top left;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;

        @include small-tablet {
            width: 100%;
            height: 26rem;

            -webkit-mask-image: url('./assets/images/action/item1-mobile.webp');
            mask-image: url('./assets/images/action/item1-mobile.webp');
        }

        img {
            height: 100%;
            border-radius: 2rem;
        }
    }

    &__link {
        position: absolute;
        bottom: 4rem;
        right: 3.2rem;

        @include small-tablet {
            right: 4rem;
        }

        .btn-primary {
            width: 17.6rem;

            @include small-tablet {
                width: 24.4rem;
            }
        }
    }
}
