.action {
    @include small-tablet {
        overflow: hidden;
    }

    &__title {
        @include small-tablet {
            text-align: center;
        }
    }

    &__swiper {
        @include small-tablet {
            overflow: visible;
        }
    }

    &__slider {
        &-block {
            position: relative;
        }
    }

    &-button {
        &-prev,
        &-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include small-tablet {
                visibility: hidden;
            }
        }

        &-prev {
            left: -2rem;
        }

        &-next {
            right: -2rem;
        }
    }

    &__swiper {
        margin-bottom: 4.8rem;
    }

    &__slide {
        width: max-content;
        padding: 1.8rem 2rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 40rem;
        border: 0.2rem solid $white;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1.5rem);

        transition: 0.3s background-color ease-in;

        @include small-tablet {
            padding: 2.4rem 4rem;
        }

        &:hover {
            background-color: $white;
        }

        &.--active {
            background-color: $white;

            @include small-tablet {
                background-image: $gradientPurple;
            }

            .action__slide-title {
                font-weight: 600;

                @include small-tablet {
                    font-weight: 500;

                    color: $white;
                    -webkit-text-fill-color: unset;
                }
            }
        }

        &-title {
            @extend %gradientColor;
            @extend %regular18;

            will-change: font-weight;
            transition: 0.3s font-weight ease-in;

            @include small-tablet {
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    &__list {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;

        &.--active {
            display: grid;
            animation: fade-bounce 0.8s both;

            @include small-tablet {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
