.palomar {
    margin-bottom: 20rem;

    @include small-tablet {
        overflow: hidden;
    }

    &__slider {
        &-block {
            position: relative;
        }
    }

    &-button {
        &-prev,
        &-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include small-tablet {
                display: none;
            }
        }

        &-prev {
            left: -3rem;
        }

        &-next {
            right: -2rem;
        }
    }

    &__swiper {
        margin-bottom: 2.8rem;

        @include small-tablet {
            overflow: visible;
            margin-bottom: 5.8rem;
        }
    }

    &__slide {
        &.--active {
            .palomar__slide-wrapper {
                @include small-tablet {
                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    border-color: transparent;
                }

                span {
                    font-weight: 600;

                    @include small-tablet {
                        background-clip: unset;
                        background: transparent;
                        color: $white;
                        -webkit-text-fill-color: initial;
                    }
                }
            }

            .palomar__slide-title {
                background: $white;

                @include small-tablet{
                    background: transparent;
                }
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            padding: 1.8rem 0;
            cursor: pointer;

            @include small-tablet {
                flex-direction: column;
                align-items: center;
                border-radius: 2.8rem;
                padding: 4rem 5rem;
                border: 0.1rem solid $white;
                background: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(1.5rem);
                transition: 0.3s border ease;
            }

            &:hover {
                @media (min-width: 48em) {
                    .palomar__slide-title {
                        background: $white;
                    }
                }
            }
        }

        &-image {
            max-width: 15rem;
            width: 100%;
            height: 6rem;
            border-radius: 20rem;

            @include small-tablet {
                max-width: 18.8rem;
                height: 8.2rem;
                border-radius: 40rem;
                margin-bottom: 2.4rem;
            }

            img {
                border-radius: inherit;
            }
        }

        &-title {
            @extend %regular18;
            max-width: 39rem;
            width: 100%;
            padding: 1.8rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
            border: 0.2rem solid $white;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(1.5rem);
            transition:
                0.3s background ease-in,
                0.3s border ease-in,
                0.3s font-weight ease-in;

            @include small-tablet {
                padding: 0;
                border-radius: 2.8rem;
                background: transparent;
                white-space: nowrap;
                border: none;
            }

            span {
                display: block;
                @extend %gradientColor;
                @extend %regular18;
                transition: 0.3s background ease-in;

                @include small-tablet {
                    text-align: center;
                    font-size: 2.8rem;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
        margin-bottom: 6rem;

        @include small-tablet {
            flex-direction: column;
            gap: 6.4rem;
            margin-bottom: 6.4rem;
        }

        &-image {
            max-width: 54.7rem;
            width: 100%;
            height: 40.2rem;
            border-radius: 2rem;

            @include small-tablet {
                max-width: 100%;
                border-radius: 2.8rem;
                min-height: 50.4rem;
            }

            img {
                border-radius: inherit;
            }
        }

        &-text-block {
            max-width: 113.3rem;
            width: 100%;

            @include small-tablet {
                max-width: 100%;
            }
        }

        &-description {
            color: $black;
            @extend %regular18;
            margin-bottom: 2rem;

            @include small-tablet {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 1rem;
            }
        }

        &-subtitle {
            display: block;
            margin-bottom: 1.6rem;
            color: $black;
            @extend %semibold18;

            @include small-tablet {
                margin-bottom: 2.4rem;
                font-family: Gilroy;
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }
        }

        &-benefits {
            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                @include small-tablet {
                    gap: 2.4rem;
                }
            }

            &-item {
                display: flex;
                align-items: flex-start;
                gap: 1.6rem;

                &-marker {
                    max-width: 2.4rem;
                    width: 100%;
                    height: 2.4rem;

                    @include small-tablet {
                        max-width: 4rem;
                        height: 4rem;
                    }
                }

                p {
                    color: $black;
                    @extend %regular18;

                    @include small-tablet {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
    }

    &__bottom {
        .palomar__panel {
            margin-bottom: 4.9rem;
            margin-left: auto;
            width: fit-content;

            @include small-tablet {
                margin: 4.8rem auto 0;
            }
        }

        &-slide {
            &:hover {
                .palomar__result-title {
                    background-position: top left 100%;
                }
            }
        }
    }

    &__block {
        display: none;

        &.--active {
            display: block;
            animation: fade-bounce 0.8s both;
        }
    }

    &__result {
        &-image {
            width: 100%;
            height: 37.1rem;
            margin-bottom: 0.9rem;

            @include small-tablet {
                height: 29.6rem;
                margin-bottom: 0.8rem;
            }
        }

        &-title {
            @extend %regular18;
            color: grey;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            @extend %gradientColorTxt;

            @include small-tablet {
                -webkit-line-clamp: 1;
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}
