@import '../../components/palomar';

.equipment {
    margin-bottom: 20rem;

    &__title {
        text-align: center;
        margin-bottom: 4.8rem;
        font-size: 7.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
    }

    @include small-tablet {
        overflow: hidden;
    }

    &__swiper {
        @include small-tablet {
            overflow: visible;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            gap: 6.4rem;
        }
    }

    &__tabs {
        max-width: 40rem;
        width: 100%;

        &-link {
            display: flex;

            @include small-tablet {
                display: none;
            }
        }

        @include small-tablet {
            max-width: 100%;
        }

        &-list {
            @media (min-width: 48em) {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                margin-bottom: 6.7rem;
            }
        }

        &-item {
            display: flex;
            gap: 4.3rem;
            justify-content: space-between;
            border-radius: 2rem;
            border: 0.1rem solid $white;
            backdrop-filter: blur(1.5rem);
            padding: 2rem 2rem 2rem 4rem;
            transition:
                0.3s background ease-in,
                0.3s border ease-in;
            cursor: pointer;

            @include small-tablet {
                width: auto;
                padding: 2.4rem 4rem;
                border-radius: 40rem;
                max-width: 39rem;
                background: rgba(255, 255, 255, 0.3);
            }

            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }

            &.--active {
                background: rgba(255, 255, 255, 0.3);

                @include small-tablet {
                    border-radius: 20rem;
                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    backdrop-filter: blur(1.5rem);
                    border-color: transparent;

                    .equipment__tabs-item-title {
                        -webkit-text-fill-color: initial;
                        color: #fff;
                    }
                }

                .equipment__tabs-item-icon {
                    background: $white;
                }
            }

            &-title {
                color: $black;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;

                    background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &-icon {
                border-radius: 1.5rem;
                max-width: 6rem;
                width: 100%;
                height: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s background ease-in;

                @include small-tablet {
                    display: none;
                }

                img {
                    @include sizes(2rem, 2rem);
                }
            }
        }
    }

    &__card {
        max-width: 113.3rem;
        width: 100%;
        justify-content: space-between;
        border-radius: 4rem;
        background: $white;
        backdrop-filter: blur(1.5rem);
        display: none;

        @include small-tablet {
            max-width: 100%;
            flex-direction: column;
            gap: 1rem;
            border-radius: 5rem;
        }

        &.--active {
            display: flex;
            animation: fade-bounce 0.8s both;
        }

        &-info {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            @include small-tablet {
                gap: 1.4rem;
                padding: 3rem 4rem;
            }
        }

        &-title {
            font-family: Philosopher;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            @extend %gradientColor;

            @include small-tablet {
                font-family: Philosopher;
                font-size: 4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
        }

        &-description {
            color: $black;
            @extend %regular18;

            @include small-tablet {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }

        &-image {
            max-width: 54.7rem;
            width: 100%;
            border-radius: inherit;

            @include small-tablet {
                max-width: 100%;
                min-height: 64.4rem;
            }

            img {
                border-radius: inherit;
            }
        }
    }
}
