body.body-fem {
    --backColor: linear-gradient(227deg, #d65986 0%, #d460f1 100%);
}
body.body-male {
    --backColor: linear-gradient(231deg, #d659c2 0%, #a261f9 100%);
}
.layer__content {
    max-width: 62rem;
    width: 100%;
    height: 64.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;

    @include small-tablet {
        max-width: 100%;
        transform: none;
        margin-top: 3rem;
        position: static;
        height: initial;
    }

    &::after {
        @include pseudo {
            inset: -53rem;
            border-radius: 83.6rem;
            border: 0.2rem solid rgba(255, 255, 255, 0.37);
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @include small-tablet {
                border-radius: 50%;
                transform: none;
                width: 75rem;
                height: 76rem;
                inset: initial;
                top: 30rem;
                left: -3rem;
            }
        }
    }

    &.--woman {
        .layer__content-problems-view {
            transform: translate(8rem, -2rem);
            max-width: 73rem;
            width: 100%;
            height: 73rem;

            @include small-tablet {
                transform: translate(11rem, 2rem);
                max-width: 73rem;
                width: 100%;
                height: 79rem;
            }
        }

        .layer__content-bottom {
            position: relative;
            bottom: 15rem;
            left: 4rem;
            z-index: 3;

            @include small-tablet {
                left: 0;
                bottom: -8rem;
                z-index: 1;
            }
        }

        .layer__content-problems-list > li {
            &:nth-child(1) .layer__content-problems-item {
                right: -0.5rem;
                top: 2.5rem;

                @include small-tablet {
                    right: -2.5rem;
                    top: 0.5rem;
                }
            }

            &:nth-child(2) .layer__content-problems-item {
                right: 28.5rem;
                top: 11.5rem;

                @include small-tablet {
                    right: 26.5rem;
                    top: 12.5rem;
                }
            }

            &:nth-child(3) .layer__content-problems-item {
                left: 35.5rem;
                top: 22.5rem;

                @include small-tablet {
                    left: 38.5rem;
                    top: 22.5rem;
                }
            }

            &:nth-child(4) .layer__content-problems-item {
                right: 3.5rem;
                top: 26.5rem;

                @include small-tablet {
                    right: -2.5rem;
                    top: 31.5rem;
                }
            }

            &:nth-child(5) .layer__content-problems-item {
                right: 22.5rem;
                top: 30.5rem;

                @include small-tablet {
                    right: 20.5rem;
                    top: 34.5rem;
                }
            }

            &:nth-child(6) .layer__content-problems-item {
                right: 29.5rem;
                top: 40.5rem;

                @include small-tablet {
                    right: 29.5rem;
                    top: 46.5rem;
                }
            }

            &:nth-child(7) .layer__content-problems-item {
                left: 46.5rem;
                top: 45.5rem;

                @include small-tablet {
                    left: 53.5rem;
                    top: 49.5rem;
                }
            }
        }
    }

    &-wrapper {
        user-select: none;
        z-index: -1;
        display: none;
        visibility: hidden;

        @include small-tablet {
            z-index: 1;
        }

        &.--active {
            position: relative;
            display: block;
            animation: fade-in 0.8s both;
            user-select: auto;
            pointer-events: auto;
            z-index: 2;
            visibility: visible;
        }
    }

    &-problems {
        position: relative;
        top: 0;
        pointer-events: none;
        user-select: none;
        z-index: -1;
        visibility: hidden;

        @include small-tablet {
            z-index: 2;
        }

        &.--active {
            position: absolute;
            display: block;
            animation: fade-in 0.8s both;
            user-select: auto;
            pointer-events: auto;
            z-index: 2;
            visibility: visible;
        }

        &-view {
            transform: translate(-4rem, 1rem);
            max-width: 56rem;
            width: 100%;
            height: 61rem;

            @include small-tablet {
                max-width: 100%;
                transform: translate(-4rem, 0rem);
                height: 66rem;
            }
        }

        &-list {
            position: absolute;
            inset: 0;

            > li {
                position: absolute;
                inset: 0;

                &:nth-child(1) {
                    .layer__content-problems-item {
                        right: 21.5rem;
                        top: -1.5rem;

                        @include small-tablet {
                            top: -7.5rem;
                        }
                    }
                }

                &:nth-child(2) {
                    .layer__content-problems-item {
                        right: 6.5rem;
                        top: 8.5rem;

                        @include small-tablet {
                            right: 5.5rem;
                            top: 6.5rem;
                        }
                    }
                }

                &:nth-child(3) {
                    .layer__content-problems-item {
                        left: 12.5rem;
                        top: 9.5rem;

                        @include small-tablet {
                            left: 11.5rem;
                            top: 5.5rem;
                        }
                    }
                }

                &:nth-child(4) {
                    .layer__content-problems-item {
                        right: 13.5rem;
                        top: 23.5rem;

                        @include small-tablet {
                            right: 13.5rem;
                            top: 21.5rem;
                        }
                    }
                }

                &:nth-child(5) {
                    .layer__content-problems-item {
                        right: 32.5rem;
                        top: 33.5rem;

                        @include small-tablet {
                            right: 33.5rem;
                            top: 32.5rem;
                        }
                    }
                }

                &:nth-child(6) {
                    .layer__content-problems-item {
                        right: 13.5rem;
                        top: 40.5rem;

                        @include small-tablet {
                            right: 11.5rem;
                            top: 43.5rem;
                        }
                    }
                }

                &:nth-child(7) {
                    .layer__content-problems-item {
                        left: 13.5rem;
                        top: 46.5rem;

                        @include small-tablet {
                            left: 13.5rem;
                            top: 47.5rem;
                        }
                    }
                }
            }
        }

        &-item {
            max-width: 2.4rem;
            width: 100%;
            height: 2.4rem;
            position: absolute;
            z-index: 4;

            @include small-tablet {
                max-width: 4rem;
                height: 4rem;
            }

            &-counter {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                background: var(--backColor);
                border-radius: 50%;
                color: $white;
                text-align: center;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                position: relative;
                transition:
                    0.3s color ease-in,
                    0.3s background ease-in;
                cursor: pointer;

                @include small-tablet {
                    font-size: 2.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: uppercase;
                    margin-top: -0.5rem;
                    margin-left: -0.5rem;
                }

                &.--active {
                    @media (min-width: 48em) {
                        background: $white;
                        color: var(--backColor);

                        &::after {
                            background: rgba(77, 58, 124, 0.15);
                        }

                        &::before {
                            background: var(--backColor);
                        }
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        background: $white;
                        color: var(--backColor);

                        &::after {
                            background: rgba(77, 58, 124, 0.15);
                        }

                        &::before {
                            background: var(--backColor);
                        }
                    }
                }

                &::after {
                    @include pseudo {
                        top: 1.1rem;
                        right: 0.5rem;
                        width: 4.6rem;
                        height: 4.6rem;
                        z-index: -2;
                        border-radius: 4.6rem;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(0.35rem);
                        transition: 0.3s background ease-in;

                        @include small-tablet {
                            width: 7.6rem;
                            height: 7.6rem;
                        }
                    }
                }

                &::before {
                    @include pseudo {
                        max-width: 2rem;
                        width: 100%;
                        height: 2rem;
                        top: 2.4rem;
                        right: 1.7rem;
                        border-radius: 50%;
                        background: $white;
                        z-index: -1;
                        transition: 0.3s background ease-in;

                        @include small-tablet {
                            max-width: 3.6rem;
                            height: 3.6rem;
                            top: 3rem;
                            right: 2.3rem;
                        }
                    }
                }
            }
        }

        &-dots {
            display: none;
            position: absolute;
            // left: -41rem;
            left: 0;
            transform: translateX(-113%);
            top: 25rem;
            flex-direction: column;
            align-items: flex-end;
            gap: 2.4rem;
            width: 45.23rem;

            @include small-tablet {
                position: static;
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                align-items: flex-start;
                transform: unset;
                width: 100%;
          
            }

            &.--active {
                display: flex;

                @media (min-width: 48em) {
                    animation: fade-in 0.3s linear both;

                    @for $i from 1 through 7 {
                        li:nth-child(#{$i}) {
                            animation-delay: 0.3s * $i;
                        }
                    }
                }
            }

            &-button {
                max-width: 4.8rem;
                width: 100%;
                height: 4.8rem;
                margin-bottom: 5rem;
                background: transparent;

                svg {
                    width: 100%;
                    height: 100%;
                }

                &-close {
                    @include small-tablet {
                        pointer-events: auto;
                        user-select: auto;
                    }
                }
            }

            &-title {
                font-family: Philosopher;
                margin-bottom: 6.4rem;
                font-size: 4.8rem;
                line-height: 120%;
                text-transform: uppercase;
                text-align: center;
            }

            &-wrapper {
                @include small-tablet {
                    position: fixed;
                    z-index: 300;
                    // overflow-y: scroll;
                    // height: 100%;
                    inset: 0;
                    padding: 4.8rem 3.2rem 10rem;
                    transform: translateX(100%);
                    transition: 0.3s transform ease;
                    background: radial-gradient(
                            31.12% 17.8% at 30.31% 46.13%,
                            rgba(255, 255, 255, 0.5) 0%,
                            rgba(255, 255, 255, 0) 100%
                        ),
                        linear-gradient(
                            193deg,
                            rgba(238, 234, 255, 0.3) 23.28%,
                            rgba(238, 234, 255, 0) 41.01%
                        ),
                        linear-gradient(115deg, #efe6ff 33.58%, rgba(239, 230, 255, 0) 53.79%),
                        linear-gradient(124deg, rgba(231, 221, 255, 0.8) 41.5%, rgba(231, 221, 255, 0) 61.87%),
                        linear-gradient(248deg, #e0dafd 13.09%, rgba(224, 218, 253, 0) 34.9%),
                        linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
                        #cfc3ec;
                }

                &.--active {
                    @include small-tablet {
                        transform: translateX(0);
                    }
                }
            }

            @media (min-width: 48em) {
                .layer__content-problems-dot {
                    &:nth-child(2) {
                        transform: translateX(-0.5rem);

                        .layer__content-problems-dot-slider {
                            top: -26.5rem;
                            right: -126.5rem;
                            right: -123.5rem;
                        }
                    }

                    &:nth-child(3) {
                        transform: translateX(-0.5rem);

                        .layer__content-problems-dot-slider {
                            top: -32rem;
                            right: -126.5rem;
                            right: -123.5rem;
                        }
                    }

                    &:nth-child(5) {
                        transform: translateX(2rem);

                        .layer__content-problems-dot-slider {
                            top: -42.5rem;
                            right: -124rem;
                            right: -121.5rem;
                        }
                    }

                    &:nth-child(6) {
                        transform: translateX(4.5rem);

                        .layer__content-problems-dot-slider {
                            top: -48rem;
                            right: -121.5rem;
                            right: -118.5rem;
                        }
                    }

                    &:nth-child(7) {
                        transform: translateX(8rem);

                        .layer__content-problems-dot-slider {
                            top: -53.5rem;
                            right: -118rem;
                            right: -116.5rem;
                        }
                    }
                }
            }
        }

        &-dot {
            display: flex;
            align-items: center;
            gap: 2.8rem;
            cursor: pointer;
            justify-content: flex-end;
            width: fit-content;
            animation: fade-in 0.5s linear both;

            @include small-tablet {
                width: 100%;
                justify-content: space-between;
                gap: 4.8rem;
                padding: 2.2rem 2.4rem 2.2rem 4rem;
                min-height: 12rem;
                border-radius: 4rem;
                border: 0.1rem solid $white;
                background: rgba(255, 255, 255, 0.5);
                transition:
                    0.3s background ease-out,
                    0.3s border ease-out;

                &.--selected {
                    pointer-events: none !important;
                    user-select: none !important;
                    background: transparent;
                    border-color: transparent;
                }
            }

            &.--active {
                > p {
                    color: #d57dad;
                }

                > span {
                    background: rgba(77, 58, 124, 0.15);
                }
            }

            @media (hover: hover) {
                &:hover {
                    > p {
                        color: #d57dad;
                    }

                    > span {
                        background: rgba(77, 58, 124, 0.15);
                    }
                }
            }

            &-detailed {
                @include small-tablet {
                    position: fixed;
                    overflow-y: scroll;
                    z-index: 400;
                    // height: 100%;
                    inset: 0;
                   
                   
                    padding: 4.8rem 3.2rem 20rem;
                    transform: translateX(100%);
                    transition: 0.3s transform ease;
                    background: radial-gradient(
                            31.12% 17.8% at 30.31% 46.13%,
                            rgba(255, 255, 255, 0.5) 0%,
                            rgba(255, 255, 255, 0) 100%
                        ),
                        linear-gradient(
                            193deg,
                            rgba(238, 234, 255, 0.3) 23.28%,
                            rgba(238, 234, 255, 0) 41.01%
                        ),
                        linear-gradient(115deg, #efe6ff 33.58%, rgba(239, 230, 255, 0) 53.79%),
                        linear-gradient(124deg, rgba(231, 221, 255, 0.8) 41.5%, rgba(231, 221, 255, 0) 61.87%),
                        linear-gradient(248deg, #e0dafd 13.09%, rgba(224, 218, 253, 0) 34.9%),
                        linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
                        #cfc3ec;

                    &.--active {
                        transform: translateX(0);
                    }
                }

                &-heading {
                    display: none;

                    @include small-tablet {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 7rem;
                    }

                    &-title {
                        font-size: 2.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        text-transform: uppercase;
                    }

                    &-button {
                        max-width: 4.8rem;
                        width: 100%;
                        height: 4.8rem;

                        @include small-tablet {
                            user-select: auto;
                            pointer-events: auto;
                        }

                        img {
                            height: 100%;
                        }

                        &-close {
                            max-width: 4.8rem;
                            width: 100%;
                            height: 4.8rem;

                            img {
                                height: 100%;
                            }
                        }
                    }
                }

                &-title {
                    font-family: Philosopher;
                    font-size: 4.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: uppercase;
                    margin-bottom: 5.4rem;
                }
            }

            &-categories {
                display: none;

                @include small-tablet {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    gap: 3.2rem;
                    margin: 0 -3.2rem;
                    padding: 0 3.2rem;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    pointer-events: auto;
                    user-select: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                }
            }

            &-category {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.6rem;
                background: #f3f0ff;
                padding: 1.6rem 3.2rem;
                border-radius: 20rem;

                &-title {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 120%;
                    text-transform: uppercase;
                    @extend %gradientColor;
                }
            }

            &-icon {
                max-width: 5.6rem;
                width: 100%;
                height: 4rem;
                transition: 0.3s opacity ease;

                img {
                    height: 100%;
                }
            }

            > p {
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                transition:
                    color 0.3s ease-out,
                    0.3s opacity ease;
                white-space: nowrap;

                @include small-tablet {
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    white-space: initial;
                    max-width: 85%;
                }
            }

            > span {
                border-radius: 3rem;
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(0.35rem);
                position: relative;
                transition: 0.3s background ease;
                min-width: 3rem;
                height: 3rem;

                &::after {
                    @include pseudo {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        background: var(--backColor);
                        min-width: 1rem;
                        height: 1rem;
                    }
                }
            }

            &-slider {
                @media (min-width: 48em) {
                    position: absolute;
                    // right: -126rem;
                    right: -123.5rem;
                    width: 40rem;
                    top: -21rem;
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                    transition: 0.3s opacity ease;
                    visibility: hidden;
                    cursor: initial;
                }

                @include small-tablet {
                    .swiper-slide {
                        display: flex;
                        flex-direction: column-reverse;
                    }
                }

                &.--active {
                    opacity: 1;
                    user-select: auto;
                    pointer-events: auto;
                    visibility: visible;
                    animation: fade-in 0.5s both;
                }

                .dots__panel {
                    margin-bottom: 6.2rem;
                    width: fit-content;
                    margin-left: auto;

                    @include small-tablet {
                        margin: 0 auto 9.2rem;
                    }
                }
            }

            &-title {
                font-family: Philosopher;
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
                margin-bottom: 2.2rem;
            }

            &-description {
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 10.1rem;

                @include small-tablet {
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    margin-bottom: 4.8rem;
                }
            }

            &-service {
                display: flex;
                flex-direction: column;
                height: 29.6rem;
                padding: 3.2rem;
                border-radius: 1.8rem;
                background: $white;
                justify-content: space-between;
                gap: 2rem;
                position: relative;

                @include small-tablet {
                    height: 45rem;
                    padding: 4.8rem 4rem;
                    border-radius: 2.8rem;
                    gap: 4rem;
                    margin-bottom: 4rem;
                }

                &-image {
                    position: absolute;
                    right: -5.5rem;
                    bottom: 1.75rem;
                    max-width: 39rem;
                    width: 100%;
                    height: 20rem;

                    @include small-tablet {
                        right: -6.4rem;
                        top: 50%;
                        transform: translateY(-50%);
                        bottom: auto;
                        max-width: 44rem;
                        height: 22rem;
                    }
                }

                &-title {
                    font-family: Gilroy;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;

                    @include small-tablet {
                        font-size: 4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        text-transform: uppercase;
                    }
                }

                a {
                    position: relative;
                    z-index: 1;

                    img {
                        height: auto;
                    }
                }
            }
        }
    }

    &-bottom {
        position: relative;
        bottom: 3rem;
        left: 4rem;
        z-index: 3;

        @include small-tablet {
            bottom: -5rem;
            left: 0;
            z-index: 1;
        }

        &-reverse {
            max-width: 12rem;
            width: 100%;
            height: 6rem;
            position: absolute;
            top: -3rem;
            left: 34%;
            transition: 0.3s transform ease;

            @include small-tablet {
                max-width: 15.6rem;
                height: 7.6rem;
                top: -4rem;
                left: 38%;
            }

            &.--active {
                transform: rotateY(180deg);
            }
        }

        &-views {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 53.4rem;
            width: 100%;
            height: 15.8rem;
            background: url('./assets/images/layer/bottom-background.svg') no-repeat center;
            background-size: contain;
            padding-left: 6.6rem;
            padding-right: 4.4rem;

            @include small-tablet {
                height: 20rem;
                padding-left: 7.8rem;
                padding-right: 6.4rem;
                max-width: 100%;
            }
        }

        &-view {
            max-height: 12.4rem;
            cursor: pointer;

            @include small-tablet {
                max-height: 16.4rem;
            }

            &:nth-child(1) {
                max-width: 6.3rem;
                width: 100%;
                height: 12.4rem;

                @include small-tablet {
                    max-width: 8.4rem;
                    height: 16.4rem;
                }
            }

            &:nth-child(2) {
                max-width: 9.5rem;
                width: 100%;
                height: 11.3rem;

                @include small-tablet {
                    max-width: 11.2rem;
                    height: 13.2rem;
                }
            }
        }
    }
}
