.layer__content {
    max-width: 62rem;
    width: 100%;
    height: 64.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;

    &-problems {
        position: relative;

        &-view {
            transform: translate(-4rem, 1rem);
            max-width: 56rem;
            width: 100%;
            height: 61rem;
        }

        &-list {
            position: absolute;
            inset: 0;
        }

        &-item {
            max-width: 2.4rem;
            width: 100%;
            height: 2.4rem;
            position: absolute;
            z-index: 4;

            &:nth-child(1) {
                right: 28.5rem;
                top: -1.5rem;
            }

            &:nth-child(2) {
                right: 13.5rem;
                top: 8.5rem;
            }

            &:nth-child(3) {
                left: 12.5rem;
                top: 7.5rem;
            }

            &:nth-child(4) {
                right: 20.5rem;
                top: 23.5rem;
            }

            &:nth-child(5) {
                right: 38.5rem;
                top: 33.5rem;
            }

            &:nth-child(6) {
                right: 19.5rem;
                top: 40.5rem;
            }

            &:nth-child(7) {
                left: 13.5rem;
                top: 46.5rem;
            }

            &-counter {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                background: #d57dad;
                border-radius: 50%;
                color: $white;
                text-align: center;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                position: relative;
                transition:
                    0.3s color ease-in,
                    0.3s background ease-in;
                cursor: pointer;

                &:hover {
                    background: $white;
                    color: #d57dad;

                    &::after {
                        background: rgba(77, 58, 124, 0.15);
                    }

                    &::before {
                        background: #d57dad;
                    }
                }

                &::after {
                    @include pseudo {
                        top: 1.1rem;
                        right: 0.5rem;
                        width: 4.6rem;
                        height: 4.6rem;
                        z-index: -2;
                        border-radius: 4.6rem;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(0.35rem);
                        transition: 0.3s background ease-in;
                    }
                }

                &::before {
                    @include pseudo {
                        max-width: 2rem;
                        width: 100%;
                        height: 2rem;
                        top: 2.4rem;
                        right: 1.7rem;
                        border-radius: 50%;
                        background: $white;
                        z-index: -1;
                        transition: 0.3s background ease-in;
                    }
                }
            }
        }
    }

    &::after {
        @include pseudo {
            inset: -53rem;
            border-radius: 83.6rem;
            border: 0.2rem solid rgba(255, 255, 255, 0.37);
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @include small-tablet {
                border-radius: 50%;
                transform: none;
                width: 75rem;
                height: 76rem;
                inset: initial;
                top: -4rem;
                left: -3rem;
            }
        }
    }

    &-bottom {
        position: relative;
        bottom: 3rem;
        left: 4rem;

        &-reverse {
            max-width: 12rem;
            width: 100%;
            height: 6rem;
            position: absolute;
            top: -3rem;
            left: 34%;
        }

        &-views {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 53.4rem;
            width: 100%;
            height: 15.8rem;
            background: url('../../../assets/images/layer/bottom-background.svg') no-repeat center;
            background-size: cover;
            z-index: -1;
            padding-left: 6.6rem;
            padding-right: 4.4rem;
        }

        &-view {
            max-height: 12.4rem;

            &:nth-child(1) {
                max-width: 6.3rem;
                width: 100%;
                height: 12.4rem;
            }

            &:nth-child(2) {
                max-width: 9.5rem;
                width: 100%;
                height: 11.3rem;
            }
        }
    }
}
