.layer__content {
    max-width: 62rem;
    width: 100%;
    height: 64.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;

    &-wrapper {
        user-select: none;
        z-index: -1;
        display: none;
        visibility: hidden;

        &.--active {
            position: relative;
            display: block;
            animation: fade-in 0.8s both;
            user-select: auto;
            pointer-events: auto;
            z-index: 2;
            visibility: visible;
        }
    }

    &-problems {
        position: relative;
        top: 0;
        pointer-events: none;
        user-select: none;
        z-index: -1;
        visibility: hidden;

        &.--active {
            position: absolute;
            display: block;
            animation: fade-in 0.8s both;
            user-select: auto;
            pointer-events: auto;
            z-index: 2;
            visibility: visible;
        }

        &-view {
            transform: translate(-4rem, 1rem);
            max-width: 56rem;
            width: 100%;
            height: 61rem;
        }

        &-list {
            position: absolute;
            inset: 0;

            > li {
                position: absolute;
                inset: 0;

                &:nth-child(1) {
                    .layer__content-problems-item {
                        right: 28.5rem;
                        top: -1.5rem;
                    }
                }

                &:nth-child(2) {
                    .layer__content-problems-item {
                        right: 13.5rem;
                        top: 8.5rem;
                    }
                }

                &:nth-child(3) {
                    .layer__content-problems-item {
                        left: 12.5rem;
                        top: 7.5rem;
                    }
                }

                &:nth-child(4) {
                    .layer__content-problems-item {
                        right: 20.5rem;
                        top: 23.5rem;
                    }
                }

                &:nth-child(5) {
                    .layer__content-problems-item {
                        right: 38.5rem;
                        top: 33.5rem;
                    }
                }

                &:nth-child(6) {
                    .layer__content-problems-item {
                        right: 19.5rem;
                        top: 40.5rem;
                    }
                }

                &:nth-child(7) {
                    .layer__content-problems-item {
                        left: 13.5rem;
                        top: 46.5rem;
                    }
                }
            }
        }

        &-item {
            max-width: 2.4rem;
            width: 100%;
            height: 2.4rem;
            position: absolute;
            z-index: 4;

            &-counter {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                background: #d57dad;
                border-radius: 50%;
                color: $white;
                text-align: center;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                position: relative;
                transition:
                    0.3s color ease-in,
                    0.3s background ease-in;
                cursor: pointer;

                &.--active {
                    background: $white;
                    color: #d57dad;

                    &::after {
                        background: rgba(77, 58, 124, 0.15);
                    }

                    &::before {
                        background: #d57dad;
                    }
                }

                &:hover {
                    background: $white;
                    color: #d57dad;

                    &::after {
                        background: rgba(77, 58, 124, 0.15);
                    }

                    &::before {
                        background: #d57dad;
                    }
                }

                &::after {
                    @include pseudo {
                        top: 1.1rem;
                        right: 0.5rem;
                        width: 4.6rem;
                        height: 4.6rem;
                        z-index: -2;
                        border-radius: 4.6rem;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(0.35rem);
                        transition: 0.3s background ease-in;
                    }
                }

                &::before {
                    @include pseudo {
                        max-width: 2rem;
                        width: 100%;
                        height: 2rem;
                        top: 2.4rem;
                        right: 1.7rem;
                        border-radius: 50%;
                        background: $white;
                        z-index: -1;
                        transition: 0.3s background ease-in;
                    }
                }
            }
        }

        &-dots {
            display: none;
            position: absolute;
            left: -54rem;
            top: 25rem;
            flex-direction: column;
            align-items: flex-end;
            gap: 2.4rem;

            &.--active {
                display: flex;
                animation: fade-in 0.3s linear both;

                @for $i from 1 through 7 {
                    li:nth-child(#{$i}) {
                        animation-delay: 0.3s * $i;
                    }
                }
            }

            .layer__content-problems-dot {
                &:nth-child(2) {
                    transform: translateX(-0.5rem);

                    .layer__content-problems-dot-slider {
                        top: -26.5rem;
                        right: -126.5rem;
                    }
                }

                &:nth-child(3) {
                    transform: translateX(-0.5rem);

                    .layer__content-problems-dot-slider {
                        top: -32rem;
                        right: -126.5rem;
                    }
                }

                &:nth-child(5) {
                    transform: translateX(2rem);

                    .layer__content-problems-dot-slider {
                        top: -42.5rem;
                        right: -124rem;
                    }
                }

                &:nth-child(6) {
                    transform: translateX(4.5rem);

                    .layer__content-problems-dot-slider {
                        top: -48rem;
                        right: -121.5rem;
                    }
                }

                &:nth-child(7) {
                    transform: translateX(8rem);

                    .layer__content-problems-dot-slider {
                        top: -53.5rem;
                        right: -118rem;
                    }
                }
            }
        }

        &-dot {
            display: flex;
            align-items: center;
            gap: 2.8rem;
            cursor: pointer;
            justify-content: flex-end;
            width: fit-content;
            animation: fade-in 0.5s linear both;

            &.--active {
                > p {
                    color: #d57dad;
                }

                > span {
                    background: rgba(77, 58, 124, 0.15);
                }
            }

            &:hover {
                > p {
                    color: #d57dad;
                }

                > span {
                    background: rgba(77, 58, 124, 0.15);
                }
            }

            > p {
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                transition: color 0.3s ease-out;
                white-space: nowrap;
            }

            > span {
                border-radius: 3rem;
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(0.35rem);
                position: relative;
                transition: 0.3s background ease;
                min-width: 3rem;
                height: 3rem;

                &::after {
                    @include pseudo {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        background: linear-gradient(284deg, #d65986 -15.39%, #a261f9 112.18%);
                        min-width: 1rem;
                        height: 1rem;
                    }
                }
            }

            &-slider {
                position: absolute;
                right: -126rem;
                width: 40rem;
                top: -21rem;
                opacity: 0;
                user-select: none;
                pointer-events: none;
                transition: 0.3s opacity ease;
                visibility: hidden;
                cursor: initial;

                &.--active {
                    opacity: 1;
                    user-select: auto;
                    pointer-events: auto;
                    visibility: visible;
                    animation: fade-in 0.5s both;
                }

                .dots__panel {
                    margin-bottom: 6.2rem;
                    width: fit-content;
                    margin-left: auto;
                }
            }

            &-title {
                font-family: Philosopher;
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
                margin-bottom: 2.2rem;
            }

            &-description {
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 10.1rem;
            }

            &-service {
                display: flex;
                flex-direction: column;
                height: 29.6rem;
                padding: 3.2rem;
                border-radius: 1.8rem;
                background: $white;
                justify-content: space-between;
                gap: 2rem;
                position: relative;

                &-image {
                    position: absolute;
                    right: -5.5rem;
                    bottom: 1.75rem;
                    max-width: 39rem;
                    width: 100%;
                    height: 20rem;
                }

                &-title {
                    font-family: Gilroy;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    text-transform: uppercase;
                }

                a {
                    position: relative;
                    z-index: 1;
                    img {
                        height: auto;
                    }
                }
            }
        }
    }

    &::after {
        @include pseudo {
            inset: -53rem;
            border-radius: 83.6rem;
            border: 0.2rem solid rgba(255, 255, 255, 0.37);
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @include small-tablet {
                border-radius: 50%;
                transform: none;
                width: 75rem;
                height: 76rem;
                inset: initial;
                top: -4rem;
                left: -3rem;
            }
        }
    }

    &-bottom {
        position: relative;
        bottom: 3rem;
        left: 4rem;
        z-index: 3;

        &-reverse {
            max-width: 12rem;
            width: 100%;
            height: 6rem;
            position: absolute;
            top: -3rem;
            left: 34%;
            transition: 0.3s transform ease;

            &.--active {
                transform: rotateY(180deg);
            }
        }

        &-views {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 53.4rem;
            width: 100%;
            height: 15.8rem;
            background: url('./assets/images/layer/bottom-background.svg') no-repeat center;
            background-size: cover;
            padding-left: 6.6rem;
            padding-right: 4.4rem;
        }

        &-view {
            max-height: 12.4rem;
            cursor: pointer;

            &:nth-child(1) {
                max-width: 6.3rem;
                width: 100%;
                height: 12.4rem;
            }

            &:nth-child(2) {
                max-width: 9.5rem;
                width: 100%;
                height: 11.3rem;
            }
        }
    }
}
